body {
}


.contents-wrap-middle {
    background: #ffffff;
}

#main h4 {
    font-size: 120%;
    border-left: 8px solid #666666;
    border-bottom: dotted 1px #cccccc;
    line-height: 26px;
    padding-left: 5px;
    /*    margin-top: 30px;
    margin-bottom: 30px;*/
    color: #333333;
}

.header {
    float: left;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFF6EE;
    border-left: 1px solid lightgray;
    text-align: center;
    padding: 0 5px;
}

.modal-h {
    margin-top: 0;
    margin-bottom: 0;
}



.modal-header2 {
    padding: 0;
    margin: 0;
}

#group-list .group-container {
    display: table;
    table-layout: fixed;
    width: 995px;
}

.elements-container {
    display: table;
    border-bottom: 1px solid lightgray;
    clear: both;
}

    .elements-container .element-block.up, .elements-container .element-block.down {
        cursor: pointer;
        width: 39px;
        border: 1px solid gray;
        text-align: center;
    }

    .elements-container .element-block.code {
        width: 90px;
        border-right: 1px solid lightgray;
        border-left: 1px solid lightgray;
    }

    .elements-container .element-block.name {
    }

element-block {
    float: left;
    padding: 0 5px;
}


#group-list .element-block {
    display: table-cell;
    overflow-wrap: break-word;
}




.vertical {
    writing-mode: vertical-rl;
}

table.ex_tableSyaryoCost {
}

    table.ex_tableSyaryoCost td {
        padding: 0 0.5rem 0 0.5rem;
        margin: 0;
    }

.syaryoCostRightArea {
    /*background-color: blueviolet;*/
    margin-bottom: 1rem;
    border: double;
    padding: 10px;
}

    .syaryoCostRightArea td {
        padding: 0;
        margin: 0;
    }

#all {
    text-align: left;
    padding: 0 0 25px 0;
    min-height: 100%;
}

    #all h2 span.icons {
        padding-right: 10px;
        color: #007bff;
    }


.menuCenter {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    display: table-cell !important;
    vertical-align: middle;
    text-align: center;
    height: 41px;
    width: 197px;
}

.icons {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#sub {
    border-bottom: 1px solid #d4d4d4;
    background-color: powderblue;
    padding-top: 8px;
}

    #sub .subInner {
        /*width: 1250px;*/
        height: 34px;
        margin: 0 auto;
    }

    #sub ul {
    }

        #sub ul li {
            display: inline;
            vertical-align: bottom;
        }

#wrap {
    /*width: 1250px;*/
    margin: 0 auto;
}

#wrap-inside {
}

#main #content {
    /*    width: 1250px;*/
    margin: 5px auto;
}

#contents {
    float: left;
    padding: 5px;
    width: 78%;
    /*background: none;*/
    clear: both;
}

#scrollspy {
    float: right;
    min-width: 100px;
    width: 20%;
}



#navbar {
}

    #navbar.fixed {
        position: fixed;
        top: 200px;
    }

.bg-white {
    background-color: white;
}

div.setting-separator {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 15px 0;
    border-bottom: 2px solid black;
    padding-left: 5px;
}

ul li, ol li {
    margin: 0px;
    padding: 0px;
}

/*li {
    display: list-item;*/
/*    text-align: -webkit-match-parent;*/
/*}*/



.bg-white {
    background-color: white;
}


table.table-setting {
    border: medium;
    /*margin-bottom: 0px;*/
}

    table.table-setting thead {
        background-color: lightblue;
    }



.sight-settings {
    float: left;
    border-top: 1px solid #ffcc99;
    padding: 5px 5px;
    width: 99%;
    display: inline-table;
}

    .sight-settings .title {
        width: 25%;
        display: table-cell;
        vertical-align: middle;
        padding: 5px 10px;
        background-color: lightblue;
    }

    .sight-settings .buttons {
        width: 25%;
        display: table-cell;
        vertical-align: middle;
        background-color: lightgoldenrodyellow;
    }

    .sight-settings .description {
        width: 34%;
        display: table-cell;
        vertical-align: middle;
        padding: 5px 10px;
        background-color: lightgoldenrodyellow;
        font-size: 13px;
    }


.company-settings {
    float: left;
    border-top: 1px solid #ffcc99;
    padding: 5px 5px;
    width: 98%;
    display: inline-table;
    background-color: WhiteSmoke;
}

    .company-settings .title {
        width: 18%;
        display: table-cell;
        vertical-align: middle;
        padding: 5px 10px;
        background-color: honeydew;
        text-align: right;
    }

    .company-settings .buttons {
        /*width: 40%;*/
        display: table-cell;
        vertical-align: middle;
        background-color: honeydew;
    }

    .company-settings .description {
        width: 15%;
        display: table-cell;
        vertical-align: middle;
        padding: 5px 10px;
        background-color: honeydew;
        font-size: 13px;
    }

    .company-settings .buttonsCol2 {
        /*width: 55%;*/
        display: table-cell;
        vertical-align: middle;
        background-color: honeydew;
        /*        padding-right: 60px;
        margin-right: 30px;*/
    }






div.buttons {
}

    div.buttons .radio-button {
        float: left;
        width: 30px;
        text-align: center;
    }

    div.buttons .radio-label {
        float: left;
        width: 80px;
    }

    div.buttons .btn-nl {
        clear: both;
    }

.nav-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

    .nav-list > li {
        width: 100%;
    }

        .nav-list > li > a,
        .nav-list .nav-header {
            margin-left: -15px;
            margin-right: -15px;
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        }

        .nav-list > li > a {
            padding: 3px 15px;
            color: #7D7D7D;
            text-decoration: underline;
        }

    .nav-list > .active > a,
    .nav-list > .active > a:hover,
    .nav-list > .active > a:focus {
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        background-color: #0088cc;
    }

/*li a {
    color: #7D7D7D;
    text-decoration: underline;
}*/

.nav {
}

    .nav > li > a {
        display: block;
    }

        .nav > li > a:hover,
        .nav > li > a:focus {
            text-decoration: none;
            background-color: #eeeeee;
        }

        .nav > li > a > img {
            max-width: none;
        }

    .nav > .pull-right {
        float: right;
    }

.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.nav li + .nav-header {
    margin-top: 9px;
}




.nav-tabs,
.nav-pills {
    *zoom: 1;
}

    .nav-tabs:before,
    .nav-pills:before,
    .nav-tabs:after,
    .nav-pills:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .nav-tabs:after,
    .nav-pills:after {
        clear: both;
    }

    .nav-tabs > li,
    .nav-pills > li {
        float: left;
    }

        .nav-tabs > li > a,
        .nav-pills > li > a {
            padding-right: 12px;
            padding-left: 12px;
            margin-right: 2px;
            line-height: 14px;
        }

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

    .nav-tabs > li {
        margin-bottom: -1px;
    }

        .nav-tabs > li > a {
            padding-top: 8px;
            padding-bottom: 8px;
            line-height: 20px;
            border: 1px solid transparent;
            //-webkit-border-radius: 4px 4px 0 0;
            //-moz-border-radius: 4px 4px 0 0;
            //border-radius: 4px 4px 0 0;
        }

            .nav-tabs > li > a:hover,
            .nav-tabs > li > a:focus {
                border-color: #eeeeee #eeeeee #dddddd;
            }

    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover,
    .nav-tabs > .active > a:focus {
        color: #555555;
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }



/***** jbc2 custom *****/
ul.nav-tabs-jbc {
    text-align: center;
    font-size: 12px;
    border-bottom: none;
}

    ul.nav-tabs-jbc li {
        width: 160px;
        margin: 0 1px;
    }

        ul.nav-tabs-jbc li a {
            line-height: 16px;
            text-decoration: none;
            color: #555555;
            background-color: #FBF8EC;
            //background-image: -webkit-linear-gradient(top, #ffffff, #FBF8EC); /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
            //background-image: -moz-linear-gradient(top, #ffffff, #FBF8EC); /* Firefox 3.6-15.0 */
            //background-image: -o-linear-gradient(top, #ffffff, #FBF8EC); /* Opera 11.10-12.10 */
            //background-image: linear-gradient(to bottom, #ffffff, #FBF8EC); /* IE10, Firefox 16.0+, Opera 12.50+ */
            /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffFBF8EC', GradientType=0);*/ /* IE 5.5-7 */

            border: 1px solid #ddd;
            border-bottom-color: transparent;
        }

            ul.nav-tabs-jbc li a:hover {
                border: 1px solid #ddd;
                border-bottom-color: transparent;
                background-image: linear-gradient(to top, #ffffff, #FBF8EC);
                background-image: -webkit-linear-gradient(top, #ffffff, #FBF8EC); /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
                background-image: -moz-linear-gradient(top, #ffffff, #FBF8EC); /* Firefox 3.6-15.0 */
                background-image: -o-linear-gradient(top, #ffffff, #FBF8EC); /* Opera 11.10-12.10 */
                background-image: linear-gradient(to bottom, #ffffff, #FBF8EC); /* IE10, Firefox 16.0+, Opera 12.50+ */
                /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffFBF8EC', GradientType=0);*/ /* IE 5.5-7 */
            }

        ul.nav-tabs-jbc li.active a {
            color: #fff;
            background-color: #5baed6;
            /*  background-image: linear-gradient(to bottom, #479FFF, #2465FD);*/

            //background-image: -webkit-linear-gradient(top, #479FFF, #2465FD); /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
            //background-image: -moz-linear-gradient(top, #479FFF, #2465FD); /* Firefox 3.6-15.0 */
            //background-image: -o-linear-gradient(top, #479FFF, #2465FD); /* Opera 11.10-12.10 */
            //background-image: linear-gradient(to bottom, #479FFF, #2465FD); /* IE10, Firefox 16.0+, Opera 12.50+ */
            /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff479FFF', endColorstr='#ff2465FD', GradientType=0);*/ /* IE 5.5-7 */
        }

            ul.nav-tabs-jbc li.active a:hover {
                //color: #555;
                //background-color: #2465FD;
                cursor: pointer;
            }


/*.navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fafafa;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    *zoom: 1;
}

    .navbar-inner:before,
    .navbar-inner:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .navbar-inner:after {
        clear: both;
    }
*/


.tables {
    width: 90%;
    display: table-cell;
    vertical-align: middle;
    background-color: #FFFaF5;
}
