USE [Haisya]
GO
ALTER TABLE [dbo].[M_Report_Output_Item] DROP CONSTRAINT [DF_M_Report_Output_Item_Sort_Order]
GO
ALTER TABLE [dbo].[M_Report_Output_Item] DROP CONSTRAINT [DF_M_Report_Output_Item_User_ID]
GO
ALTER TABLE [dbo].[M_Report_Output_Item] DROP CONSTRAINT [DF_M_Report_Output_Item_Company_ID]
GO
/****** Object:  Table [dbo].[M_Report_Output_Item]    Script Date: 2024/07/17 18:26:01 ******/
DROP TABLE [dbo].[M_Report_Output_Item]
GO
/****** Object:  Table [dbo].[M_Report_Output_Item]    Script Date: 2024/07/17 18:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Report_Output_Item](
	[Report_Serch_Kubun_ID] [int] NOT NULL,
	[Report_Output_Item_ID] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Sort_Order] [int] NOT NULL,
	[Csv_Title] [nvarchar](20) NULL,
 CONSTRAINT [PK_M_Report_Output_Item] PRIMARY KEY CLUSTERED 
(
	[Report_Serch_Kubun_ID] ASC,
	[Report_Output_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_Report_Output_Item] ADD  CONSTRAINT [DF_M_Report_Output_Item_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[M_Report_Output_Item] ADD  CONSTRAINT [DF_M_Report_Output_Item_User_ID]  DEFAULT ((0)) FOR [User_ID]
GO
ALTER TABLE [dbo].[M_Report_Output_Item] ADD  CONSTRAINT [DF_M_Report_Output_Item_Sort_Order]  DEFAULT ((0)) FOR [Sort_Order]
GO
