USE [Haisya]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] DROP CONSTRAINT [DF_M_Report_Serch_Item_NotNull_Flg]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] DROP CONSTRAINT [DF_M_Report_Serch_Item_MaxLength]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] DROP CONSTRAINT [DF_M_Report_Serch_Item_Inputbox_Width]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] DROP CONSTRAINT [DF_M_Report_Serch_Item_Calender_Flg]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] DROP CONSTRAINT [DF_M_Report_Serch_Item_Inputbox_Enabled]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] DROP CONSTRAINT [DF_M_Report_Serch_Item_SelectBtn]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] DROP CONSTRAINT [DF_M_Report_Serch_Item_Row_Order]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] DROP CONSTRAINT [DF_M_Report_Serch_Item_Sort_Order]
GO
/****** Object:  Table [dbo].[M_Report_Serch_Item]    Script Date: 2024/07/17 18:26:01 ******/
DROP TABLE [dbo].[M_Report_Serch_Item]
GO
/****** Object:  Table [dbo].[M_Report_Serch_Item]    Script Date: 2024/07/17 18:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Report_Serch_Item](
	[Report_Serch_Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Report_Serch_Kubun_ID] [int] NOT NULL,
	[Sort_Order] [int] NOT NULL,
	[Row_Order] [int] NOT NULL,
	[Display_Title] [nvarchar](50) NULL,
	[Display_Message] [nvarchar](50) NULL,
	[SelectBtn] [int] NOT NULL,
	[SelectBtnOnClick] [nvarchar](50) NULL,
	[Inputbox_Enabled] [int] NOT NULL,
	[Calender_Flg] [int] NOT NULL,
	[Inputbox_Width] [float] NOT NULL,
	[MaxLength] [int] NOT NULL,
	[Inputbox_Type] [nvarchar](20) NULL,
	[Inputbox_Formart] [nvarchar](20) NULL,
	[Model_Prooerty] [nvarchar](20) NULL,
	[Between_Display] [nvarchar](10) NULL,
	[NotNull_Flg] [int] NOT NULL,
	[Default_Val] [nvarchar](50) NULL,
 CONSTRAINT [PK_M_Report_Serch_Item] PRIMARY KEY CLUSTERED 
(
	[Report_Serch_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_Report_Serch_Item] ADD  CONSTRAINT [DF_M_Report_Serch_Item_Sort_Order]  DEFAULT ((0)) FOR [Sort_Order]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] ADD  CONSTRAINT [DF_M_Report_Serch_Item_Row_Order]  DEFAULT ((0)) FOR [Row_Order]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] ADD  CONSTRAINT [DF_M_Report_Serch_Item_SelectBtn]  DEFAULT ((0)) FOR [SelectBtn]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] ADD  CONSTRAINT [DF_M_Report_Serch_Item_Inputbox_Enabled]  DEFAULT ((0)) FOR [Inputbox_Enabled]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] ADD  CONSTRAINT [DF_M_Report_Serch_Item_Calender_Flg]  DEFAULT ((0)) FOR [Calender_Flg]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] ADD  CONSTRAINT [DF_M_Report_Serch_Item_Inputbox_Width]  DEFAULT ((0)) FOR [Inputbox_Width]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] ADD  CONSTRAINT [DF_M_Report_Serch_Item_MaxLength]  DEFAULT ((0)) FOR [MaxLength]
GO
ALTER TABLE [dbo].[M_Report_Serch_Item] ADD  CONSTRAINT [DF_M_Report_Serch_Item_NotNull_Flg]  DEFAULT ((0)) FOR [NotNull_Flg]
GO
