USE [Haisya]
GO
/****** Object:  Table [dbo].[T_Jiko_Items]    Script Date: 2024/07/16 19:23:56 ******/
DROP TABLE [dbo].[T_Jiko_Items]
GO
/****** Object:  Table [dbo].[T_Jiko_Items]    Script Date: 2024/07/16 19:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Jiko_Items](
	[Jiko_ID] [int] NOT NULL,
	[Jiko_Items_ID] [int] NOT NULL,
	[Jiko_Items_Val_String] [nvarchar](255) NULL,
	[Jiko_Items_Val_Int] [int] NULL,
	[Jiko_Items_Val_Double] [float] NULL,
	[Jiko_Items_Val_Money] [money] NULL,
	[Jiko_Items_Val_Datetime] [datetime] NULL,
 CONSTRAINT [PK_T_Jiko_Items] PRIMARY KEY CLUSTERED 
(
	[Jiko_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
