USE [Haisya]
GO
ALTER TABLE [dbo].[M_Report_Serch_Kubun] DROP CONSTRAINT [DF_M_Report_Serch_Kubun_Sort_Order]
GO
/****** Object:  Table [dbo].[M_Report_Serch_Kubun]    Script Date: 2024/07/17 18:26:01 ******/
DROP TABLE [dbo].[M_Report_Serch_Kubun]
GO
/****** Object:  Table [dbo].[M_Report_Serch_Kubun]    Script Date: 2024/07/17 18:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Report_Serch_Kubun](
	[Report_Serch_Kubun_ID] [int] IDENTITY(1,1) NOT NULL,
	[Report_Serch_ID] [int] NOT NULL,
	[Sort_Order] [int] NOT NULL,
	[Display_Title] [nvarchar](50) NOT NULL,
	[Report_Html] [nvarchar](50) NULL,
	[Proc_Name] [nvarchar](50) NULL,
	[Class_Name] [nvarchar](50) NULL,
	[Data_Sort] [nvarchar](255) NULL,
 CONSTRAINT [PK_M_Report_Serch_Kubun] PRIMARY KEY CLUSTERED 
(
	[Report_Serch_Kubun_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_Report_Serch_Kubun] ADD  CONSTRAINT [DF_M_Report_Serch_Kubun_Sort_Order]  DEFAULT ((0)) FOR [Sort_Order]
GO
