USE [Haisya]
GO
/****** Object:  Table [dbo].[M_Jiko_Items]    Script Date: 2024/07/16 19:23:56 ******/
DROP TABLE [dbo].[M_Jiko_Items]
GO
/****** Object:  Table [dbo].[M_Jiko_Items]    Script Date: 2024/07/16 19:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Jiko_Items](
	[Jiko_Items_ID] [int] NOT NULL,
	[Jiko_Items_Name] [nvarchar](50) NOT NULL,
	[Jiko_Items_Prop_Name] [nvarchar](50) NOT NULL,
	[Jiko_Items_Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_M_Jiko_Items] PRIMARY KEY CLUSTERED 
(
	[Jiko_Items_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
