USE [Haisya]
GO
ALTER TABLE [dbo].[T_Haisya_Yosya] DROP CONSTRAINT [DF_T_Haisya_Yosya_Unso_Flg]
GO
ALTER TABLE [dbo].[T_Haisya_Yosya] DROP CONSTRAINT [DF_T_Haisya_Yosya_YosyaDriverSyaryo_ID]
GO
ALTER TABLE [dbo].[T_Haisya_Yosya] DROP CONSTRAINT [DF_T_Haisya_Yosya_YosyaDriver_ID]
GO
/****** Object:  Table [dbo].[T_Haisya_Yosya]    Script Date: 2024/06/10 15:07:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Haisya_Yosya]') AND type in (N'U'))
DROP TABLE [dbo].[T_Haisya_Yosya]
GO
/****** Object:  Table [dbo].[T_Haisya_Yosya]    Script Date: 2024/06/10 15:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Haisya_Yosya](
	[Haisya_ID] [int] NOT NULL,
	[Yosya_Sort] [int] NOT NULL,
	[Yosya_ID] [int] NOT NULL,
	[Yosya_Tantou_ID] [int] NOT NULL,
	[YosyaDriver_ID] [int] NOT NULL,
	[YosyaDriverSyaryo_ID] [int] NOT NULL,
	[Unso_Flg] [int] NOT NULL,
 CONSTRAINT [PK_T_Haisya_Yosya] PRIMARY KEY CLUSTERED 
(
	[Haisya_ID] ASC,
	[Yosya_Sort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[T_Haisya_Yosya] ([Haisya_ID], [Yosya_Sort], [Yosya_ID], [Yosya_Tantou_ID], [YosyaDriver_ID], [YosyaDriverSyaryo_ID], [Unso_Flg]) VALUES (17, 0, 1, 0, 1, 1, 0)
INSERT [dbo].[T_Haisya_Yosya] ([Haisya_ID], [Yosya_Sort], [Yosya_ID], [Yosya_Tantou_ID], [YosyaDriver_ID], [YosyaDriverSyaryo_ID], [Unso_Flg]) VALUES (17, 1, 1, 0, 2, 2, 0)
GO
ALTER TABLE [dbo].[T_Haisya_Yosya] ADD  CONSTRAINT [DF_T_Haisya_Yosya_YosyaDriver_ID]  DEFAULT ((0)) FOR [YosyaDriver_ID]
GO
ALTER TABLE [dbo].[T_Haisya_Yosya] ADD  CONSTRAINT [DF_T_Haisya_Yosya_YosyaDriverSyaryo_ID]  DEFAULT ((0)) FOR [YosyaDriverSyaryo_ID]
GO
ALTER TABLE [dbo].[T_Haisya_Yosya] ADD  CONSTRAINT [DF_T_Haisya_Yosya_Unso_Flg]  DEFAULT ((0)) FOR [Unso_Flg]
GO
