USE [Haisya]
GO
/****** Object:  Table [dbo].[M_Yosya]    Script Date: 2024/07/11 19:03:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_Yosya]') AND type in (N'U'))
DROP TABLE [dbo].[M_Yosya]
GO
