USE [Haisya]
GO
ALTER TABLE [dbo].[M_LoginUser] DROP CONSTRAINT [DF_M_LoginUser_RenkeiWeb_License]
GO
ALTER TABLE [dbo].[M_LoginUser] DROP CONSTRAINT [DF_M_LoginUser_SeikyuWeb_License]
GO
ALTER TABLE [dbo].[M_LoginUser] DROP CONSTRAINT [DF_M_LoginUser_HaisyaWeb_License]
GO
ALTER TABLE [dbo].[M_LoginUser] DROP CONSTRAINT [DF_M_LoginUser_Del_Flg]
GO
ALTER TABLE [dbo].[M_LoginUser] DROP CONSTRAINT [DF_M_LoginUser_UP_DATE]
GO
ALTER TABLE [dbo].[M_LoginUser] DROP CONSTRAINT [DF_M_LoginUser_DefaultGroup]
GO
ALTER TABLE [dbo].[M_LoginUser] DROP CONSTRAINT [DF_M_LoginUser_Role]
GO
ALTER TABLE [dbo].[M_LoginUser] DROP CONSTRAINT [DF_M_LoginUser_Lock_Flg]
GO
/****** Object:  Table [dbo].[M_LoginUser]    Script Date: 2024/07/02 18:31:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_LoginUser]') AND type in (N'U'))
DROP TABLE [dbo].[M_LoginUser]
GO
/****** Object:  Table [dbo].[M_LoginUser]    Script Date: 2024/07/02 18:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_LoginUser](
	[LoginUser_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[LoginID] [varchar](10) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[Lock_Flg] [bit] NOT NULL,
	[Role] [int] NOT NULL,
	[DefaultEria] [nvarchar](20) NULL,
	[DefaultSyasyu] [nvarchar](20) NULL,
	[DefaultKata] [nvarchar](20) NULL,
	[DefaultGroup] [int] NOT NULL,
	[UP_DATE] [datetime] NOT NULL,
	[Del_Flg] [bit] NOT NULL,
	[HaisyaWeb_License] [bit] NOT NULL,
	[SeikyuWeb_License] [bit] NOT NULL,
	[RenkeiWeb_License] [bit] NOT NULL,
 CONSTRAINT [PK_M_LoginUser] PRIMARY KEY CLUSTERED 
(
	[LoginUser_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[M_LoginUser] ON 

INSERT [dbo].[M_LoginUser] ([LoginUser_ID], [User_ID], [LoginID], [Password], [Lock_Flg], [Role], [DefaultEria], [DefaultSyasyu], [DefaultKata], [DefaultGroup], [UP_DATE], [Del_Flg], [HaisyaWeb_License], [SeikyuWeb_License], [RenkeiWeb_License]) VALUES (1, 1, N'masuda99', N'1', 0, 1, N'中国', NULL, NULL, 0, CAST(N'2023-04-14T17:23:04.207' AS DateTime), 0, 0, 0, 0)
INSERT [dbo].[M_LoginUser] ([LoginUser_ID], [User_ID], [LoginID], [Password], [Lock_Flg], [Role], [DefaultEria], [DefaultSyasyu], [DefaultKata], [DefaultGroup], [UP_DATE], [Del_Flg], [HaisyaWeb_License], [SeikyuWeb_License], [RenkeiWeb_License]) VALUES (2, 5, N'nagawa-h', N'1', 0, 1, N'中国', N'15t', N'W', 0, CAST(N'2023-04-14T17:23:04.207' AS DateTime), 0, 0, 0, 0)
INSERT [dbo].[M_LoginUser] ([LoginUser_ID], [User_ID], [LoginID], [Password], [Lock_Flg], [Role], [DefaultEria], [DefaultSyasyu], [DefaultKata], [DefaultGroup], [UP_DATE], [Del_Flg], [HaisyaWeb_License], [SeikyuWeb_License], [RenkeiWeb_License]) VALUES (3, 6, N'hirase_r', N'1', 0, 1, N'中国', NULL, NULL, 0, CAST(N'2023-04-14T17:23:04.207' AS DateTime), 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[M_LoginUser] OFF
GO
ALTER TABLE [dbo].[M_LoginUser] ADD  CONSTRAINT [DF_M_LoginUser_Lock_Flg]  DEFAULT ((0)) FOR [Lock_Flg]
GO
ALTER TABLE [dbo].[M_LoginUser] ADD  CONSTRAINT [DF_M_LoginUser_Role]  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[M_LoginUser] ADD  CONSTRAINT [DF_M_LoginUser_DefaultGroup]  DEFAULT ((0)) FOR [DefaultGroup]
GO
ALTER TABLE [dbo].[M_LoginUser] ADD  CONSTRAINT [DF_M_LoginUser_UP_DATE]  DEFAULT (getdate()) FOR [UP_DATE]
GO
ALTER TABLE [dbo].[M_LoginUser] ADD  CONSTRAINT [DF_M_LoginUser_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[M_LoginUser] ADD  CONSTRAINT [DF_M_LoginUser_HaisyaWeb_License]  DEFAULT ((0)) FOR [HaisyaWeb_License]
GO
ALTER TABLE [dbo].[M_LoginUser] ADD  CONSTRAINT [DF_M_LoginUser_SeikyuWeb_License]  DEFAULT ((0)) FOR [SeikyuWeb_License]
GO
ALTER TABLE [dbo].[M_LoginUser] ADD  CONSTRAINT [DF_M_LoginUser_RenkeiWeb_License]  DEFAULT ((0)) FOR [RenkeiWeb_License]
GO
