USE [Haisya]
GO
ALTER TABLE [dbo].[T_Nippou_Toll_Other] DROP CONSTRAINT [DF_T_Nippou_Toll_Other_Update_User]
GO
ALTER TABLE [dbo].[T_Nippou_Toll_Other] DROP CONSTRAINT [DF_T_Nippou_Toll_Other_Insert_User]
GO
ALTER TABLE [dbo].[T_Nippou_Toll_Other] DROP CONSTRAINT [DF_T_Nippou_Toll_Other_Futan_Kubun]
GO
ALTER TABLE [dbo].[T_Nippou_Toll_Other] DROP CONSTRAINT [DF_T_Nippou_Toll_Other_Toll_Fee]
GO
ALTER TABLE [dbo].[T_Nippou_Toll_Other] DROP CONSTRAINT [DF_T_Nippou_Toll_Other_Sort]
GO
/****** Object:  Table [dbo].[T_Nippou_Toll_Other]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[T_Nippou_Toll_Other]
GO
/****** Object:  Table [dbo].[T_Nippou_Toll_Other]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Nippou_Toll_Other](
	[Nippou_Toll_Other_ID] [int] IDENTITY(1,1) NOT NULL,
	[Nippou_ID] [int] NOT NULL,
	[Sort] [int] NOT NULL,
	[DriverSyaryo_ID] [int] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[YosyaDriverSyaryo_ID] [int] NOT NULL,
	[YosyaDriver_ID] [int] NOT NULL,
	[Yosya_Branch_ID] [int] NOT NULL,
	[Day] [date] NOT NULL,
	[Toll_Kubun] [int] NOT NULL,
	[Start_Name] [nvarchar](50) NOT NULL,
	[End_Name] [nvarchar](50) NULL,
	[Toll_Fee] [money] NOT NULL,
	[Distance] [float] NULL,
	[Futan_Kubun] [int] NOT NULL,
	[Insert_Datetime] [datetime] NULL,
	[Insert_User] [int] NULL,
	[Update_Datetime] [datetime] NULL,
	[Update_User] [int] NULL,
 CONSTRAINT [PK_T_Nippou_Toll_Other] PRIMARY KEY CLUSTERED 
(
	[Nippou_Toll_Other_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_Nippou_Toll_Other] ADD  CONSTRAINT [DF_T_Nippou_Toll_Other_Sort]  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[T_Nippou_Toll_Other] ADD  CONSTRAINT [DF_T_Nippou_Toll_Other_Toll_Fee]  DEFAULT ((0)) FOR [Toll_Fee]
GO
ALTER TABLE [dbo].[T_Nippou_Toll_Other] ADD  CONSTRAINT [DF_T_Nippou_Toll_Other_Futan_Kubun]  DEFAULT ((0)) FOR [Futan_Kubun]
GO
ALTER TABLE [dbo].[T_Nippou_Toll_Other] ADD  CONSTRAINT [DF_T_Nippou_Toll_Other_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Nippou_Toll_Other] ADD  CONSTRAINT [DF_T_Nippou_Toll_Other_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
