USE [Haisya]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_TollSeikyu_Update_User]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_TollSeikyu_Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_TollSeikyu_Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_TollSeikyu_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_TollSeikyu_SeikyuKubun]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_TollSeikyu_Distance2]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_TollSeikyu_Distance1]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_TollSeikyuKubun_Seikyu_Type]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_TollSeikyu_Sort]
GO
/****** Object:  Table [dbo].[M_Customer_TollSeikyuKubun]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[M_Customer_TollSeikyuKubun]
GO
/****** Object:  Table [dbo].[M_Customer_TollSeikyuKubun]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Customer_TollSeikyuKubun](
	[Customer_Branch_ID] [int] NOT NULL,
	[Sort] [int] NOT NULL,
	[Seikyu_Type] [int] NOT NULL,
	[Distance1] [float] NOT NULL,
	[Distance2] [float] NOT NULL,
	[SeikyuKubun] [int] NULL,
	[Insert_Datetime] [datetime] NULL,
	[Insert_User] [int] NULL,
	[Update_Datetime] [datetime] NULL,
	[Update_User] [int] NULL,
	[Address1] [nvarchar](50) NULL,
	[Address2] [nvarchar](50) NULL,
 CONSTRAINT [PK_M_Customer_TollSeikyu] PRIMARY KEY CLUSTERED 
(
	[Customer_Branch_ID] ASC,
	[Sort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_TollSeikyu_Sort]  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_TollSeikyuKubun_Seikyu_Type]  DEFAULT ((0)) FOR [Seikyu_Type]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_TollSeikyu_Distance1]  DEFAULT ((0)) FOR [Distance1]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_TollSeikyu_Distance2]  DEFAULT ((0)) FOR [Distance2]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_TollSeikyu_SeikyuKubun]  DEFAULT ((0)) FOR [SeikyuKubun]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_TollSeikyu_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_TollSeikyu_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_TollSeikyu_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_TollSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_TollSeikyu_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
