USE [Haisya]
GO
ALTER TABLE [dbo].[M_DefaultMoney_WaitTimeForArea] DROP CONSTRAINT [DF_M_DefaultMoney_WaitTimeForEria_Amount1]
GO
ALTER TABLE [dbo].[M_DefaultMoney_WaitTimeForArea] DROP CONSTRAINT [DF_M_DefaultMoney_WaitTimeForEria_Amount]
GO
/****** Object:  Table [dbo].[M_DefaultMoney_WaitTimeForArea]    Script Date: 2024/07/31 10:09:25 ******/
DROP TABLE [dbo].[M_DefaultMoney_WaitTimeForArea]
GO
/****** Object:  Table [dbo].[M_DefaultMoney_WaitTimeForArea]    Script Date: 2024/07/31 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_DefaultMoney_WaitTimeForArea](
	[Area] [nvarchar](10) NOT NULL,
	[SyasyuSize] [nvarchar](20) NOT NULL,
	[Amount] [money] NOT NULL,
	[Amount_Over2Hour] [money] NOT NULL,
 CONSTRAINT [PK_M_DefaultMoney_WaitTimeForEria] PRIMARY KEY CLUSTERED 
(
	[SyasyuSize] ASC,
	[Area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[M_DefaultMoney_WaitTimeForArea] ([Area], [SyasyuSize], [Amount], [Amount_Over2Hour]) VALUES (N'沖縄', N'トレーラ', 2220.0000, 2670.0000)
INSERT [dbo].[M_DefaultMoney_WaitTimeForArea] ([Area], [SyasyuSize], [Amount], [Amount_Over2Hour]) VALUES (N'関東', N'トレーラ', 2220.0000, 2670.0000)
INSERT [dbo].[M_DefaultMoney_WaitTimeForArea] ([Area], [SyasyuSize], [Amount], [Amount_Over2Hour]) VALUES (N'近畿', N'トレーラ', 2220.0000, 2670.0000)
ALTER TABLE [dbo].[M_DefaultMoney_WaitTimeForArea] ADD  CONSTRAINT [DF_M_DefaultMoney_WaitTimeForEria_Amount]  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[M_DefaultMoney_WaitTimeForArea] ADD  CONSTRAINT [DF_M_DefaultMoney_WaitTimeForEria_Amount1]  DEFAULT ((0)) FOR [Amount_Over2Hour]
GO
