USE [Haisya]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Calc41]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Calc4]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Calc3]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Calc2]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Calc1]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible1_1]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible4]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible3]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible2]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible1]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] DROP CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible]
GO
/****** Object:  Table [dbo].[M_Yosya_Shiharai_Calc]    Script Date: 2024/07/02 18:31:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_Yosya_Shiharai_Calc]') AND type in (N'U'))
DROP TABLE [dbo].[M_Yosya_Shiharai_Calc]
GO
/****** Object:  Table [dbo].[M_Yosya_Shiharai_Calc]    Script Date: 2024/07/02 18:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Yosya_Shiharai_Calc](
	[Yosya_ID] [int] NOT NULL,
	[ShiharaiUnchin_Name] [nvarchar](10) NULL,
	[Tatekaekin_Name] [nvarchar](10) NULL,
	[Warimashi1_Name] [nvarchar](10) NULL,
	[Warimashi2_Name] [nvarchar](10) NULL,
	[Warimashi3_Name] [nvarchar](10) NULL,
	[Warimashi4_Name] [nvarchar](10) NULL,
	[Warimashi5_Name] [nvarchar](10) NULL,
	[ShiharaiTotal_Name] [nvarchar](10) NULL,
	[Warimashi1_Visible] [bit] NULL,
	[Warimashi2_Visible] [bit] NULL,
	[Warimashi3_Visible] [bit] NULL,
	[Warimashi4_Visible] [bit] NULL,
	[Warimashi5_Visible] [bit] NULL,
	[Warimashi1_Calc] [nvarchar](50) NULL,
	[Warimashi2_Calc] [nvarchar](50) NULL,
	[Warimashi3_Calc] [nvarchar](50) NULL,
	[Warimashi4_Calc] [nvarchar](50) NULL,
	[Warimashi5_Calc] [nvarchar](50) NULL,
	[ShiharaiTotal_Calc] [nvarchar](50) NULL,
 CONSTRAINT [PK_M_Yosya_Shiharai_Calc] PRIMARY KEY CLUSTERED 
(
	[Yosya_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible]  DEFAULT ((0)) FOR [Warimashi1_Visible]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible1]  DEFAULT ((0)) FOR [Warimashi2_Visible]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible2]  DEFAULT ((0)) FOR [Warimashi3_Visible]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible3]  DEFAULT ((0)) FOR [Warimashi4_Visible]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible4]  DEFAULT ((0)) FOR [Warimashi5_Visible]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Visible1_1]  DEFAULT ((0)) FOR [Warimashi1_Calc]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Calc1]  DEFAULT ((0)) FOR [Warimashi2_Calc]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Calc2]  DEFAULT ((0)) FOR [Warimashi3_Calc]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Calc3]  DEFAULT ((0)) FOR [Warimashi4_Calc]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Calc4]  DEFAULT ((0)) FOR [Warimashi5_Calc]
GO
ALTER TABLE [dbo].[M_Yosya_Shiharai_Calc] ADD  CONSTRAINT [DF_M_Yosya_Shiharai_Calc_Warimashi1_Calc41]  DEFAULT ((0)) FOR [ShiharaiTotal_Calc]
GO
