USE [Haisya]
GO
/****** Object:  Table [dbo].[M_Report_Detail_Param]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[M_Report_Detail_Param]
GO
/****** Object:  Table [dbo].[M_Report_Detail_Param]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Report_Detail_Param](
	[Report_Serch_Kubun_ID] [int] NOT NULL,
	[Sort_Order] [int] NOT NULL,
	[Param_Name] [nvarchar](50) NOT NULL,
	[Param_Type] [nvarchar](20) NULL,
	[Param_Val] [nvarchar](50) NULL,
	[Param_Format] [nvarchar](20) NULL,
	[Param_Default] [nvarchar](50) NULL,
	[Param_Model_Prooerty] [nvarchar](20) NULL,
 CONSTRAINT [PK_M_Report_Detail_Param] PRIMARY KEY CLUSTERED 
(
	[Report_Serch_Kubun_ID] ASC,
	[Sort_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
