USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Print_Parameter', @level2type=N'COLUMN',@level2name=N'Print_Kubun'
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_Print_Parameter_Update_User]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_Print_Parameter_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_Print_Parameter_Insert_User]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_Print_Parameter_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_Print_Parameter_Del_Flg]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_Print_Parameter_Data_ID]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_Print_Parameter_PrintKubun]
GO
/****** Object:  Table [dbo].[T_Print_Parameter]    Script Date: 2024/07/02 18:31:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Print_Parameter]') AND type in (N'U'))
DROP TABLE [dbo].[T_Print_Parameter]
GO
/****** Object:  Table [dbo].[T_Print_Parameter]    Script Date: 2024/07/02 18:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Print_Parameter](
	[Print_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tokun] [nchar](10) NOT NULL,
	[Limit_Date] [datetime] NULL,
	[Print_Kubun] [int] NOT NULL,
	[Data_ID] [int] NOT NULL,
	[Del_Datetime] [datetime] NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Print_Parameter] PRIMARY KEY CLUSTERED 
(
	[Print_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_Print_Parameter_PrintKubun]  DEFAULT ((0)) FOR [Print_Kubun]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_Print_Parameter_Data_ID]  DEFAULT ((0)) FOR [Data_ID]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_Print_Parameter_Del_Flg]  DEFAULT ((0)) FOR [Del_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_Print_Parameter_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_Print_Parameter_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_Print_Parameter_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_Print_Parameter_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'2：車番連絡、10：請求問合せ、11：下払問合せ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Print_Parameter', @level2type=N'COLUMN',@level2name=N'Print_Kubun'
GO
