USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense', @level2type=N'COLUMN',@level2name=N'Update_User'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense', @level2type=N'COLUMN',@level2name=N'Update_Datetime'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense', @level2type=N'COLUMN',@level2name=N'Insert_User'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense', @level2type=N'COLUMN',@level2name=N'Expense_Kubun'
GO
ALTER TABLE [dbo].[T_Expense] DROP CONSTRAINT [DF_T_Expense_Update_User]
GO
ALTER TABLE [dbo].[T_Expense] DROP CONSTRAINT [DF_T_Expense_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Expense] DROP CONSTRAINT [DF_T_Expense_Insert_User]
GO
ALTER TABLE [dbo].[T_Expense] DROP CONSTRAINT [DF_T_Expense_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Expense] DROP CONSTRAINT [DF_T_Expense_Driver_ID]
GO
ALTER TABLE [dbo].[T_Expense] DROP CONSTRAINT [DF_T_Expense_SyaryoManagement_ID]
GO
ALTER TABLE [dbo].[T_Expense] DROP CONSTRAINT [DF_T_Expense_Jiko_ID]
GO
ALTER TABLE [dbo].[T_Expense] DROP CONSTRAINT [DF_T_Expense_Expense_Kubun]
GO
/****** Object:  Table [dbo].[T_Expense]    Script Date: 2024/07/05 11:12:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Expense]') AND type in (N'U'))
DROP TABLE [dbo].[T_Expense]
GO
/****** Object:  Table [dbo].[T_Expense]    Script Date: 2024/07/05 11:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Expense](
	[Expense_ID] [int] IDENTITY(1,1) NOT NULL,
	[Expense_Kubun] [int] NOT NULL,
	[Jiko_ID] [int] NOT NULL,
	[SyaryoManagement_ID] [int] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Expense] PRIMARY KEY CLUSTERED 
(
	[Expense_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Expense] ADD  CONSTRAINT [DF_T_Expense_Expense_Kubun]  DEFAULT ((0)) FOR [Expense_Kubun]
GO
ALTER TABLE [dbo].[T_Expense] ADD  CONSTRAINT [DF_T_Expense_Jiko_ID]  DEFAULT ((0)) FOR [Jiko_ID]
GO
ALTER TABLE [dbo].[T_Expense] ADD  CONSTRAINT [DF_T_Expense_SyaryoManagement_ID]  DEFAULT ((0)) FOR [SyaryoManagement_ID]
GO
ALTER TABLE [dbo].[T_Expense] ADD  CONSTRAINT [DF_T_Expense_Driver_ID]  DEFAULT ((0)) FOR [Driver_ID]
GO
ALTER TABLE [dbo].[T_Expense] ADD  CONSTRAINT [DF_T_Expense_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Expense] ADD  CONSTRAINT [DF_T_Expense_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Expense] ADD  CONSTRAINT [DF_T_Expense_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Expense] ADD  CONSTRAINT [DF_T_Expense_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:乗務員,2:車輌,3:事故' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense', @level2type=N'COLUMN',@level2name=N'Expense_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense', @level2type=N'COLUMN',@level2name=N'Insert_User'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense', @level2type=N'COLUMN',@level2name=N'Update_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense', @level2type=N'COLUMN',@level2name=N'Update_User'
GO
