USE [Renkei]
GO
/****** Object:  StoredProcedure [dbo].[SP_T_Share_No]    Script Date: 2024/07/31 19:04:55 ******/
DROP PROCEDURE [dbo].[SP_T_Share_No]
GO
/****** Object:  StoredProcedure [dbo].[SP_T_Share_No]    Script Date: 2024/07/31 19:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_T_Share_No]
(
@SHARE_DATE DATETIME
,@ZERO_UME INT
)
AS
BEGIN




	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;



	--DECLARE @SHARE_DATE DATETIME
	--DECLARE @ZERO_UME INT

	--SET @SHARE_DATE = '2022/09/16'
	--SET @ZERO_UME = 7

	DECLARE @ROWCOUNT INT = 0
	DECLARE @ERROR_MESSAGE AS NVARCHAR(255)

	DECLARE @RESULT INT = 0
	DECLARE @RETURN VARCHAR(MAX)


	BEGIN
	
	BEGIN TRY

		BEGIN TRANSACTION T1
		BEGIN

			UPDATE [dbo].[T_Share_No]
					SET [NO] = [NO] + 1
					WHERE [NENDO] = YEAR(DATEADD(MONTH,-3,@SHARE_DATE))
			
			SET @ROWCOUNT = @@ROWCOUNT

			IF (@ROWCOUNT = 0)
				BEGIN
					INSERT INTO [dbo].[T_Share_No]
						   ([NENDO]
						   ,[NO])
					 VALUES
						   (
						   YEAR(DATEADD(MONTH,-3,@SHARE_DATE))
						   ,1
						   )


				END
			ELSE IF (@ROWCOUNT > 1)
				BEGIN
					SET @ERROR_MESSAGE =  'データ更新件数エラー:' + CONVERT(NVARCHAR(5),@ROWCOUNT) ;
					RAISERROR  ( @ERROR_MESSAGE, 16, 1);
				END

			DECLARE @NENDO AS INT = YEAR(DATEADD(MONTH,-3,@SHARE_DATE))

			SET @RESULT = (SELECT [NO] FROM [dbo].[T_Share_No] WHERE [NENDO] = @NENDO);

			SET @RETURN = 'S' +  CAST(@NENDO AS NVARCHAR(4)) + (SELECT FORMAT(@RESULT,REPLICATE('0', @ZERO_UME)))


		END

		COMMIT TRANSACTION T1


		--INSERT INTO [dbo].[T_BATCH_RESULT]
		--		   ([BATCH_NAME]
		--		   ,[EXIT_TIME]
		--		   ,[RESULT]
		--		   ,[MESSAGE])
		--	 VALUES
		--		   ('SP_T_Share_No'
		--		   ,GETDATE()
		--		   ,'OK'
		--		   ,NULL)

		
		   
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION T1

		SELECT   
			ERROR_NUMBER() AS ErrorNumber  
			,ERROR_MESSAGE() AS ErrorMessage;  

		INSERT INTO [dbo].[T_BATCH_RESULT]
			   ([BATCH_NAME]
			   ,[EXIT_TIME]
			   ,[RESULT]
			   ,[MESSAGE])
		 VALUES
			   ('SP_T_Share_No'
			   ,GETDATE()
			   ,'NG'
			   ,ERROR_MESSAGE())
	END CATCH


	END


	SELECT @RETURN AS Result


END






GO
