USE [Haisya]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] DROP CONSTRAINT [DF_T_Share_Syaryo_Detail_Syaryo_Weight1]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] DROP CONSTRAINT [DF_T_Share_Syaryo_Detail_Luggage_Weight]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] DROP CONSTRAINT [DF_T_Share_Syaryo_Detail_Syasyu]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] DROP CONSTRAINT [DF_T_Share_Syaryo_Detail_Update_User]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] DROP CONSTRAINT [DF_T_Share_Syaryo_Detail_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] DROP CONSTRAINT [DF_T_Share_Syaryo_Detail_Insert_User]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] DROP CONSTRAINT [DF_T_Share_Syaryo_Detail_Insert_Datetime]
GO
/****** Object:  Table [dbo].[T_Share_Syaryo_Detail]    Script Date: 2024/07/05 11:12:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Share_Syaryo_Detail]') AND type in (N'U'))
DROP TABLE [dbo].[T_Share_Syaryo_Detail]
GO
/****** Object:  Table [dbo].[T_Share_Syaryo_Detail]    Script Date: 2024/07/05 11:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Share_Syaryo_Detail](
	[Share_Syaryo_ID] [int] NOT NULL,
	[Share_Syaryo_Order] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
	[Empty_Car_Day] [date] NOT NULL,
	[Empty_Post_code] [nvarchar](10) NULL,
	[Empty_Address] [nvarchar](255) NULL,
	[Empty_Address2] [nvarchar](255) NULL,
	[Empty_Address3] [nvarchar](255) NULL,
	[Dest_Post_code] [nvarchar](10) NOT NULL,
	[Dest_Address] [nvarchar](255) NULL,
	[Dest_Address2] [nvarchar](255) NULL,
	[Dest_Address3] [nvarchar](255) NULL,
	[Remarks] [nvarchar](255) NULL,
	[Syaban] [nvarchar](4) NULL,
	[Syasyu] [int] NOT NULL,
	[SyasyuDisplay] [nvarchar](50) NULL,
	[Syaryo_Weight] [float] NOT NULL,
	[Syaryo_Total_Weight] [float] NOT NULL,
	[EquipmentDisplay] [nvarchar](100) NULL,
	[Driver_Name] [nvarchar](50) NULL,
	[Cell_Phone] [nvarchar](30) NULL,
 CONSTRAINT [PK_T_Share_Syaryo_Detail] PRIMARY KEY CLUSTERED 
(
	[Share_Syaryo_ID] ASC,
	[Share_Syaryo_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] ADD  CONSTRAINT [DF_T_Share_Syaryo_Detail_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] ADD  CONSTRAINT [DF_T_Share_Syaryo_Detail_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] ADD  CONSTRAINT [DF_T_Share_Syaryo_Detail_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] ADD  CONSTRAINT [DF_T_Share_Syaryo_Detail_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] ADD  CONSTRAINT [DF_T_Share_Syaryo_Detail_Syasyu]  DEFAULT ((0)) FOR [Syasyu]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] ADD  CONSTRAINT [DF_T_Share_Syaryo_Detail_Luggage_Weight]  DEFAULT ((0)) FOR [Syaryo_Weight]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Detail] ADD  CONSTRAINT [DF_T_Share_Syaryo_Detail_Syaryo_Weight1]  DEFAULT ((0)) FOR [Syaryo_Total_Weight]
GO
