USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko_WorkFlow_Status', @level2type=N'COLUMN',@level2name=N'Approval_Kubun'

GO
ALTER TABLE [dbo].[T_Jiko_WorkFlow_Status] DROP CONSTRAINT [DF_T_Jiko_WorkFlow_Status_Approval_User_ID]
GO
ALTER TABLE [dbo].[T_Jiko_WorkFlow_Status] DROP CONSTRAINT [DF_T_Jiko_WorkFlow_Status_Approval_Kubun]
GO
/****** Object:  Table [dbo].[T_Jiko_WorkFlow_Status]    Script Date: 2024/07/16 19:23:56 ******/
DROP TABLE [dbo].[T_Jiko_WorkFlow_Status]
GO
/****** Object:  Table [dbo].[T_Jiko_WorkFlow_Status]    Script Date: 2024/07/16 19:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Jiko_WorkFlow_Status](
	[Jiko_WorkFlow_Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[Jiko_WorkFlow_ID] [int] NOT NULL,
	[Approval_Kubun] [int] NOT NULL,
	[Approval_Datetime] [datetime] NULL,
	[Approval_User_ID] [int] NOT NULL,
	[Reject_Reason] [nvarchar](255) NULL,
 CONSTRAINT [PK_T_Jiko_WorkFlow_Status] PRIMARY KEY CLUSTERED 
(
	[Jiko_WorkFlow_Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_Jiko_WorkFlow_Status] ADD  CONSTRAINT [DF_T_Jiko_WorkFlow_Status_Approval_Kubun]  DEFAULT ((0)) FOR [Approval_Kubun]
GO
ALTER TABLE [dbo].[T_Jiko_WorkFlow_Status] ADD  CONSTRAINT [DF_T_Jiko_WorkFlow_Status_Approval_User_ID]  DEFAULT ((0)) FOR [Approval_User_ID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:処理中,1:起案/承認,2:差戻し,3:差戻し未処理' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko_WorkFlow_Status', @level2type=N'COLUMN',@level2name=N'Approval_Kubun'
GO
