USE [Haisya]
GO
/****** Object:  View [dbo].[V_LoginUser]    Script Date: 2024/08/07 18:08:35 ******/
DROP VIEW [dbo].[V_LoginUser]
GO
/****** Object:  View [dbo].[V_LoginUser]    Script Date: 2024/08/07 18:08:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













/****** SSMS の SelectTopNRows コマンドのスクリプト  ******/
CREATE VIEW [dbo].[V_LoginUser]
AS
SELECT
    M.LoginUser_ID
    , M.User_ID
    , M.LoginID
    , M.Password
    , M.Lock_Flg
    , M.Del_Flg
    , M.Role
    , LR.[RoleName]
	, CU.Employee_Number
    , CU.Display_Name AS User_Name
    , CU.Company_ID
    , CU.Branch_ID
	, CU.[Tntou_ID]
    , C.Company_Code
    , C.Company_Name
    , C.Company_Name_Abbr
    , CB.Branch_Code
    , CB.Branch_Name
    , CB.Branch_Name_Abbr
	, A.[Area_ID]
    , M.DefaultArea
    , S.SIZE AS [DefaultSize]
    , M.[DefaultSyasyu]
    , M.[DefaultKata]
	, M.[DefaultGroup]
	, S.SyasyuDisplay
	, S.KataDisplay
	, CU.UP_DATE
	, CU.Del_Flg AS [CompanyUser_Del_Flg]
FROM
    M_LoginUser AS M 
    INNER JOIN M_CompanyUser AS CU 
        ON M.User_ID = CU.User_ID 
    INNER JOIN M_CompanyBranch AS CB 
        ON CU.Branch_ID = CB.Branch_ID 
    INNER JOIN M_Company AS C 
        ON CB.Company_ID = C.Company_ID 
    LEFT JOIN [M_LoginUser_Role] LR 
        ON C.Company_ID = LR.Company_ID 
        AND M.Role = LR.Role
    LEFT JOIN [M_Syaryo] AS S 
		ON CU.Company_ID = S.Company_ID 
		AND M.[DefaultSyasyu] = S.SYASYU 
		AND M.[DefaultKata] = S.KATA
	LEFT JOIN [M_Area] A
		ON M.[DefaultArea] = A.[Area]
		AND CU.Company_ID = A.Company_ID 


GO
