USE [Haisya]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] DROP CONSTRAINT [DF_Customer_Driver_Syaryo_Del_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] DROP CONSTRAINT [DF_M_Customer_Driver_Syaryo_START_DATE]
GO
/****** Object:  Table [dbo].[M_Customer_Driver_Syaryo]    Script Date: 2024/07/11 19:20:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_Customer_Driver_Syaryo]') AND type in (N'U'))
DROP TABLE [dbo].[M_Customer_Driver_Syaryo]
GO
/****** Object:  Table [dbo].[M_Customer_Driver_Syaryo]    Script Date: 2024/07/11 19:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Customer_Driver_Syaryo](
	[Customer_DriverSyaryo_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Driver_ID] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Start_Date] [datetime] NOT NULL,
	[End_Date] [datetime] NULL,
	[SIZE] [nvarchar](20) NOT NULL,
	[Syasyu] [nvarchar](20) NOT NULL,
	[Kata] [nvarchar](10) NOT NULL,
	[Syaban_Chiiki] [nvarchar](10) NULL,
	[Syaban_Bunrui] [nvarchar](10) NULL,
	[Syaban_Kana] [nvarchar](10) NULL,
	[Syaban_Number] [nvarchar](10) NOT NULL,
	[REMARKS] [nvarchar](255) NULL,
	[Del_Flg] [bit] NOT NULL,
 CONSTRAINT [PK_[M_Customer_Driver_Syaryo] PRIMARY KEY CLUSTERED 
(
	[Customer_DriverSyaryo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] ADD  CONSTRAINT [DF_M_Customer_Driver_Syaryo_START_DATE]  DEFAULT ('1900/01/01') FOR [Start_Date]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] ADD  CONSTRAINT [DF_Customer_Driver_Syaryo_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
