USE [Haisya]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_DEL_FLG]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_HIDDEN_FLG]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_UP_DATE]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_AVG_FUEL_COSTS]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_CAR_GROSS_WEIGHT]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_CAR_WEIGHT]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_MAX_LOAD_CAPA]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_HEIGHT]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_WIDTH]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_LONG]
GO
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [DF_M_Syaryo_SortOrder]
GO
/****** Object:  Index [IX_M_Syaryo_1]    Script Date: 2024/07/31 10:09:25 ******/
ALTER TABLE [dbo].[M_Syaryo] DROP CONSTRAINT [IX_M_Syaryo_1]
GO
/****** Object:  Table [dbo].[M_Syaryo]    Script Date: 2024/07/31 10:09:25 ******/
DROP TABLE [dbo].[M_Syaryo]
GO
/****** Object:  Table [dbo].[M_Syaryo]    Script Date: 2024/07/31 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Syaryo](
	[Syaryo_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[SYASYU] [nvarchar](20) NOT NULL,
	[KATA] [nvarchar](20) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[SyasyuDisplay] [nvarchar](30) NOT NULL,
	[KataDisplay] [nvarchar](20) NOT NULL,
	[LONG] [float] NULL,
	[WIDTH] [float] NULL,
	[HEIGHT] [float] NULL,
	[MAX_LOAD_CAPA] [float] NULL,
	[CAR_WEIGHT] [float] NULL,
	[CAR_GROSS_WEIGHT] [float] NULL,
	[AVG_FUEL_COSTS] [float] NULL,
	[SIZE] [nvarchar](20) NOT NULL,
	[Kata_ID] [nvarchar](10) NOT NULL,
	[SyasyuKubun_ID] [int] NULL,
	[TOLL_TYPE] [nvarchar](20) NULL,
	[RegulationType] [nvarchar](10) NULL,
	[CARDETAILINFO] [nvarchar](1) NULL,
	[UP_DATE] [datetime] NULL,
	[HIDDEN_FLG] [bit] NOT NULL,
	[DEL_FLG] [bit] NOT NULL,
 CONSTRAINT [PK_M_Syaryo] PRIMARY KEY CLUSTERED 
(
	[Syaryo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[M_Syaryo] ON 

INSERT [dbo].[M_Syaryo] ([Syaryo_ID], [Company_ID], [SYASYU], [KATA], [SortOrder], [SyasyuDisplay], [KataDisplay], [LONG], [WIDTH], [HEIGHT], [MAX_LOAD_CAPA], [CAR_WEIGHT], [CAR_GROSS_WEIGHT], [AVG_FUEL_COSTS], [SIZE], [Kata_ID], [SyasyuKubun_ID], [TOLL_TYPE], [RegulationType], [CARDETAILINFO], [UP_DATE], [HIDDEN_FLG], [DEL_FLG]) VALUES (1, 1, N'10t', N'平', 30, N'１０ｔ平ボディ車', N'平ボディ車', 1008, 249, 314, 11400, 10450, 21960, 3.35, N'大型車', N'平', NULL, N'large', N'121100', N'B', CAST(N'2022-08-26 15:15:31.027' AS DateTime), 0, 0)
INSERT [dbo].[M_Syaryo] ([Syaryo_ID], [Company_ID], [SYASYU], [KATA], [SortOrder], [SyasyuDisplay], [KataDisplay], [LONG], [WIDTH], [HEIGHT], [MAX_LOAD_CAPA], [CAR_WEIGHT], [CAR_GROSS_WEIGHT], [AVG_FUEL_COSTS], [SIZE], [Kata_ID], [SyasyuKubun_ID], [TOLL_TYPE], [RegulationType], [CARDETAILINFO], [UP_DATE], [HIDDEN_FLG], [DEL_FLG]) VALUES (2, 1, N'15t', N'U', 40, N'１５ｔユニック車', N'ユニック車', 1199, 249, 343, 12000, 12870, 24980, 3.35, N'大型車', N'U', NULL, N'large', N'121100', N'B', CAST(N'2022-08-26 15:15:31.087' AS DateTime), 0, 0)
INSERT [dbo].[M_Syaryo] ([Syaryo_ID], [Company_ID], [SYASYU], [KATA], [SortOrder], [SyasyuDisplay], [KataDisplay], [LONG], [WIDTH], [HEIGHT], [MAX_LOAD_CAPA], [CAR_WEIGHT], [CAR_GROSS_WEIGHT], [AVG_FUEL_COSTS], [SIZE], [Kata_ID], [SyasyuKubun_ID], [TOLL_TYPE], [RegulationType], [CARDETAILINFO], [UP_DATE], [HIDDEN_FLG], [DEL_FLG]) VALUES (3, 1, N'15t', N'W', 41, N'１５ｔウィング車', N'ウィング車', 1198, 249, 379, 13700, 11170, 24980, 3.35, N'大型車', N'W', NULL, N'large', N'121100', N'B', CAST(N'2022-08-26 15:15:31.147' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[M_Syaryo] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_M_Syaryo_1]    Script Date: 2024/07/31 10:09:25 ******/
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [IX_M_Syaryo_1] UNIQUE NONCLUSTERED 
(
	[Company_ID] ASC,
	[SYASYU] ASC,
	[KATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_LONG]  DEFAULT ((0)) FOR [LONG]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_WIDTH]  DEFAULT ((0)) FOR [WIDTH]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_HEIGHT]  DEFAULT ((0)) FOR [HEIGHT]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_MAX_LOAD_CAPA]  DEFAULT ((0)) FOR [MAX_LOAD_CAPA]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_CAR_WEIGHT]  DEFAULT ((0)) FOR [CAR_WEIGHT]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_CAR_GROSS_WEIGHT]  DEFAULT ((0)) FOR [CAR_GROSS_WEIGHT]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_AVG_FUEL_COSTS]  DEFAULT ((0)) FOR [AVG_FUEL_COSTS]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_UP_DATE]  DEFAULT (getdate()) FOR [UP_DATE]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_HIDDEN_FLG]  DEFAULT ((0)) FOR [HIDDEN_FLG]
GO
ALTER TABLE [dbo].[M_Syaryo] ADD  CONSTRAINT [DF_M_Syaryo_DEL_FLG]  DEFAULT ((0)) FOR [DEL_FLG]
GO
