USE [Renkei]
GO
/****** Object:  StoredProcedure [dbo].[SP_T_Renkei_Anken]    Script Date: 2024/07/31 19:04:55 ******/
DROP PROCEDURE [dbo].[SP_T_Renkei_Anken]
GO
/****** Object:  StoredProcedure [dbo].[SP_T_Renkei_Anken]    Script Date: 2024/07/31 19:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_T_Renkei_Anken]
(
@KUBUN INT
,@ANKEN_NO NVARCHAR(20) = null
,@ANKEN_STATUS INT = 0
,@ANKEN_ORDER INT = 0
,@ANKEN_ID INT = 0
,@COMPANY_ID INT = 0
,@BRANCH_ID INT = 0
)
AS
BEGIN


	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;



	--DECLARE @KUBUN INT = 1
	--DECLARE @ANKEN_NO NVARCHAR(20)
	--DECLARE @ANKEN_STATUS INT
	--DECLARE @ANKEN_ORDER INT
	--DECLARE @ANKEN_ID INT
	--DECLARE @COMPANY_ID INT
	--DECLARE @BRANCH_ID INT

	--SET @ANKEN_NO = '2022-000011'
	--SET @ANKEN_STATUS = 0
	--SET @ANKEN_ORDER = 1
	--SET @ANKEN_ID = 1
	--SET @COMPANY_ID = 1
	--SET @BRANCH_ID = 1

	DECLARE @ROWCOUNT INT = 0
	DECLARE @ERROR_MESSAGE AS NVARCHAR(255)

	DECLARE @RESULT INT = 0


	BEGIN
	
	BEGIN TRY

		BEGIN TRANSACTION T1
		BEGIN

		
			IF (@KUBUN = 1)
				BEGIN

			
					INSERT INTO [dbo].[T_Renkei_Anken]
							   ([Renkei_Anken_No]
							   ,[Renkei_Anken_Status]
							   ,[Renkei_Anken_Latest_Order]
							   ,[Company_ID]
							   ,[Branch_ID]
							   )
						 VALUES
							   (@ANKEN_NO
							   ,@ANKEN_STATUS
							   ,@ANKEN_ORDER
							   ,@COMPANY_ID
							   ,@BRANCH_ID
							   )

					SET @ROWCOUNT = @@ROWCOUNT

					IF (@ROWCOUNT <> 1)
						BEGIN
							SET @ERROR_MESSAGE =  'データ更新件数エラー:' + CONVERT(NVARCHAR(5),@ROWCOUNT) ;
							RAISERROR  ( @ERROR_MESSAGE, 16, 1);
						END

					SET @ANKEN_ID = (SELECT @@IDENTITY AS 'Identity');

					SET @RESULT = @ANKEN_ID

				END
			ELSE IF (@KUBUN = 2)
				BEGIN

					UPDATE [dbo].[T_Renkei_Anken]
					SET [Renkei_Anken_Latest_Order] = [Renkei_Anken_Latest_Order] + 1
					WHERE [Renkei_Anken_ID] = @ANKEN_ID

					SET @ROWCOUNT = @@ROWCOUNT

					IF (@ROWCOUNT <> 1)
						BEGIN
							SET @ERROR_MESSAGE =  'データ更新件数エラー:' + CONVERT(NVARCHAR(5),@ROWCOUNT) ;
							RAISERROR  ( @ERROR_MESSAGE, 16, 1);
						END


					SET @RESULT = (
					  SELECT 
						  [Renkei_Anken_Latest_Order]
					  FROM [dbo].[T_Renkei_Anken]
					  WHERE [Renkei_Anken_ID] = @ANKEN_ID
					  )
				END

			ELSE IF (@KUBUN = 3)
				BEGIN

					UPDATE [dbo].[T_Renkei_Anken]
					SET [Renkei_Anken_Status] = @ANKEN_STATUS
					WHERE [Renkei_Anken_ID] = @ANKEN_ID

					SET @ROWCOUNT = @@ROWCOUNT

					IF (@ROWCOUNT <> 1)
						BEGIN
							SET @ERROR_MESSAGE =  'データ更新件数エラー:' + CONVERT(NVARCHAR(5),@ROWCOUNT) ;
							RAISERROR  ( @ERROR_MESSAGE, 16, 1);
						END

					SET @RESULT = 1
				END


		END

		COMMIT TRANSACTION T1


		--INSERT INTO [dbo].[T_BATCH_RESULT]
		--		   ([BATCH_NAME]
		--		   ,[EXIT_TIME]
		--		   ,[RESULT]
		--		   ,[MESSAGE])
		--	 VALUES
		--		   ('SP_T_Renkei_Anken'
		--		   ,GETDATE()
		--		   ,'OK'
		--		   ,NULL)

		
		   
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION T1

		SELECT   
			ERROR_NUMBER() AS ErrorNumber  
			,ERROR_MESSAGE() AS ErrorMessage;  

		INSERT INTO [dbo].[T_BATCH_RESULT]
			   ([BATCH_NAME]
			   ,[EXIT_TIME]
			   ,[RESULT]
			   ,[MESSAGE])
		 VALUES
			   ('SP_T_Renkei_Anken'
			   ,GETDATE()
			   ,'NG'
			   ,ERROR_MESSAGE())
	END CATCH


	END


	SELECT @RESULT AS Result


END






GO
