USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Senzoku', @level2type=N'COLUMN',@level2name=N'Calc_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Senzoku', @level2type=N'COLUMN',@level2name=N'Seikyu_Kubun'
GO
ALTER TABLE [dbo].[M_Senzoku] DROP CONSTRAINT [DF_M_Senzoku_Haisya_Group_ID]
GO
ALTER TABLE [dbo].[M_Senzoku] DROP CONSTRAINT [DF_M_Senzoku_Daily_Fee]
GO
ALTER TABLE [dbo].[M_Senzoku] DROP CONSTRAINT [DF_M_Senzoku_Monthly_Fee]
GO
ALTER TABLE [dbo].[M_Senzoku] DROP CONSTRAINT [DF_M_Senzoku_Fee_Kubun]
GO
ALTER TABLE [dbo].[M_Senzoku] DROP CONSTRAINT [DF_M_Senzoku_Shiharai_Kubun_1]
GO
ALTER TABLE [dbo].[M_Senzoku] DROP CONSTRAINT [DF_M_Senzoku_KokyakuTantouId]
GO
ALTER TABLE [dbo].[M_Senzoku] DROP CONSTRAINT [DF_M_Senzoku_KokyakuId]
GO
/****** Object:  Table [dbo].[M_Senzoku]    Script Date: 2024/06/10 15:07:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_Senzoku]') AND type in (N'U'))
DROP TABLE [dbo].[M_Senzoku]
GO
/****** Object:  Table [dbo].[M_Senzoku]    Script Date: 2024/06/10 15:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Senzoku](
	[SenzokuID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Senzoku_Name] [nvarchar](50) NULL,
	[Senzoku_Name_Abbr] [nvarchar](50) NULL,
	[Customer_ID] [int] NOT NULL,
	[Customer_Code] [nvarchar](50) NULL,
	[Customer_Tantou_ID] [int] NOT NULL,
	[Seikyu_Kubun] [int] NOT NULL,
	[Calc_Kubun] [int] NOT NULL,
	[Monthly_Fee] [money] NOT NULL,
	[Daily_Fee] [money] NOT NULL,
	[Haisya_Group_ID] [int] NOT NULL,
	[Syasyu] [nvarchar](20) NULL,
	[SyasyuSize] [nvarchar](20) NULL,
	[SyasyuDisplay] [nvarchar](50) NULL,
	[Kata] [nvarchar](20) NULL,
 CONSTRAINT [PK_M_Senzoku] PRIMARY KEY CLUSTERED 
(
	[SenzokuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[M_Senzoku] ON 

INSERT [dbo].[M_Senzoku] ([SenzokuID], [Company_ID], [Senzoku_Name], [Senzoku_Name_Abbr], [Customer_ID], [Customer_Code], [Customer_Tantou_ID], [Seikyu_Kubun], [Calc_Kubun], [Monthly_Fee], [Daily_Fee], [Haisya_Group_ID], [Syasyu], [SyasyuSize], [SyasyuDisplay], [Kata]) VALUES (1, 1, NULL, N'〇〇〇〇〇社　専属AAA', 7, N'10003004', 31, 0, 0, 0.0000, 0.0000, 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[M_Senzoku] OFF
GO
ALTER TABLE [dbo].[M_Senzoku] ADD  CONSTRAINT [DF_M_Senzoku_KokyakuId]  DEFAULT ((0)) FOR [Customer_ID]
GO
ALTER TABLE [dbo].[M_Senzoku] ADD  CONSTRAINT [DF_M_Senzoku_KokyakuTantouId]  DEFAULT ((0)) FOR [Customer_Tantou_ID]
GO
ALTER TABLE [dbo].[M_Senzoku] ADD  CONSTRAINT [DF_M_Senzoku_Shiharai_Kubun_1]  DEFAULT ((0)) FOR [Seikyu_Kubun]
GO
ALTER TABLE [dbo].[M_Senzoku] ADD  CONSTRAINT [DF_M_Senzoku_Fee_Kubun]  DEFAULT ((0)) FOR [Calc_Kubun]
GO
ALTER TABLE [dbo].[M_Senzoku] ADD  CONSTRAINT [DF_M_Senzoku_Monthly_Fee]  DEFAULT ((0)) FOR [Monthly_Fee]
GO
ALTER TABLE [dbo].[M_Senzoku] ADD  CONSTRAINT [DF_M_Senzoku_Daily_Fee]  DEFAULT ((0)) FOR [Daily_Fee]
GO
ALTER TABLE [dbo].[M_Senzoku] ADD  CONSTRAINT [DF_M_Senzoku_Haisya_Group_ID]  DEFAULT ((0)) FOR [Haisya_Group_ID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:案件ごと、1:月額' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Senzoku', @level2type=N'COLUMN',@level2name=N'Seikyu_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:月額から計算、１:日額から計算' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Senzoku', @level2type=N'COLUMN',@level2name=N'Calc_Kubun'
GO
