USE [Haisya]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] DROP CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Meil_Flg]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] DROP CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Notify_Flg
Notify_Flg]
GO
/****** Object:  Table [dbo].[T_Share_Syaryo_Notify_Setting]    Script Date: 2024/07/05 11:12:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Share_Syaryo_Notify_Setting]') AND type in (N'U'))
DROP TABLE [dbo].[T_Share_Syaryo_Notify_Setting]
GO
/****** Object:  Table [dbo].[T_Share_Syaryo_Notify_Setting]    Script Date: 2024/07/05 11:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Share_Syaryo_Notify_Setting](
	[Share_Syaryo_Notify_Setting_ID] [int] IDENTITY(1,1) NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
	[Notify_Flg] [int] NOT NULL,
	[Meil_Flg] [int] NOT NULL,
	[Mail_Address] [nvarchar](50) NULL,
	[From_Date] [date] NOT NULL,
	[To_Date] [date] NOT NULL,
	[Empty_From_Date] [date] NULL,
	[Empty_To_Date] [date] NULL,
	[Empty1] [nvarchar](20) NULL,
	[Empty2] [nvarchar](20) NULL,
	[Empty3] [nvarchar](20) NULL,
	[Dest1] [nvarchar](20) NULL,
	[Dest2] [nvarchar](20) NULL,
	[Dest3] [nvarchar](20) NULL,
	[Syasuy] [nvarchar](20) NULL,
	[SyasuyDisplay] [nvarchar](30) NULL,
 CONSTRAINT [PK_T_Share_Syaryo_Notify_Setting_1] PRIMARY KEY CLUSTERED 
(
	[Share_Syaryo_Notify_Setting_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] ADD  CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Notify_Flg
Notify_Flg]  DEFAULT ((0)) FOR [Notify_Flg]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] ADD  CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Meil_Flg]  DEFAULT ((0)) FOR [Meil_Flg]
GO
