USE [Haisya]
GO
ALTER TABLE [dbo].[T_Seikyu_Detail] DROP CONSTRAINT [DF_T_Seikyu_Detail_Detaii_No]
GO
/****** Object:  Table [dbo].[T_Seikyu_Detail]    Script Date: 2024/07/02 18:31:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Seikyu_Detail]') AND type in (N'U'))
DROP TABLE [dbo].[T_Seikyu_Detail]
GO
/****** Object:  Table [dbo].[T_Seikyu_Detail]    Script Date: 2024/07/02 18:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Seikyu_Detail](
	[Seikyu_ID] [int] NOT NULL,
	[Uriage_Unchin_ID] [int] NOT NULL,
	[Seikyu_Detaii_No] [int] NOT NULL,
	[Anken_ID] [int] NOT NULL,
	[Uriage_ID] [int] NOT NULL,
	[Nippou_ID] [int] NOT NULL,
 CONSTRAINT [PK_T_Seikyu_Detail] PRIMARY KEY CLUSTERED 
(
	[Seikyu_ID] ASC,
	[Uriage_Unchin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Seikyu_Detail] ADD  CONSTRAINT [DF_T_Seikyu_Detail_Detaii_No]  DEFAULT ((0)) FOR [Seikyu_Detaii_No]
GO
