USE [Haisya]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_AdvancesPaid]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_PaymentAmount]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_Toll]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_GrossAmount]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_SeikyuKubun]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_YosyaDriverSyaryo_ID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_YosyaDriver_ID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_Yosya_ID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_YosyaDriverID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_Daisuu]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_Syaryo_ID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_KokyakuTantouId]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_KokyakuId]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_EigyoID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_TantouID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_Update_User]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] DROP CONSTRAINT [DF_T_Anken_Riyounso_Insert_User]
GO
/****** Object:  Table [dbo].[T_Anken_Riyounso]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[T_Anken_Riyounso]
GO
/****** Object:  Table [dbo].[T_Anken_Riyounso]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Anken_Riyounso](
	[Anken_ID] [int] NOT NULL,
	[Anken_Order] [int] NOT NULL,
	[Target_Date] [date] NOT NULL,
	[Insert_Datetime] [datetime] NULL,
	[Insert_User] [int] NULL,
	[Update_Datetime] [datetime] NULL,
	[Update_User] [int] NULL,
	[TantouID] [int] NULL,
	[EigyoID] [int] NULL,
	[KokyakuId] [int] NULL,
	[KokyakuCode] [nvarchar](50) NULL,
	[KokyakuName] [nvarchar](50) NULL,
	[KokyakuTantouId] [int] NULL,
	[KokyakuTantouName] [nvarchar](50) NULL,
	[KokyakuTantouPhone] [nvarchar](50) NULL,
	[Syaryo_ID] [int] NOT NULL,
	[Syasyu] [nvarchar](20) NULL,
	[SyasyuSize] [nvarchar](20) NULL,
	[SyasyuDisplay] [nvarchar](50) NULL,
	[Kata] [nvarchar](20) NULL,
	[Daisuu] [int] NULL,
	[Root_Ferry] [varchar](30) NULL,
	[Root_Regulation] [varchar](30) NULL,
	[Root_Twouturn] [varchar](30) NULL,
	[YosyaDriverID] [int] NULL,
	[Yosya_Branch_ID] [int] NOT NULL,
	[YosyaDriver_ID] [int] NOT NULL,
	[YosyaDriverSyaryo_ID] [int] NOT NULL,
	[Luggage] [nvarchar](50) NULL,
	[SeikyuKubun] [int] NULL,
	[GrossAmount] [money] NULL,
	[Toll] [money] NULL,
	[PaymentAmount] [money] NULL,
	[AdvancesPaid] [money] NULL,
	[Remarks] [nvarchar](255) NULL,
 CONSTRAINT [PK_T_Anken_Riyounso] PRIMARY KEY CLUSTERED 
(
	[Anken_ID] ASC,
	[Anken_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_TantouID]  DEFAULT ((0)) FOR [TantouID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_EigyoID]  DEFAULT ((0)) FOR [EigyoID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_KokyakuId]  DEFAULT ((0)) FOR [KokyakuId]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_KokyakuTantouId]  DEFAULT ((0)) FOR [KokyakuTantouId]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_Syaryo_ID]  DEFAULT ((0)) FOR [Syaryo_ID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_Daisuu]  DEFAULT ((0)) FOR [Daisuu]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_YosyaDriverID]  DEFAULT ((0)) FOR [YosyaDriverID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_Yosya_ID]  DEFAULT ((0)) FOR [Yosya_Branch_ID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_YosyaDriver_ID]  DEFAULT ((0)) FOR [YosyaDriver_ID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_YosyaDriverSyaryo_ID]  DEFAULT ((0)) FOR [YosyaDriverSyaryo_ID]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_SeikyuKubun]  DEFAULT ((0)) FOR [SeikyuKubun]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_GrossAmount]  DEFAULT ((0)) FOR [GrossAmount]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_Toll]  DEFAULT ((0)) FOR [Toll]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_PaymentAmount]  DEFAULT ((0)) FOR [PaymentAmount]
GO
ALTER TABLE [dbo].[T_Anken_Riyounso] ADD  CONSTRAINT [DF_T_Anken_Riyounso_AdvancesPaid]  DEFAULT ((0)) FOR [AdvancesPaid]
GO
