USE [Haisya]
GO
ALTER TABLE [dbo].[M_Senzoku_Driver] DROP CONSTRAINT [DF_M_Senzoku_Driver_YosyaDriverSyaryo_ID]
GO
ALTER TABLE [dbo].[M_Senzoku_Driver] DROP CONSTRAINT [DF_M_Senzoku_Driver_YosyaDriver_ID]
GO
ALTER TABLE [dbo].[M_Senzoku_Driver] DROP CONSTRAINT [DF_M_Senzoku_Driver_Yosya_ID]
GO
ALTER TABLE [dbo].[M_Senzoku_Driver] DROP CONSTRAINT [DF_M_Senzoku_Driver_DriverSyaryo_ID]
GO
ALTER TABLE [dbo].[M_Senzoku_Driver] DROP CONSTRAINT [DF_M_Senzoku_Driver_Driver_ID]
GO
/****** Object:  Table [dbo].[M_Senzoku_Driver]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[M_Senzoku_Driver]
GO
/****** Object:  Table [dbo].[M_Senzoku_Driver]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Senzoku_Driver](
	[Senzoku_Driver_ID] [int] IDENTITY(1,1) NOT NULL,
	[SenzokuID] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[DriverSyaryo_ID] [int] NOT NULL,
	[Yosya_Branch_ID] [int] NOT NULL,
	[YosyaDriver_ID] [int] NOT NULL,
	[YosyaDriverSyaryo_ID] [int] NOT NULL,
	[From_Date] [date] NOT NULL,
	[To_Date] [date] NULL,
	[Remarks] [nvarchar](255) NULL,
 CONSTRAINT [PK_M_Senzoku_Driver] PRIMARY KEY CLUSTERED 
(
	[Senzoku_Driver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[M_Senzoku_Driver] ON 

INSERT [dbo].[M_Senzoku_Driver] ([Senzoku_Driver_ID], [SenzokuID], [Company_ID], [Driver_ID], [DriverSyaryo_ID], [Yosya_Branch_ID], [YosyaDriver_ID], [YosyaDriverSyaryo_ID], [From_Date], [To_Date], [Remarks]) VALUES (1, 1, 1, 41, 3, 0, 0, 0, CAST(N'2020-04-01' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[M_Senzoku_Driver] OFF
ALTER TABLE [dbo].[M_Senzoku_Driver] ADD  CONSTRAINT [DF_M_Senzoku_Driver_Driver_ID]  DEFAULT ((0)) FOR [Driver_ID]
GO
ALTER TABLE [dbo].[M_Senzoku_Driver] ADD  CONSTRAINT [DF_M_Senzoku_Driver_DriverSyaryo_ID]  DEFAULT ((0)) FOR [DriverSyaryo_ID]
GO
ALTER TABLE [dbo].[M_Senzoku_Driver] ADD  CONSTRAINT [DF_M_Senzoku_Driver_Yosya_ID]  DEFAULT ((0)) FOR [Yosya_Branch_ID]
GO
ALTER TABLE [dbo].[M_Senzoku_Driver] ADD  CONSTRAINT [DF_M_Senzoku_Driver_YosyaDriver_ID]  DEFAULT ((0)) FOR [YosyaDriver_ID]
GO
ALTER TABLE [dbo].[M_Senzoku_Driver] ADD  CONSTRAINT [DF_M_Senzoku_Driver_YosyaDriverSyaryo_ID]  DEFAULT ((0)) FOR [YosyaDriverSyaryo_ID]
GO
