USE [Haisya]
GO
ALTER TABLE [dbo].[M_LoginUser_Customer] DROP CONSTRAINT [DF_M_LoginUser_Customer_Del_Flg]
GO
ALTER TABLE [dbo].[M_LoginUser_Customer] DROP CONSTRAINT [DF_M_LoginUser_Customer_UP_DATE]
GO
ALTER TABLE [dbo].[M_LoginUser_Customer] DROP CONSTRAINT [DF_M_LoginUser_Customer_DefaultGroup]
GO
ALTER TABLE [dbo].[M_LoginUser_Customer] DROP CONSTRAINT [DF_M_LoginUser_Customer_Role]
GO
ALTER TABLE [dbo].[M_LoginUser_Customer] DROP CONSTRAINT [DF_M_LoginUser_Customer_Lock_Flg]
GO
/****** Object:  Table [dbo].[M_LoginUser_Customer]    Script Date: 2024/07/31 10:24:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_LoginUser_Customer]') AND type in (N'U'))
DROP TABLE [dbo].[M_LoginUser_Customer]
GO
/****** Object:  Table [dbo].[M_LoginUser_Customer]    Script Date: 2024/07/31 10:24:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_LoginUser_Customer](
	[LoginUser_Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tantou_ID] [int] NOT NULL,
	[LoginID] [varchar](10) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[Lock_Flg] [bit] NOT NULL,
	[Role] [int] NOT NULL,
	[DefaultArea] [nvarchar](20) NULL,
	[DefaultSyasyu] [nvarchar](20) NULL,
	[DefaultKata] [nvarchar](20) NULL,
	[DefaultGroup] [int] NOT NULL,
	[UP_DATE] [datetime] NOT NULL,
	[Del_Flg] [bit] NOT NULL,
 CONSTRAINT [PK_M_LoginUser_Customer] PRIMARY KEY CLUSTERED 
(
	[LoginUser_Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_LoginUser_Customer] ADD  CONSTRAINT [DF_M_LoginUser_Customer_Lock_Flg]  DEFAULT ((0)) FOR [Lock_Flg]
GO
ALTER TABLE [dbo].[M_LoginUser_Customer] ADD  CONSTRAINT [DF_M_LoginUser_Customer_Role]  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[M_LoginUser_Customer] ADD  CONSTRAINT [DF_M_LoginUser_Customer_DefaultGroup]  DEFAULT ((0)) FOR [DefaultGroup]
GO
ALTER TABLE [dbo].[M_LoginUser_Customer] ADD  CONSTRAINT [DF_M_LoginUser_Customer_UP_DATE]  DEFAULT (getdate()) FOR [UP_DATE]
GO
ALTER TABLE [dbo].[M_LoginUser_Customer] ADD  CONSTRAINT [DF_M_LoginUser_Customer_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
