USE [Renkei]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Portal_Info', @level2type=N'COLUMN',@level2name=N'Update_User'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Portal_Info', @level2type=N'COLUMN',@level2name=N'Update_Datetime'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Portal_Info', @level2type=N'COLUMN',@level2name=N'Insert_User'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Portal_Info', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Portal_Info', @level2type=N'COLUMN',@level2name=N'Portal_Kubun'
GO
ALTER TABLE [dbo].[T_Portal_Info] DROP CONSTRAINT [DF_T_Portal_Info_Renkei_Anken_ID]
GO
ALTER TABLE [dbo].[T_Portal_Info] DROP CONSTRAINT [DF_T_Portal_Info_Update_User]
GO
ALTER TABLE [dbo].[T_Portal_Info] DROP CONSTRAINT [DF_T_Portal_Info_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Portal_Info] DROP CONSTRAINT [DF_T_Portal_Info_Insert_User]
GO
ALTER TABLE [dbo].[T_Portal_Info] DROP CONSTRAINT [DF_T_Portal_Info_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Portal_Info] DROP CONSTRAINT [DF_T_Portal_Info_Display_Flg]
GO
ALTER TABLE [dbo].[T_Portal_Info] DROP CONSTRAINT [DF_T_Portal_Info_Critical_Kubun_1]
GO
ALTER TABLE [dbo].[T_Portal_Info] DROP CONSTRAINT [DF_T_Portal_Info_Portal_Kubun]
GO
/****** Object:  Table [dbo].[T_Portal_Info]    Script Date: 2024/09/13 10:15:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Portal_Info]') AND type in (N'U'))
DROP TABLE [dbo].[T_Portal_Info]
GO
/****** Object:  Table [dbo].[T_Portal_Info]    Script Date: 2024/09/13 10:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Portal_Info](
	[Portal_Info_ID] [int] IDENTITY(1,1) NOT NULL,
	[Portal_Kubun] [int] NOT NULL,
	[Critical_Kubun] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Detail] [nvarchar](255) NOT NULL,
	[Limit_Date] [datetime] NULL,
	[Display_Flg] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
	[Controller] [nvarchar](50) NULL,
	[Action] [nvarchar](50) NULL,
	[Param_Int_1] [float] NULL,
	[Param_Int_1_Name] [nvarchar](20) NULL,
	[Param_Int_2] [float] NULL,
	[Param_Int_2_Name] [nvarchar](20) NULL,
	[Param_Int_3] [float] NULL,
	[Param_Int_3_Name] [nvarchar](20) NULL,
	[Param_string_1] [nvarchar](20) NULL,
	[Param_string_1_Name] [nvarchar](20) NULL,
	[Param_string_2] [nvarchar](20) NULL,
	[Param_string_2_Name] [nvarchar](20) NULL,
	[Param_string_3] [nvarchar](20) NULL,
	[Param_string_3_Name] [nvarchar](20) NULL,
	[Renkei_Anken_ID] [int] NOT NULL,
 CONSTRAINT [PK_T_Portal_Info] PRIMARY KEY CLUSTERED 
(
	[Portal_Info_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Portal_Info] ADD  CONSTRAINT [DF_T_Portal_Info_Portal_Kubun]  DEFAULT ((0)) FOR [Portal_Kubun]
GO
ALTER TABLE [dbo].[T_Portal_Info] ADD  CONSTRAINT [DF_T_Portal_Info_Critical_Kubun_1]  DEFAULT ((0)) FOR [Critical_Kubun]
GO
ALTER TABLE [dbo].[T_Portal_Info] ADD  CONSTRAINT [DF_T_Portal_Info_Display_Flg]  DEFAULT ((0)) FOR [Display_Flg]
GO
ALTER TABLE [dbo].[T_Portal_Info] ADD  CONSTRAINT [DF_T_Portal_Info_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Portal_Info] ADD  CONSTRAINT [DF_T_Portal_Info_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Portal_Info] ADD  CONSTRAINT [DF_T_Portal_Info_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Portal_Info] ADD  CONSTRAINT [DF_T_Portal_Info_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Portal_Info] ADD  CONSTRAINT [DF_T_Portal_Info_Renkei_Anken_ID]  DEFAULT ((0)) FOR [Renkei_Anken_ID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1：配車WEB、2：請求WEB、3：連携WEB' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Portal_Info', @level2type=N'COLUMN',@level2name=N'Portal_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Portal_Info', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Portal_Info', @level2type=N'COLUMN',@level2name=N'Insert_User'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Portal_Info', @level2type=N'COLUMN',@level2name=N'Update_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Portal_Info', @level2type=N'COLUMN',@level2name=N'Update_User'
GO
