USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Zei_Kubun'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Print_Pattern'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Seikyu_Kubun'

GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Update_User]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Insert_User]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Print_Sort]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Print_ShimeDay]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Zei_Kubun]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Print_Pattern]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Seikyu_Kubun]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Company_ID]
GO
/****** Object:  Table [dbo].[T_Seikyu]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[T_Seikyu]
GO
/****** Object:  Table [dbo].[T_Seikyu]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Seikyu](
	[Seikyu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Seikyu_Kubun] [int] NOT NULL,
	[Print_Pattern] [int] NOT NULL,
	[Customer_Branch_ID] [int] NOT NULL,
	[Zei_Kubun] [int] NOT NULL,
	[Seikyu_Month] [date] NOT NULL,
	[Shime_Day] [int] NOT NULL,
	[Del_Datetime] [datetime] NULL,
	[Print_Datetime] [datetime] NOT NULL,
	[Print_Date] [date] NOT NULL,
	[Print_To_Date] [date] NULL,
	[Mail_Address1] [nvarchar](50) NULL,
	[Mail_Address2] [nvarchar](50) NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Seikyu] PRIMARY KEY CLUSTERED 
(
	[Seikyu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Seikyu_Kubun]  DEFAULT ((0)) FOR [Seikyu_Kubun]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Print_Pattern]  DEFAULT ((0)) FOR [Print_Pattern]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Zei_Kubun]  DEFAULT ((0)) FOR [Zei_Kubun]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Print_ShimeDay]  DEFAULT ((0)) FOR [Shime_Day]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Print_Sort]  DEFAULT (getdate()) FOR [Print_Datetime]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1：WEB、2：帳票' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Seikyu_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'帳票印刷の場合、印刷パターン' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Print_Pattern'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:課税、1:非課税' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Zei_Kubun'
GO
