USE [Haisya]
GO
ALTER TABLE [dbo].[M_Area] DROP CONSTRAINT [DF_M_Area_Company_ID]
GO
/****** Object:  Table [dbo].[M_Eria]    Script Date: 2024/07/31 10:09:25 ******/
DROP TABLE [dbo].[M_Eria]
GO
/****** Object:  Table [dbo].[M_Area]    Script Date: 2024/07/31 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Area](
	[Area_ID] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Area] [nvarchar](10) NOT NULL,
	[Sort_Order] [int] NOT NULL,
 CONSTRAINT [PK_M_Area] PRIMARY KEY CLUSTERED 
(
	[Area_ID] ASC,
	[Company_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[M_Area] ([Area_ID], [Company_ID], [Area], [Sort_Order]) VALUES (1, 1, N'北海道       ', 1)
INSERT [dbo].[M_Area] ([Area_ID], [Company_ID], [Area], [Sort_Order]) VALUES (2, 1, N'東北', 2)
INSERT [dbo].[M_Area] ([Area_ID], [Company_ID], [Area], [Sort_Order]) VALUES (3, 1, N'北陸', 3)
ALTER TABLE [dbo].[M_Area] ADD  CONSTRAINT [DF_M_Area_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
