USE [Haisya]
GO
ALTER TABLE [dbo].[M_Vender] DROP CONSTRAINT [DF_M_Vender_Seikyu_Customer_ID]
GO
ALTER TABLE [dbo].[M_Vender] DROP CONSTRAINT [DF_M_Vender_Shime_Day]
GO
ALTER TABLE [dbo].[M_Vender] DROP CONSTRAINT [DF_M_Vender_UP_DATE]
GO
ALTER TABLE [dbo].[M_Vender] DROP CONSTRAINT [DF__M_Vender__Del_Flg__1446FBA6]
GO
ALTER TABLE [dbo].[M_Vender] DROP CONSTRAINT [DF_M_Vender_ShiharaiTantouID]
GO
/****** Object:  Table [dbo].[M_Vender]    Script Date: 2024/07/05 11:12:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_Vender]') AND type in (N'U'))
DROP TABLE [dbo].[M_Vender]
GO
/****** Object:  Table [dbo].[M_Vender]    Script Date: 2024/07/05 11:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Vender](
	[Vender_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Vender_Code] [nvarchar](50) NULL,
	[Vender_Name] [nvarchar](40) NOT NULL,
	[Vender_Name_Kana] [nvarchar](16) NULL,
	[Vender_Name_Abbr] [nvarchar](20) NULL,
	[Post_Code] [nvarchar](10) NULL,
	[Mail_Title] [nvarchar](50) NULL,
	[Mail_Address1] [nvarchar](50) NULL,
	[Mail_Address2] [nvarchar](50) NULL,
	[Address1] [nvarchar](40) NULL,
	[Address2] [nvarchar](40) NULL,
	[Phone1] [nvarchar](13) NULL,
	[Phone2] [nvarchar](13) NULL,
	[Fax1] [nvarchar](13) NULL,
	[Fax2] [nvarchar](13) NULL,
	[ShiharaiTantouID] [int] NOT NULL,
	[ClosingDate1] [int] NULL,
	[Del_Flg] [bit] NOT NULL,
	[UP_DATE] [datetime] NOT NULL,
	[Shime_Day] [int] NOT NULL,
	[ShiharaiRemarks] [nvarchar](255) NULL,
	[Shiharai_Vender_ID] [int] NOT NULL,
 CONSTRAINT [PK_M_Vender] PRIMARY KEY CLUSTERED 
(
	[Vender_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_Vender] ADD  CONSTRAINT [DF_M_Vender_ShiharaiTantouID]  DEFAULT ((0)) FOR [ShiharaiTantouID]
GO
ALTER TABLE [dbo].[M_Vender] ADD  CONSTRAINT [DF__M_Vender__Del_Flg__1446FBA6]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[M_Vender] ADD  CONSTRAINT [DF_M_Vender_UP_DATE]  DEFAULT (getdate()) FOR [UP_DATE]
GO
ALTER TABLE [dbo].[M_Vender] ADD  CONSTRAINT [DF_M_Vender_Shime_Day]  DEFAULT ((0)) FOR [Shime_Day]
GO
ALTER TABLE [dbo].[M_Vender] ADD  CONSTRAINT [DF_M_Vender_Seikyu_Customer_ID]  DEFAULT ((0)) FOR [Shiharai_Vender_ID]
GO
