USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Tantou', @level2type=N'COLUMN',@level2name=N'Report_Output_Name_Flg'
GO
ALTER TABLE [dbo].[M_Customer_Tantou] DROP CONSTRAINT [DF_M_Customer_Tantou_Update_User]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] DROP CONSTRAINT [DF_M_Customer_Tantou_Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] DROP CONSTRAINT [DF_M_Customer_Tantou_Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] DROP CONSTRAINT [DF_M_Customer_Tantou_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] DROP CONSTRAINT [DF_M_Customer_Tantou_De_lFlg]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] DROP CONSTRAINT [DF_M_Customer_Tantou_Seikyu_OutputName_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] DROP CONSTRAINT [DF_M_Customer_Tantou_Company_ID]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] DROP CONSTRAINT [DF_M_Customer_Tantou_Customer_Branch_ID]
GO
/****** Object:  Table [dbo].[M_Customer_Tantou]    Script Date: 2024/09/13 10:13:35 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_Customer_Tantou]') AND type in (N'U'))
DROP TABLE [dbo].[M_Customer_Tantou]
GO
/****** Object:  Table [dbo].[M_Customer_Tantou]    Script Date: 2024/09/13 10:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Customer_Tantou](
	[Tantou_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Customer_Branch_ID] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Tantou_Code] [nvarchar](20) NULL,
	[Busyo_Name] [nvarchar](30) NULL,
	[Position_Name] [nvarchar](20) NULL,
	[Tantou_Name] [nvarchar](60) NULL,
	[Tantou_Name_Kana] [nvarchar](40) NULL,
	[Tantou_Name_Abbr] [nvarchar](20) NULL,
	[PostCode] [nvarchar](7) NULL,
	[Mail_Title] [nvarchar](50) NULL,
	[Mail_Address1] [nvarchar](50) NULL,
	[Mail_Address2] [nvarchar](50) NULL,
	[Address1] [nvarchar](40) NULL,
	[Address2] [nvarchar](40) NULL,
	[Address3] [nvarchar](40) NULL,
	[Phone1] [nvarchar](13) NULL,
	[Phone2] [nvarchar](13) NULL,
	[Cell_Phone] [nvarchar](15) NULL,
	[Fax1] [nvarchar](13) NULL,
	[Fax2] [nvarchar](13) NULL,
	[Report_Output_Name_Flg] [int] NOT NULL,
	[Del_Flg] [bit] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_M_Customer_Tantou_1] PRIMARY KEY CLUSTERED 
(
	[Tantou_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[M_Customer_Tantou] ON 

SET IDENTITY_INSERT [dbo].[M_Customer_Tantou] OFF
GO
ALTER TABLE [dbo].[M_Customer_Tantou] ADD  CONSTRAINT [DF_M_Customer_Tantou_Customer_Branch_ID]  DEFAULT ((0)) FOR [Customer_Branch_ID]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] ADD  CONSTRAINT [DF_M_Customer_Tantou_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] ADD  CONSTRAINT [DF_M_Customer_Tantou_Seikyu_OutputName_Flg]  DEFAULT ((0)) FOR [Report_Output_Name_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] ADD  CONSTRAINT [DF_M_Customer_Tantou_De_lFlg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] ADD  CONSTRAINT [DF_M_Customer_Tantou_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] ADD  CONSTRAINT [DF_M_Customer_Tantou_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] ADD  CONSTRAINT [DF_M_Customer_Tantou_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Tantou] ADD  CONSTRAINT [DF_M_Customer_Tantou_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:印刷する、1:印刷しない' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Tantou', @level2type=N'COLUMN',@level2name=N'Report_Output_Name_Flg'
GO
