USE [Haisya]
GO
ALTER TABLE [dbo].[T_Print_Shitabarai] DROP CONSTRAINT [DF_T_Print_Shitabarai_UP_DATE]
GO
ALTER TABLE [dbo].[T_Print_Shitabarai] DROP CONSTRAINT [DF_T_Print_Shitabarai_Print_Pattern]
GO
/****** Object:  Table [dbo].[T_Print_Shitabarai]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[T_Print_Shitabarai]
GO
/****** Object:  Table [dbo].[T_Print_Shitabarai]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Print_Shitabarai](
	[Print_Shitabarai_ID] [int] IDENTITY(1,1) NOT NULL,
	[Yosya_Branch_ID] [int] NOT NULL,
	[Shime_Date] [date] NOT NULL,
	[Check_Shitabarai_ID] [int] NOT NULL,
	[Shitabarai_ID] [int] NOT NULL,
	[Del_Datetime] [datetime] NULL,
	[Shiharai_Month] [date] NOT NULL,
	[Print_Pattern] [int] NOT NULL,
	[Mail_Title] [nvarchar](50) NULL,
	[Mail_Detail] [nvarchar](255) NULL,
	[Yosya_Name] [nvarchar](40) NULL,
	[Yosya_Name_Kana] [nvarchar](16) NULL,
	[PostCode] [nvarchar](7) NULL,
	[Mail_Address1] [nvarchar](50) NULL,
	[Mail_Address2] [nvarchar](50) NULL,
	[Address1] [nvarchar](40) NULL,
	[Address2] [nvarchar](40) NULL,
	[Address3] [nvarchar](40) NULL,
	[Phone1] [nvarchar](13) NULL,
	[Phone2] [nvarchar](13) NULL,
	[Fax1] [nvarchar](13) NULL,
	[Fax2] [nvarchar](13) NULL,
	[Shiharai_Date] [nvarchar](10) NULL,
	[前月残] [decimal](18, 0) NULL,
	[当月支払額] [decimal](18, 0) NULL,
	[繰越金額] [decimal](18, 0) NULL,
	[課税支払金額] [decimal](18, 0) NULL,
	[非課税支払金額] [decimal](18, 0) NULL,
	[今回支払金額] [decimal](18, 0) NULL,
	[消費税額] [decimal](18, 0) NULL,
	[税込支払金額] [decimal](18, 0) NULL,
	[今回支払額] [decimal](18, 0) NULL,
	[現金支払額] [decimal](18, 0) NULL,
	[小切手支払額] [decimal](18, 0) NULL,
	[振込支払額] [decimal](18, 0) NULL,
	[手形支払額] [decimal](18, 0) NULL,
	[手数料金額] [decimal](18, 0) NULL,
	[運賃相殺] [decimal](18, 0) NULL,
	[一般相殺] [decimal](18, 0) NULL,
	[調整金額] [decimal](18, 0) NULL,
	[数量計] [decimal](18, 4) NULL,
	[基本運賃計] [decimal](18, 4) NULL,
	[割増１計] [decimal](18, 4) NULL,
	[割増２計] [decimal](18, 4) NULL,
	[割増３計] [decimal](18, 4) NULL,
	[割増４計] [decimal](18, 4) NULL,
	[割増５計] [decimal](18, 4) NULL,
	[割増６計] [decimal](18, 4) NULL,
	[運賃合計計] [decimal](18, 0) NULL,
	[明細件数] [int] NULL,
	[FROM_DATE] [date] NULL,
	[TO_DATE] [date] NULL,
	[UP_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_Print_Shitabarai_1] PRIMARY KEY CLUSTERED 
(
	[Print_Shitabarai_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_Print_Shitabarai] ADD  CONSTRAINT [DF_T_Print_Shitabarai_Print_Pattern]  DEFAULT ((0)) FOR [Print_Pattern]
GO
ALTER TABLE [dbo].[T_Print_Shitabarai] ADD  CONSTRAINT [DF_T_Print_Shitabarai_UP_DATE]  DEFAULT (getdate()) FOR [UP_DATE]
GO
