USE [Renkei]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_CompanyUser', @level2type=N'COLUMN',@level2name=N'Update_User'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_CompanyUser', @level2type=N'COLUMN',@level2name=N'Update_Datetime'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_CompanyUser', @level2type=N'COLUMN',@level2name=N'Insert_User'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_CompanyUser', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_CompanyUser', @level2type=N'COLUMN',@level2name=N'Haisya_Send_Kubun'

GO
ALTER TABLE [dbo].[M_CompanyUser] DROP CONSTRAINT [DF_M_CompanyUser_Update_User]
GO
ALTER TABLE [dbo].[M_CompanyUser] DROP CONSTRAINT [DF_M_CompanyUser_Update_Datetime]
GO
ALTER TABLE [dbo].[M_CompanyUser] DROP CONSTRAINT [DF_M_CompanyUser_Insert_User]
GO
ALTER TABLE [dbo].[M_CompanyUser] DROP CONSTRAINT [DF_M_CompanyUser_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_CompanyUser] DROP CONSTRAINT [DF_M_CompanyUser_Del_Flg]
GO
ALTER TABLE [dbo].[M_CompanyUser] DROP CONSTRAINT [DF_M_CompanyUser_Send_Kubun]
GO
/****** Object:  Table [dbo].[M_CompanyUser]    Script Date: 2024/07/31 19:04:55 ******/
DROP TABLE [dbo].[M_CompanyUser]
GO
/****** Object:  Table [dbo].[M_CompanyUser]    Script Date: 2024/07/31 19:04:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_CompanyUser](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Branch_ID] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Employee_Number] [int] NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[First_Name] [nvarchar](50) NULL,
	[Display_Name] [nvarchar](50) NOT NULL,
	[Haisya_Send_Kubun] [int] NOT NULL,
	[Del_Flg] [bit] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_M_CompanyUser_1] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_CompanyUser] ADD  CONSTRAINT [DF_M_CompanyUser_Send_Kubun]  DEFAULT ((0)) FOR [Haisya_Send_Kubun]
GO
ALTER TABLE [dbo].[M_CompanyUser] ADD  CONSTRAINT [DF_M_CompanyUser_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[M_CompanyUser] ADD  CONSTRAINT [DF_M_CompanyUser_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_CompanyUser] ADD  CONSTRAINT [DF_M_CompanyUser_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_CompanyUser] ADD  CONSTRAINT [DF_M_CompanyUser_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_CompanyUser] ADD  CONSTRAINT [DF_M_CompanyUser_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:案件単位で通知、0:全案件で通知' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_CompanyUser', @level2type=N'COLUMN',@level2name=N'Haisya_Send_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_CompanyUser', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_CompanyUser', @level2type=N'COLUMN',@level2name=N'Insert_User'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_CompanyUser', @level2type=N'COLUMN',@level2name=N'Update_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_CompanyUser', @level2type=N'COLUMN',@level2name=N'Update_User'
GO
