USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Update_User'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Update_Datetime'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Insert_User'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Yosya_Kubun'

GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Update_User]
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Del_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Group_ID]
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Customer_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Customer_Branch_ID]
GO
/****** Object:  Table [dbo].[M_Customer_Driver]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[M_Customer_Driver]
GO
/****** Object:  Table [dbo].[M_Customer_Driver]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Customer_Driver](
	[Customer_Driver_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Customer_Branch_ID] [int] NOT NULL,
	[Yosya_Kubun] [int] NOT NULL,
	[Group_ID] [int] NOT NULL,
	[Employee_Number] [int] NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[First_Name] [nvarchar](50) NULL,
	[Display_Name] [nvarchar](50) NOT NULL,
	[From_Date] [datetime] NOT NULL,
	[To_Date] [datetime] NULL,
	[Del_Flg] [bit] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_M_Customer_Driver_1] PRIMARY KEY CLUSTERED 
(
	[Customer_Driver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[M_Customer_Driver] ON 

INSERT [dbo].[M_Customer_Driver] ([Customer_Driver_ID], [Customer_ID], [Customer_Branch_ID], [Yosya_Kubun], [Group_ID], [Employee_Number], [Last_Name], [First_Name], [Display_Name], [From_Date], [To_Date], [Del_Flg], [Insert_Datetime], [Insert_User], [Update_Datetime], [Update_User]) VALUES (1, 1, 2, 0, 1, 10002, N'a', N'a', N'傭車乗務員A', CAST(N'2024-07-01 00:00:00.000' AS DateTime), NULL, 0, CAST(N'2024-07-23 16:35:59.930' AS DateTime), 0, CAST(N'2024-07-23 16:35:59.930' AS DateTime), 0)
INSERT [dbo].[M_Customer_Driver] ([Customer_Driver_ID], [Customer_ID], [Customer_Branch_ID], [Yosya_Kubun], [Group_ID], [Employee_Number], [Last_Name], [First_Name], [Display_Name], [From_Date], [To_Date], [Del_Flg], [Insert_Datetime], [Insert_User], [Update_Datetime], [Update_User]) VALUES (3, 1, 2, 0, 1, NULL, N'a', NULL, N'傭車乗務員B', CAST(N'2024-05-01 00:00:00.000' AS DateTime), NULL, 0, CAST(N'2024-07-23 17:18:32.013' AS DateTime), 0, CAST(N'2024-07-23 17:18:32.013' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[M_Customer_Driver] OFF
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Customer_Branch_ID]  DEFAULT ((0)) FOR [Customer_Branch_ID]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Customer_Kubun]  DEFAULT ((0)) FOR [Yosya_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Group_ID]  DEFAULT ((0)) FOR [Group_ID]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:傭車、１:専属庸車' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Yosya_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Insert_User'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Update_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Update_User'
GO
