USE [Renkei]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Luggage_Weight]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Toll_Money]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Toll_Kubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_HaisyaPlanKubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_EdnGoBackEigyosyo]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_CheckOroshiSpace]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Route_TotalDays]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Route_RestTime]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Route_BreakTime]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_RouteType]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_NumberCommLimitKubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_SeikyuKubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Root_EigyoshoModori]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Daisuu]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Syaryo_ID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_KokyakuTantouId]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_KokyakuId]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_EigyoID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_TantouID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Reg_Kubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Update_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] DROP CONSTRAINT [DF_T_Renkei_Anken_Detail_Insert_User]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken_Detail]    Script Date: 2024/09/13 10:15:13 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Renkei_Anken_Detail]') AND type in (N'U'))
DROP TABLE [dbo].[T_Renkei_Anken_Detail]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken_Detail]    Script Date: 2024/09/13 10:15:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Renkei_Anken_Detail](
	[Renkei_Anken_ID] [int] NOT NULL,
	[Renkei_Anken_Order] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
	[Reg_Kubun] [int] NOT NULL,
	[TantouID] [int] NOT NULL,
	[EigyoID] [int] NOT NULL,
	[KokyakuId] [int] NOT NULL,
	[KokyakuCode] [nvarchar](50) NULL,
	[KokyakuName] [nvarchar](100) NULL,
	[KokyakuTantouId] [int] NOT NULL,
	[KokyakuTantouName] [nvarchar](50) NULL,
	[KokyakuTantouPhone] [nvarchar](50) NULL,
	[Work_Name] [nvarchar](100) NULL,
	[Syaryo_ID] [int] NOT NULL,
	[Syasyu] [nvarchar](20) NULL,
	[SyasyuSize] [nvarchar](20) NULL,
	[SyasyuDisplay] [nvarchar](50) NULL,
	[Kata] [nvarchar](20) NULL,
	[Daisuu] [int] NOT NULL,
	[Root_Ferry] [varchar](30) NULL,
	[Root_Regulation] [varchar](30) NULL,
	[Root_Twouturn] [varchar](30) NULL,
	[Root_EigyoshoModori] [bit] NOT NULL,
	[SeikyuKubun] [int] NOT NULL,
	[NumberCommLimitKubun] [int] NOT NULL,
	[NumberCommLimitDateTime] [datetime] NULL,
	[RouteID] [nvarchar](255) NULL,
	[RouteType] [int] NOT NULL,
	[RouteTypeDisplay] [nvarchar](20) NULL,
	[Route_TotalTime] [nvarchar](10) NULL,
	[Route_BreakTime] [int] NULL,
	[Route_RestTime] [int] NULL,
	[Route_TotalDistance] [float] NULL,
	[Route_FuelConsume] [money] NULL,
	[Route_Totaltoll] [money] NULL,
	[Route_RestTimeDisplay] [nvarchar](20) NULL,
	[Route_StdFreight] [money] NULL,
	[Route_StdExcharge] [money] NULL,
	[Route_StdALLFreight] [money] NULL,
	[Route_StdTotalFreight] [money] NULL,
	[Route_GrossAmountForLaborCost] [money] NULL,
	[Route_GrossAmountForFuelCost] [money] NULL,
	[Route_GrossAmountForSyaryoCost] [money] NULL,
	[Route_GrossAmountForLuggage] [money] NULL,
	[Route_GrossAmountForExcharge] [money] NULL,
	[Route_GrossAmount] [money] NULL,
	[Route_GrossAmountTotal] [money] NULL,
	[Route_TotalDays] [int] NULL,
	[BaseFee] [money] NULL,
	[ExtraCharge] [money] NULL,
	[Toll] [money] NULL,
	[Discount] [money] NULL,
	[GrossAmount] [money] NULL,
	[Height] [float] NULL,
	[Width] [float] NULL,
	[Weight] [float] NULL,
	[Nenpi] [float] NULL,
	[TsumiTaskTime] [varchar](10) NULL,
	[OroshiTaskTime] [varchar](10) NULL,
	[CheckOroshiSpace] [bit] NOT NULL,
	[EdnGoBackEigyosyo] [bit] NOT NULL,
	[HaisyaPlanKubun] [int] NOT NULL,
	[LuggageDisplay] [nvarchar](100) NULL,
	[EquipmentDisplay] [nvarchar](100) NULL,
	[SyabanRenraku_Remarks] [nvarchar](50) NULL,
	[Toll_Kubun] [int] NOT NULL,
	[Toll_Money] [money] NOT NULL,
	[Toll_Remarks] [nvarchar](255) NULL,
	[Luggage_Weight] [float] NOT NULL,
 CONSTRAINT [PK_T_Renkei_Anken_Detail] PRIMARY KEY CLUSTERED 
(
	[Renkei_Anken_ID] ASC,
	[Renkei_Anken_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Reg_Kubun]  DEFAULT ((0)) FOR [Reg_Kubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_TantouID]  DEFAULT ((0)) FOR [TantouID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_EigyoID]  DEFAULT ((0)) FOR [EigyoID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_KokyakuId]  DEFAULT ((0)) FOR [KokyakuId]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_KokyakuTantouId]  DEFAULT ((0)) FOR [KokyakuTantouId]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Syaryo_ID]  DEFAULT ((0)) FOR [Syaryo_ID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Daisuu]  DEFAULT ((0)) FOR [Daisuu]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Root_EigyoshoModori]  DEFAULT ((0)) FOR [Root_EigyoshoModori]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_SeikyuKubun]  DEFAULT ((0)) FOR [SeikyuKubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_NumberCommLimitKubun]  DEFAULT ((0)) FOR [NumberCommLimitKubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_RouteType]  DEFAULT ((0)) FOR [RouteType]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Route_BreakTime]  DEFAULT ((0)) FOR [Route_BreakTime]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Route_RestTime]  DEFAULT ((0)) FOR [Route_RestTime]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Route_TotalDays]  DEFAULT ((0)) FOR [Route_TotalDays]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_CheckOroshiSpace]  DEFAULT ((0)) FOR [CheckOroshiSpace]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_EdnGoBackEigyosyo]  DEFAULT ((0)) FOR [EdnGoBackEigyosyo]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_HaisyaPlanKubun]  DEFAULT ((0)) FOR [HaisyaPlanKubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Toll_Kubun]  DEFAULT ((0)) FOR [Toll_Kubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Toll_Money]  DEFAULT ((0)) FOR [Toll_Money]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Detail] ADD  CONSTRAINT [DF_T_Renkei_Anken_Detail_Luggage_Weight]  DEFAULT ((0)) FOR [Luggage_Weight]
GO
