USE [Haisya]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Update_User]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Update_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Insert_User]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Route_Midnight]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Route_OverTime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Route_Teate]
GO
/****** Object:  Table [dbo].[M_KojinUnsyu_Route]    Script Date: 2024/06/05 10:23:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_KojinUnsyu_Route]') AND type in (N'U'))
DROP TABLE [dbo].[M_KojinUnsyu_Route]
GO
/****** Object:  Table [dbo].[M_KojinUnsyu_Route]    Script Date: 2024/06/05 10:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_KojinUnsyu_Route](
	[KojinUnsyuRoute_ID] [int] IDENTITY(1,1) NOT NULL,
	[Route_Teate] [money] NOT NULL,
	[Route_OverTime] [money] NOT NULL,
	[Route_Midnight] [money] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_M_KojinUnsyu_Route] PRIMARY KEY CLUSTERED 
(
	[KojinUnsyuRoute_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Route_Teate]  DEFAULT ((0)) FOR [Route_Teate]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Route_OverTime]  DEFAULT ((0)) FOR [Route_OverTime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Route_Midnight]  DEFAULT ((0)) FOR [Route_Midnight]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
