USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko_Type', @level2type=N'COLUMN',@level2name=N'Jiko_Type_ID'

GO
/****** Object:  Table [dbo].[T_Jiko_Type]    Script Date: 2024/07/16 19:23:56 ******/
DROP TABLE [dbo].[T_Jiko_Type]
GO
/****** Object:  Table [dbo].[T_Jiko_Type]    Script Date: 2024/07/16 19:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Jiko_Type](
	[Jiko_ID] [int] NOT NULL,
	[Jiko_Type_ID] [int] NOT NULL,
	[Jiko_Type_Remarks] [nvarchar](255) NULL,
 CONSTRAINT [PK_T_Jiko_Type] PRIMARY KEY CLUSTERED 
(
	[Jiko_ID] ASC,
	[Jiko_Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'M_Code:17' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko_Type', @level2type=N'COLUMN',@level2name=N'Jiko_Type_ID'
GO
