USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Print_Parameter', @level2type=N'COLUMN',@level2name=N'PrintKubun'
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_PrintRireki_Update_User]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_PrintRireki_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_PrintRireki_Insert_User]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_PrintRireki_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_PrintRireki_Del_Flg]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_PrintRireki_Data_ID]
GO
ALTER TABLE [dbo].[T_Print_Parameter] DROP CONSTRAINT [DF_T_PrintRireki_PrintKubun]
GO
/****** Object:  Table [dbo].[T_Print_Parameter]    Script Date: 2024/06/05 10:23:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Print_Parameter]') AND type in (N'U'))
DROP TABLE [dbo].[T_Print_Parameter]
GO
/****** Object:  Table [dbo].[T_Print_Parameter]    Script Date: 2024/06/05 10:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Print_Parameter](
	[Print_ID] [int] IDENTITY(1,1) NOT NULL,
	[Tokun] [nchar](10) NULL,
	[Limit_Date] [datetime] NULL,
	[PrintKubun] [int] NULL,
	[Data_ID] [int] NULL,
	[Del_Datetime] [datetime] NULL,
	[Insert_Datetime] [datetime] NULL,
	[Insert_User] [int] NULL,
	[Update_Datetime] [datetime] NULL,
	[Update_User] [int] NULL,
 CONSTRAINT [PK_T_PrintRireki] PRIMARY KEY CLUSTERED 
(
	[Print_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[T_Print_Parameter] ON 

INSERT [dbo].[T_Print_Parameter] ([Print_ID], [Tokun], [Limit_Date], [PrintKubun], [Data_ID], [Del_Datetime], [Insert_Datetime], [Insert_User], [Update_Datetime], [Update_User]) VALUES (1, N'9999      ', CAST(N'2024-04-20T00:00:00.000' AS DateTime), 1, 1, CAST(N'1900-01-01T00:00:00.000' AS DateTime), CAST(N'2024-04-10T13:56:41.997' AS DateTime), 0, CAST(N'2024-04-10T13:56:41.997' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[T_Print_Parameter] OFF
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_PrintRireki_PrintKubun]  DEFAULT ((0)) FOR [PrintKubun]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_PrintRireki_Data_ID]  DEFAULT ((0)) FOR [Data_ID]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_PrintRireki_Del_Flg]  DEFAULT ((0)) FOR [Del_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_PrintRireki_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_PrintRireki_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_PrintRireki_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Parameter] ADD  CONSTRAINT [DF_T_PrintRireki_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'2：車番連絡、10：請求問合せ、11：下払問合せ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Print_Parameter', @level2type=N'COLUMN',@level2name=N'PrintKubun'
GO
