USE [Haisya]
GO
ALTER TABLE [dbo].[T_Share_No] DROP CONSTRAINT [DF_T_Share_No_NO]
GO
/****** Object:  Table [dbo].[T_Share_No]    Script Date: 2024/07/05 11:12:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Share_No]') AND type in (N'U'))
DROP TABLE [dbo].[T_Share_No]
GO
/****** Object:  Table [dbo].[T_Share_No]    Script Date: 2024/07/05 11:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Share_No](
	[NENDO] [int] NOT NULL,
	[NO] [int] NOT NULL,
 CONSTRAINT [PK_T_Share_No] PRIMARY KEY CLUSTERED 
(
	[NENDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Share_No] ADD  CONSTRAINT [DF_T_Share_No_NO]  DEFAULT ((0)) FOR [NO]
GO
