USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Branch', @level2type=N'COLUMN',@level2name=N'Report_Output_Name_Flg'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Branch', @level2type=N'COLUMN',@level2name=N'Toll_Kubun'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Branch', @level2type=N'COLUMN',@level2name=N'SeikyuDate_Kubun'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Branch', @level2type=N'COLUMN',@level2name=N'Seikyu_Kubun'

GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Update_User]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Del_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Report_Output_Name_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Shiharai_Yosya_ID]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Shiharai_Shime_Day]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Shiharai_TantouID]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Seikyu_Customer_ID]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Shime_Day]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Toll_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_SeikyuDate_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Seikyu_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_Oya_Branch_ID]
GO
ALTER TABLE [dbo].[M_Customer_Branch] DROP CONSTRAINT [DF_M_Customer_Branch_SortOrder]
GO
/****** Object:  Table [dbo].[M_Customer_Branch]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[M_Customer_Branch]
GO
/****** Object:  Table [dbo].[M_Customer_Branch]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_Customer_Branch](
	[Customer_Branch_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Oya_Branch_ID] [int] NOT NULL,
	[Customer_Branch_Code] [varchar](10) NULL,
	[Customer_Branch_Name] [nvarchar](50) NOT NULL,
	[Customer_Branch_Name_Kana] [nvarchar](40) NULL,
	[Customer_Branch_Name_Abbr] [nvarchar](50) NULL,
	[Customer_Branch_Post] [nvarchar](8) NULL,
	[Customer_Branch_Address1] [nvarchar](80) NULL,
	[Customer_Branch_Address2] [nvarchar](40) NULL,
	[Customer_Branch_Address3] [nvarchar](40) NULL,
	[Customer_Branch_Phone1] [nvarchar](13) NULL,
	[Customer_Branch_Phone2] [nvarchar](13) NULL,
	[Customer_Branch_Fax1] [nvarchar](13) NULL,
	[Customer_Branch_Fax2] [nvarchar](13) NULL,
	[Mail_Title] [nvarchar](50) NULL,
	[Mail_Address1] [nvarchar](50) NULL,
	[Mail_Address2] [nvarchar](50) NULL,
	[AnkenRemarks] [nvarchar](255) NULL,
	[SeikyuRemarks] [nvarchar](255) NULL,
	[SeikyuTantouID] [int] NULL,
	[Seikyu_Kubun] [int] NOT NULL,
	[SeikyuDate_Kubun] [int] NOT NULL,
	[Toll_Kubun] [int] NOT NULL,
	[Shime_Day] [int] NOT NULL,
	[Seikyu_Address] [nvarchar](50) NULL,
	[Seikuy_PostCode] [nvarchar](8) NULL,
	[Seikyu_Customer_ID] [int] NOT NULL,
	[Shiharai_TantouID] [int] NOT NULL,
	[Shiharai_Shime_Day] [int] NOT NULL,
	[Shiharai_Remarks] [nvarchar](255) NULL,
	[Shiharai_Yosya_ID] [int] NOT NULL,
	[Report_Output_Name_Flg] [int] NOT NULL,
	[Del_Flg] [bit] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_M_Customer_Branch] PRIMARY KEY CLUSTERED 
(
	[Customer_Branch_ID] ASC,
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[M_Customer_Branch] ON 

GO
SET IDENTITY_INSERT [dbo].[M_Customer_Branch] OFF
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Oya_Branch_ID]  DEFAULT ((0)) FOR [Oya_Branch_ID]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Seikyu_Kubun]  DEFAULT ((0)) FOR [Seikyu_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_SeikyuDate_Kubun]  DEFAULT ((0)) FOR [SeikyuDate_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Toll_Kubun]  DEFAULT ((0)) FOR [Toll_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Shime_Day]  DEFAULT ((0)) FOR [Shime_Day]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Seikyu_Customer_ID]  DEFAULT ((0)) FOR [Seikyu_Customer_ID]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Shiharai_TantouID]  DEFAULT ((0)) FOR [Shiharai_TantouID]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Shiharai_Shime_Day]  DEFAULT ((0)) FOR [Shiharai_Shime_Day]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Shiharai_Yosya_ID]  DEFAULT ((0)) FOR [Shiharai_Yosya_ID]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Report_Output_Name_Flg]  DEFAULT ((0)) FOR [Report_Output_Name_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Branch] ADD  CONSTRAINT [DF_M_Customer_Branch_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：案件単位、1：卸し単位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Branch', @level2type=N'COLUMN',@level2name=N'Seikyu_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：配車日（積日）、1：卸日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Branch', @level2type=N'COLUMN',@level2name=N'SeikyuDate_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1：荷主負担、2：会社負担、3：自己負担、4：手動設定' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Branch', @level2type=N'COLUMN',@level2name=N'Toll_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:印刷する、1:印刷しない' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Branch', @level2type=N'COLUMN',@level2name=N'Report_Output_Name_Flg'
GO
