USE [Haisya]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] DROP CONSTRAINT [DF_T_Share_Luggage_Secure_Update_User]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] DROP CONSTRAINT [DF_T_Share_Luggage_Secure_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] DROP CONSTRAINT [DF_T_Share_Luggage_Secure_Insert_User]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] DROP CONSTRAINT [DF_T_Share_Luggage_Secure_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] DROP CONSTRAINT [DF_T_Share_Luggage_Secure_Tantou_Group_ID]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] DROP CONSTRAINT [DF_T_Share_Luggage_Secure_Branch_ID]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] DROP CONSTRAINT [DF_T_Share_Luggage_Secure_Company_ID]
GO
/****** Object:  Table [dbo].[T_Share_Luggage_Secure]    Script Date: 2024/07/05 11:12:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Share_Luggage_Secure]') AND type in (N'U'))
DROP TABLE [dbo].[T_Share_Luggage_Secure]
GO
/****** Object:  Table [dbo].[T_Share_Luggage_Secure]    Script Date: 2024/07/05 11:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Share_Luggage_Secure](
	[Share_Luggage_Secure_ID] [int] IDENTITY(1,1) NOT NULL,
	[Share_Luggage_ID] [int] NOT NULL,
	[Cancel_Datetime] [datetime] NULL,
	[Company_ID] [int] NOT NULL,
	[Branch_ID] [int] NOT NULL,
	[Tantou_Group_ID] [int] NOT NULL,
	[Remarks] [nvarchar](255) NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Share_Luggage_Secure_1] PRIMARY KEY CLUSTERED 
(
	[Share_Luggage_Secure_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] ADD  CONSTRAINT [DF_T_Share_Luggage_Secure_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] ADD  CONSTRAINT [DF_T_Share_Luggage_Secure_Branch_ID]  DEFAULT ((0)) FOR [Branch_ID]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] ADD  CONSTRAINT [DF_T_Share_Luggage_Secure_Tantou_Group_ID]  DEFAULT ((0)) FOR [Tantou_Group_ID]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] ADD  CONSTRAINT [DF_T_Share_Luggage_Secure_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] ADD  CONSTRAINT [DF_T_Share_Luggage_Secure_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] ADD  CONSTRAINT [DF_T_Share_Luggage_Secure_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Secure] ADD  CONSTRAINT [DF_T_Share_Luggage_Secure_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
