USE [Renkei]
GO
ALTER TABLE [dbo].[T_BATCH_RESULT] DROP CONSTRAINT [DF_T_BATCH_RESULT_EXIT_TIME]
GO
/****** Object:  Table [dbo].[T_BATCH_RESULT]    Script Date: 2024/07/31 19:04:55 ******/
DROP TABLE [dbo].[T_BATCH_RESULT]
GO
/****** Object:  Table [dbo].[T_BATCH_RESULT]    Script Date: 2024/07/31 19:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BATCH_RESULT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BATCH_NAME] [nvarchar](50) NULL,
	[EXIT_TIME] [datetime] NULL,
	[RESULT] [nvarchar](2) NULL,
	[MESSAGE] [nvarchar](255) NULL,
 CONSTRAINT [PK_T_BATCH_RESULT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_BATCH_RESULT] ADD  CONSTRAINT [DF_T_BATCH_RESULT_EXIT_TIME]  DEFAULT (getdate()) FOR [EXIT_TIME]
GO
