USE [Haisya]
GO
ALTER TABLE [dbo].[M_Report_Output_Item_Master] DROP CONSTRAINT [DF_M_Report_Output_Item_Master_Report_ItemFlg]
GO
ALTER TABLE [dbo].[M_Report_Output_Item_Master] DROP CONSTRAINT [DF_M_Report_Output_Item_Master_Row_Order]
GO
ALTER TABLE [dbo].[M_Report_Output_Item_Master] DROP CONSTRAINT [DF_M_Report_Output_Item_Master_Sort_Order]
GO
/****** Object:  Table [dbo].[M_Report_Output_Item_Master]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[M_Report_Output_Item_Master]
GO
/****** Object:  Table [dbo].[M_Report_Output_Item_Master]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Report_Output_Item_Master](
	[Report_Output_Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Report_Serch_Kubun_ID] [int] NOT NULL,
	[Sort_Order] [int] NOT NULL,
	[Row_Order] [int] NOT NULL,
	[Display_Title] [nvarchar](50) NULL,
	[Display_Type] [nvarchar](20) NULL,
	[Display_Format] [nvarchar](20) NULL,
	[Model_Prooerty] [nvarchar](20) NULL,
	[Display_Width] [float] NULL,
	[Report_ItemFlg] [int] NOT NULL,
	[Page_Fotter] [nvarchar](20) NULL,
	[Report_Fotter] [nvarchar](20) NULL,
 CONSTRAINT [PK_M_Report_Output_Item_Master] PRIMARY KEY CLUSTERED 
(
	[Report_Output_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_Report_Output_Item_Master] ADD  CONSTRAINT [DF_M_Report_Output_Item_Master_Sort_Order]  DEFAULT ((0)) FOR [Sort_Order]
GO
ALTER TABLE [dbo].[M_Report_Output_Item_Master] ADD  CONSTRAINT [DF_M_Report_Output_Item_Master_Row_Order]  DEFAULT ((0)) FOR [Row_Order]
GO
ALTER TABLE [dbo].[M_Report_Output_Item_Master] ADD  CONSTRAINT [DF_M_Report_Output_Item_Master_Report_ItemFlg]  DEFAULT ((0)) FOR [Report_ItemFlg]
GO
