USE [Renkei]
GO
/****** Object:  StoredProcedure [dbo].[SP_T_Share_Luggage]    Script Date: 2024/08/07 18:11:24 ******/
DROP PROCEDURE [dbo].[SP_T_Share_Luggage]
GO
/****** Object:  StoredProcedure [dbo].[SP_T_Share_Luggage]    Script Date: 2024/08/07 18:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_T_Share_Luggage]
(
@KUBUN INT
,@LUGGAGE_NO NVARCHAR(20) = null
,@LUGGAGE_STATUS INT = 0
,@LUGGAGE_ORDER INT = 0
,@LUGGAGE_ID INT = 0
,@COMPANY_ID INT = 0
,@BRANCH_ID INT = 0
,@TANTOU_ID INT = 0
,@CANCEL_DATETIME DATETIME = NULL
)
AS
BEGIN


	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;



	--DECLARE @KUBUN INT = 1
	--DECLARE @LUGGAGE_NO NVARCHAR(20)
	--DECLARE @LUGGAGE_STATUS INT
	--DECLARE @LUGGAGE_ORDER INT
	--DECLARE @LUGGAGE_ID INT
	--DECLARE @COMPANY_ID INT
	--DECLARE @BRANCH_ID INT
	--DECLARE @TANTOU_ID INT
	--DECLARE @CANCEL_DATETIME DATETIME = NULL

	--SET @LUGGAGE_NO = '2022-000011'
	--SET @LUGGAGE_STATUS = 0
	--SET @LUGGAGE_ORDER = 1
	--SET @LUGGAGE_ID = 1
	--SET @COMPANY_ID = 1
	--SET @BRANCH_ID = 1
	--SET @TANTOU_ID = 1
	--SET @CANCEL_DATETIME = '2024/07/01'


	DECLARE @ROWCOUNT INT = 0
	DECLARE @ERROR_MESSAGE AS NVARCHAR(255)

	DECLARE @RESULT INT = 0


	BEGIN
	
	BEGIN TRY

		BEGIN TRANSACTION T1
		BEGIN

		
			IF (@KUBUN = 1)
				BEGIN
		
					INSERT INTO [dbo].[T_Share_Luggage]
							   ([Share_Luggage_No]
							   ,[Share_Luggage_Status]
							   ,[Share_Luggage_Latest_Order]
							   ,[Company_ID]
							   ,[Branch_ID]
							   ,[Tantou_Group_ID]
							   )
						 VALUES
							   (@LUGGAGE_NO
							   ,@LUGGAGE_STATUS
							   ,@LUGGAGE_ORDER
							   ,@COMPANY_ID
							   ,@BRANCH_ID
							   ,@TANTOU_ID
							   )

					SET @ROWCOUNT = @@ROWCOUNT

					IF (@ROWCOUNT <> 1)
						BEGIN
							SET @ERROR_MESSAGE =  'データ更新件数エラー:' + CONVERT(NVARCHAR(5),@ROWCOUNT) ;
							RAISERROR  ( @ERROR_MESSAGE, 16, 1);
						END

					SET @LUGGAGE_ID = (SELECT @@IDENTITY AS 'Identity');

					SET @RESULT = @LUGGAGE_ID

				END
			ELSE IF (@KUBUN = 2)
				BEGIN

					UPDATE [dbo].[T_Share_Luggage]
					SET [Share_Luggage_Latest_Order] = [Share_Luggage_Latest_Order] + 1
					WHERE [Share_Luggage_ID] = @LUGGAGE_ID

					SET @ROWCOUNT = @@ROWCOUNT

					IF (@ROWCOUNT <> 1)
						BEGIN
							SET @ERROR_MESSAGE =  'データ更新件数エラー:' + CONVERT(NVARCHAR(5),@ROWCOUNT) ;
							RAISERROR  ( @ERROR_MESSAGE, 16, 1);
						END


					SET @RESULT = (
					  SELECT 
						  [Share_Luggage_Latest_Order]
					  FROM [dbo].[T_Share_Luggage]
					  WHERE [Share_Luggage_ID] = @LUGGAGE_ID
					  )
				END

			ELSE IF (@KUBUN = 3)
				BEGIN

					UPDATE [dbo].[T_Share_Luggage]
					SET [Share_Luggage_Status] = @LUGGAGE_STATUS
					WHERE [Share_Luggage_ID] = @LUGGAGE_ID

					SET @ROWCOUNT = @@ROWCOUNT

					IF (@ROWCOUNT <> 1)
						BEGIN
							SET @ERROR_MESSAGE =  'データ更新件数エラー:' + CONVERT(NVARCHAR(5),@ROWCOUNT) ;
							RAISERROR  ( @ERROR_MESSAGE, 16, 1);
						END

					SET @RESULT = 1
				END

			ELSE IF (@KUBUN = 4)
				BEGIN

					UPDATE [dbo].[T_Share_Luggage]
					SET [Cancel_Datetime] = @CANCEL_DATETIME
					WHERE [Share_Luggage_ID] = @LUGGAGE_ID

					SET @ROWCOUNT = @@ROWCOUNT

					IF (@ROWCOUNT <> 1)
						BEGIN
							SET @ERROR_MESSAGE =  'データ更新件数エラー:' + CONVERT(NVARCHAR(5),@ROWCOUNT) ;
							RAISERROR  ( @ERROR_MESSAGE, 16, 1);
						END

					SET @RESULT = 1
				END

		END

		COMMIT TRANSACTION T1


		--INSERT INTO [dbo].[T_BATCH_RESULT]
		--		   ([BATCH_NAME]
		--		   ,[EXIT_TIME]
		--		   ,[RESULT]
		--		   ,[MESSAGE])
		--	 VALUES
		--		   ('SP_T_Share_Luggage'
		--		   ,GETDATE()
		--		   ,'OK'
		--		   ,NULL)

		
		   
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRANSACTION T1

		SELECT   
			ERROR_NUMBER() AS ErrorNumber  
			,ERROR_MESSAGE() AS ErrorMessage;  

		INSERT INTO [dbo].[T_BATCH_RESULT]
			   ([BATCH_NAME]
			   ,[EXIT_TIME]
			   ,[RESULT]
			   ,[MESSAGE])
		 VALUES
			   ('SP_T_Share_Luggage'
			   ,GETDATE()
			   ,'NG'
			   ,ERROR_MESSAGE())
	END CATCH


	END


	SELECT @RESULT AS Result


END






GO
