USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Share_Luggage_Detail', @level2type=N'COLUMN',@level2name=N'Kokyaku_Public_Flg'
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Syasyu]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Luggage_Weight]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Tumi_StatusKubun1]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Tumi_TimeKubun1]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Tumi_StatusKubun]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Tumi_TimeKubun]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Toll_Money]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Toll_Kubun]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Unchin]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Kokyaku_Public_Flg]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Update_User]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Insert_User]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] DROP CONSTRAINT [DF_T_Share_Luggage_Detail_Insert_Datetime]
GO
/****** Object:  Table [dbo].[T_Share_Luggage_Detail]    Script Date: 2024/07/05 11:12:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Share_Luggage_Detail]') AND type in (N'U'))
DROP TABLE [dbo].[T_Share_Luggage_Detail]
GO
/****** Object:  Table [dbo].[T_Share_Luggage_Detail]    Script Date: 2024/07/05 11:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Share_Luggage_Detail](
	[Share_Luggage_ID] [int] NOT NULL,
	[Share_Luggage_Order] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
	[KokyakuName] [nvarchar](100) NULL,
	[Kokyaku_Public_Flg] [int] NOT NULL,
	[Prime_Contractor] [nvarchar](100) NULL,
	[Unchin] [money] NOT NULL,
	[Toll_Kubun] [int] NOT NULL,
	[Toll_Money] [money] NOT NULL,
	[Tumi_Datetime] [datetime] NULL,
	[Tumi_TimeKubun] [int] NOT NULL,
	[Tumi_StatusKubun] [int] NOT NULL,
	[Tumi_Post_code] [nvarchar](10) NULL,
	[Tumi_Address] [nvarchar](255) NULL,
	[Oroshi_Datetime] [datetime] NULL,
	[Oroshi_TimeKubun] [int] NOT NULL,
	[Oroshi_StatusKubun] [int] NOT NULL,
	[Oroshi_Post_code] [nvarchar](10) NULL,
	[Oroshi_Address] [nvarchar](255) NULL,
	[Luggage_Weight] [float] NOT NULL,
	[Syasyu] [int] NOT NULL,
	[SyasyuDisplay] [nvarchar](50) NULL,
	[LuggageDisplay] [nvarchar](100) NULL,
	[EquipmentDisplay] [nvarchar](100) NULL,
	[Remarks] [nvarchar](255) NULL,
 CONSTRAINT [PK_T_Share_Luggage_Detail] PRIMARY KEY CLUSTERED 
(
	[Share_Luggage_ID] ASC,
	[Share_Luggage_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Kokyaku_Public_Flg]  DEFAULT ((0)) FOR [Kokyaku_Public_Flg]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Unchin]  DEFAULT ((0)) FOR [Unchin]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Toll_Kubun]  DEFAULT ((0)) FOR [Toll_Kubun]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Toll_Money]  DEFAULT ((0)) FOR [Toll_Money]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Tumi_TimeKubun]  DEFAULT ((0)) FOR [Tumi_TimeKubun]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Tumi_StatusKubun]  DEFAULT ((0)) FOR [Tumi_StatusKubun]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Tumi_TimeKubun1]  DEFAULT ((0)) FOR [Oroshi_TimeKubun]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Tumi_StatusKubun1]  DEFAULT ((0)) FOR [Oroshi_StatusKubun]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Luggage_Weight]  DEFAULT ((0)) FOR [Luggage_Weight]
GO
ALTER TABLE [dbo].[T_Share_Luggage_Detail] ADD  CONSTRAINT [DF_T_Share_Luggage_Detail_Syasyu]  DEFAULT ((0)) FOR [Syasyu]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:公開、1:非公開' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Share_Luggage_Detail', @level2type=N'COLUMN',@level2name=N'Kokyaku_Public_Flg'
GO
