USE [Haisya]
GO
/****** Object:  View [dbo].[M_Yosya_Branch]    Script Date: 2024/07/24 10:21:41 ******/
DROP VIEW [dbo].[M_Yosya_Branch]
GO
/****** Object:  View [dbo].[M_Yosya_Branch]    Script Date: 2024/07/24 10:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[M_Yosya_Branch]
AS

SELECT [Customer_Branch_ID] AS [Yosya_Branch_ID]
      ,[Customer_ID] AS [Yosya_ID]
      ,[SortOrder]
      ,[Oya_Branch_ID]
      ,[Customer_Branch_Code]
      ,[Customer_Branch_Name]
      ,[Customer_Branch_Name_Kana]
      ,[Customer_Branch_Name_Abbr]
      ,[Customer_Branch_Post]
      ,[Customer_Branch_Address1]
      ,[Customer_Branch_Address2]
      ,[Customer_Branch_Address3]
      ,[Customer_Branch_Phone1]
      ,[Customer_Branch_Phone2]
      ,[Customer_Branch_Fax1]
      ,[Customer_Branch_Fax2]
      ,[Mail_Title]
      ,[Mail_Address1]
      ,[Mail_Address2]
      ,[AnkenRemarks]
      ,[SeikyuRemarks]
      ,[SeikyuTantouID]
      ,[Seikyu_Kubun]
      ,[SeikyuDate_Kubun]
      ,[Toll_Kubun]
      ,[Shime_Day]
      ,[Seikyu_Address]
      ,[Seikuy_PostCode]
      ,[Seikyu_Customer_ID]
      ,[Shiharai_TantouID]
      ,[Shiharai_Shime_Day]
      ,[Shiharai_Remarks]
      ,[Shiharai_Yosya_ID]
      ,[Report_Output_Name_Flg]
      ,[Del_Flg]
      ,[Insert_Datetime]
      ,[Insert_User]
      ,[Update_Datetime]
      ,[Update_User]
  FROM [M_Customer_Branch] 

  WHERE
  EXISTS(
  SELECT 1 FROM [dbo].[M_Customer] C WHERE C.[Yosya_Flg] = 1 AND C.[Customer_ID] = [M_Customer_Branch].[Customer_ID]
  )

GO
