USE [Haisya]
GO
ALTER TABLE [dbo].[M_DefaultMoney_WaitTimeForCompany] DROP CONSTRAINT [DF_M_DefaultMoney_WaitTimeForCompany_Amount_Over2Hour]
GO
/****** Object:  Table [dbo].[M_DefaultMoney_WaitTimeForCompany]    Script Date: 2024/07/31 10:09:25 ******/
DROP TABLE [dbo].[M_DefaultMoney_WaitTimeForCompany]
GO
/****** Object:  Table [dbo].[M_DefaultMoney_WaitTimeForCompany]    Script Date: 2024/07/31 10:09:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_DefaultMoney_WaitTimeForCompany](
	[Company_ID] [int] NOT NULL,
	[Area] [nvarchar](10) NOT NULL,
	[SyasyuSize] [nvarchar](20) NOT NULL,
	[Amount] [money] NULL,
	[Amount_Over2Hour] [money] NOT NULL,
 CONSTRAINT [PK_M_DefaultMoney_WaitTimeForCompany_1] PRIMARY KEY CLUSTERED 
(
	[Company_ID] ASC,
	[Area] ASC,
	[SyasyuSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_DefaultMoney_WaitTimeForCompany] ADD  CONSTRAINT [DF_M_DefaultMoney_WaitTimeForCompany_Amount_Over2Hour]  DEFAULT ((0)) FOR [Amount_Over2Hour]
GO
