USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Report_Layout', @level2type=N'COLUMN',@level2name=N'Print_Kubun'
GO
ALTER TABLE [dbo].[T_Report_Layout] DROP CONSTRAINT [DF_T_Report_Layout_Report_Serch_Kubun_ID]
GO
ALTER TABLE [dbo].[T_Report_Layout] DROP CONSTRAINT [DF_T_Report_Layout_Report_Serch_ID]
GO
ALTER TABLE [dbo].[T_Report_Layout] DROP CONSTRAINT [DF_T_Report_Layout_Csv_Output_Flg]
GO
ALTER TABLE [dbo].[T_Report_Layout] DROP CONSTRAINT [DF_T_Report_Layout_Report_Sort]
GO
ALTER TABLE [dbo].[T_Report_Layout] DROP CONSTRAINT [DF_T_Report_Layout_Zei_Kubun]
GO
ALTER TABLE [dbo].[T_Report_Layout] DROP CONSTRAINT [DF_T_Report_Layout_Print_Kubun]
GO
/****** Object:  Table [dbo].[T_Report_Layout]    Script Date: 2024/07/02 18:31:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Report_Layout]') AND type in (N'U'))
DROP TABLE [dbo].[T_Report_Layout]
GO
/****** Object:  Table [dbo].[T_Report_Layout]    Script Date: 2024/07/02 18:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Report_Layout](
	[Print_Kubun] [int] NOT NULL,
	[Zei_Kubun] [int] NOT NULL,
	[Report_Sort] [int] NOT NULL,
	[Report_Name] [nvarchar](30) NOT NULL,
	[Report_Explan] [nvarchar](20) NULL,
	[Report_Remarks] [nvarchar](40) NULL,
	[Report_HTML] [nvarchar](50) NULL,
	[Csv_Output_Flg] [int] NOT NULL,
	[Report_Serch_ID] [int] NOT NULL,
	[Report_Serch_Kubun_ID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Report_Layout] ADD  CONSTRAINT [DF_T_Report_Layout_Print_Kubun]  DEFAULT ((0)) FOR [Print_Kubun]
GO
ALTER TABLE [dbo].[T_Report_Layout] ADD  CONSTRAINT [DF_T_Report_Layout_Zei_Kubun]  DEFAULT ((0)) FOR [Zei_Kubun]
GO
ALTER TABLE [dbo].[T_Report_Layout] ADD  CONSTRAINT [DF_T_Report_Layout_Report_Sort]  DEFAULT ((0)) FOR [Report_Sort]
GO
ALTER TABLE [dbo].[T_Report_Layout] ADD  CONSTRAINT [DF_T_Report_Layout_Csv_Output_Flg]  DEFAULT ((0)) FOR [Csv_Output_Flg]
GO
ALTER TABLE [dbo].[T_Report_Layout] ADD  CONSTRAINT [DF_T_Report_Layout_Report_Serch_ID]  DEFAULT ((0)) FOR [Report_Serch_ID]
GO
ALTER TABLE [dbo].[T_Report_Layout] ADD  CONSTRAINT [DF_T_Report_Layout_Report_Serch_Kubun_ID]  DEFAULT ((0)) FOR [Report_Serch_Kubun_ID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'2：車番連絡、10：請求問合せ、11：下払問合せ  M_CODE:10' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Report_Layout', @level2type=N'COLUMN',@level2name=N'Print_Kubun'
GO
