USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko', @level2type=N'COLUMN',@level2name=N'Update_User'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko', @level2type=N'COLUMN',@level2name=N'Update_Datetime'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko', @level2type=N'COLUMN',@level2name=N'Insert_User'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko', @level2type=N'COLUMN',@level2name=N'Jiko_Kubun'

GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Update_User]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Insert_User]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_SyaryoManagement_ID1]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_SyaryoManagement_ID]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Jiko_WorkFlow_Status]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Jiko_WorkFlow_Base_ID]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Jiko_Status]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Jiko_Kubun]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Haisya_Group_ID]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Driver_ID]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Branch_ID]
GO
ALTER TABLE [dbo].[T_Jiko] DROP CONSTRAINT [DF_T_Jiko_Company_ID]
GO
/****** Object:  Table [dbo].[T_Jiko]    Script Date: 2024/07/16 19:23:56 ******/
DROP TABLE [dbo].[T_Jiko]
GO
/****** Object:  Table [dbo].[T_Jiko]    Script Date: 2024/07/16 19:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Jiko](
	[Jiko_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Branch_ID] [int] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[Haisya_Group_ID] [int] NOT NULL,
	[Jiko_Kubun] [int] NOT NULL,
	[Jiko_Status] [int] NOT NULL,
	[Jiko_WorkFlow_Base_ID] [int] NOT NULL,
	[Jiko_WorkFlow_Status] [int] NOT NULL,
	[Jiko_Display] [nvarchar](50) NOT NULL,
	[Jiko_Date] [datetime] NOT NULL,
	[SyaryoManagement_ID] [int] NOT NULL,
	[SyaryoManagement_ID1] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Jiko] PRIMARY KEY CLUSTERED 
(
	[Jiko_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Branch_ID]  DEFAULT ((0)) FOR [Branch_ID]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Driver_ID]  DEFAULT ((0)) FOR [Driver_ID]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Haisya_Group_ID]  DEFAULT ((0)) FOR [Haisya_Group_ID]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Jiko_Kubun]  DEFAULT ((0)) FOR [Jiko_Kubun]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Jiko_Status]  DEFAULT ((0)) FOR [Jiko_Status]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Jiko_WorkFlow_Base_ID]  DEFAULT ((0)) FOR [Jiko_WorkFlow_Base_ID]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Jiko_WorkFlow_Status]  DEFAULT ((0)) FOR [Jiko_WorkFlow_Status]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_SyaryoManagement_ID]  DEFAULT ((0)) FOR [SyaryoManagement_ID]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_SyaryoManagement_ID1]  DEFAULT ((0)) FOR [SyaryoManagement_ID1]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Jiko] ADD  CONSTRAINT [DF_T_Jiko_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'M_Code:18' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko', @level2type=N'COLUMN',@level2name=N'Jiko_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko', @level2type=N'COLUMN',@level2name=N'Insert_User'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko', @level2type=N'COLUMN',@level2name=N'Update_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Jiko', @level2type=N'COLUMN',@level2name=N'Update_User'
GO
