USE [Renkei]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Secure_Print', @level2type=N'COLUMN',@level2name=N'Print_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Secure_Check', @level2type=N'COLUMN',@level2name=N'Check_Status'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Secure', @level2type=N'COLUMN',@level2name=N'Del_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Secure', @level2type=N'COLUMN',@level2name=N'Driver_ID'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Secure', @level2type=N'COLUMN',@level2name=N'Renkei_Anken_Secure_Status'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Check', @level2type=N'COLUMN',@level2name=N'Check_Status'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken', @level2type=N'COLUMN',@level2name=N'Renkei_Anken_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken', @level2type=N'COLUMN',@level2name=N'Renkei_Anken_Status'
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure_Print] DROP CONSTRAINT [DF_T_Renkei_Anken_Secure_Print_Print_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure_Print] DROP CONSTRAINT [DF_T_Renkei_Anken_Secure_Print_Print_Datetime]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure_Print] DROP CONSTRAINT [DF_T_Renkei_Anken_Secure_Print_Print_Kubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure_Check] DROP CONSTRAINT [DF_T_Renkei_Anken_Secure_Check_Insert_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure_Check] DROP CONSTRAINT [DF_T_Renkei_Anken_Secure_Check_Check_Status]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure] DROP CONSTRAINT [DF_T_Renkei_Anken_Secure_Del_Kubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure] DROP CONSTRAINT [DF_T_Renkei_Anken_Secure_SyaryoManagement_ID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure] DROP CONSTRAINT [DF_T_Renkei_Anken_Secure_Renkei_Anken_Secure_Status]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure] DROP CONSTRAINT [DF_T_Renkei_Anken_Secure_Update_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure] DROP CONSTRAINT [DF_T_Renkei_Anken_Secure_Insert_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Check] DROP CONSTRAINT [DF_T_Renkei_Anken_Check_Insert_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Check] DROP CONSTRAINT [DF_T_Renkei_Anken_Check_Check_Status]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] DROP CONSTRAINT [DF_T_Renkei_Anken_Senzoku_Driver_ID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] DROP CONSTRAINT [DF_T_Renkei_Anken_SenzokuID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] DROP CONSTRAINT [DF_T_Renkei_Anken_Renkei_Anken_Kubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] DROP CONSTRAINT [DF_T_Renkei_Anken_Branch_ID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] DROP CONSTRAINT [DF_T_Renkei_Anken_Company_ID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] DROP CONSTRAINT [DF_T_Renkei_Anken_Renkei_Anken_Status]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken_Secure_Print]    Script Date: 2024/08/20 17:10:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Renkei_Anken_Secure_Print]') AND type in (N'U'))
DROP TABLE [dbo].[T_Renkei_Anken_Secure_Print]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken_Secure_Check]    Script Date: 2024/08/20 17:10:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Renkei_Anken_Secure_Check]') AND type in (N'U'))
DROP TABLE [dbo].[T_Renkei_Anken_Secure_Check]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken_Secure]    Script Date: 2024/08/20 17:10:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Renkei_Anken_Secure]') AND type in (N'U'))
DROP TABLE [dbo].[T_Renkei_Anken_Secure]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken_Check]    Script Date: 2024/08/20 17:10:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Renkei_Anken_Check]') AND type in (N'U'))
DROP TABLE [dbo].[T_Renkei_Anken_Check]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken]    Script Date: 2024/08/20 17:10:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Renkei_Anken]') AND type in (N'U'))
DROP TABLE [dbo].[T_Renkei_Anken]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken]    Script Date: 2024/08/20 17:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Renkei_Anken](
	[Renkei_Anken_ID] [int] IDENTITY(1,1) NOT NULL,
	[Renkei_Anken_No] [varchar](20) NOT NULL,
	[Renkei_Anken_Status] [int] NOT NULL,
	[Renkei_Anken_Latest_Order] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Branch_ID] [int] NOT NULL,
	[Renkei_Anken_Kubun] [int] NOT NULL,
	[SenzokuID] [int] NOT NULL,
	[Senzoku_Driver_ID] [int] NOT NULL,
 CONSTRAINT [PK_T_Renkei_Anken] PRIMARY KEY CLUSTERED 
(
	[Renkei_Anken_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken_Check]    Script Date: 2024/08/20 17:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Renkei_Anken_Check](
	[Renkei_Anken_ID] [int] NOT NULL,
	[Check_Status] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Renkei_Anken_Check] PRIMARY KEY CLUSTERED 
(
	[Renkei_Anken_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken_Secure]    Script Date: 2024/08/20 17:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Renkei_Anken_Secure](
	[Renkei_Anken_Secure_ID] [int] IDENTITY(1,1) NOT NULL,
	[Renkei_Anken_ID] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
	[Renkei_Anken_Secure_Status] [int] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[Last_Name] [nvarchar](50) NULL,
	[First_Name] [nvarchar](50) NULL,
	[Display_Name] [nvarchar](50) NOT NULL,
	[Phone1] [nvarchar](30) NULL,
	[Phone2] [nvarchar](30) NULL,
	[LineID] [nvarchar](20) NULL,
	[SyaryoManagement_ID] [int] NOT NULL,
	[Syasyu] [nvarchar](20) NULL,
	[Kata] [nvarchar](10) NULL,
	[Syaban_Chiiki] [nvarchar](10) NULL,
	[Syaban_Bunrui] [nvarchar](10) NULL,
	[Syaban_Kana] [nvarchar](10) NULL,
	[Syaban_Number] [nvarchar](10) NULL,
	[Del_Datetime] [datetime] NULL,
	[Del_Kubun] [money] NOT NULL,
 CONSTRAINT [PK_T_Renkei_Anken_Secure] PRIMARY KEY CLUSTERED 
(
	[Renkei_Anken_Secure_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken_Secure_Check]    Script Date: 2024/08/20 17:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Renkei_Anken_Secure_Check](
	[Renkei_Anken_Secure_ID] [int] NOT NULL,
	[Check_Status] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Renkei_Anken_Secure_Check] PRIMARY KEY CLUSTERED 
(
	[Renkei_Anken_Secure_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Renkei_Anken_Secure_Print]    Script Date: 2024/08/20 17:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Renkei_Anken_Secure_Print](
	[Renkei_Anken_Secure_ID] [int] NOT NULL,
	[Print_Kubun] [int] NOT NULL,
	[Print_Datetime] [datetime] NOT NULL,
	[Print_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Renkei_Anken_Secure_Print] PRIMARY KEY CLUSTERED 
(
	[Renkei_Anken_Secure_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] ADD  CONSTRAINT [DF_T_Renkei_Anken_Renkei_Anken_Status]  DEFAULT ((0)) FOR [Renkei_Anken_Status]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] ADD  CONSTRAINT [DF_T_Renkei_Anken_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] ADD  CONSTRAINT [DF_T_Renkei_Anken_Branch_ID]  DEFAULT ((0)) FOR [Branch_ID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] ADD  CONSTRAINT [DF_T_Renkei_Anken_Renkei_Anken_Kubun]  DEFAULT ((0)) FOR [Renkei_Anken_Kubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] ADD  CONSTRAINT [DF_T_Renkei_Anken_SenzokuID]  DEFAULT ((0)) FOR [SenzokuID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken] ADD  CONSTRAINT [DF_T_Renkei_Anken_Senzoku_Driver_ID]  DEFAULT ((0)) FOR [Senzoku_Driver_ID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Check] ADD  CONSTRAINT [DF_T_Renkei_Anken_Check_Check_Status]  DEFAULT ((0)) FOR [Check_Status]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Check] ADD  CONSTRAINT [DF_T_Renkei_Anken_Check_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure] ADD  CONSTRAINT [DF_T_Renkei_Anken_Secure_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure] ADD  CONSTRAINT [DF_T_Renkei_Anken_Secure_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure] ADD  CONSTRAINT [DF_T_Renkei_Anken_Secure_Renkei_Anken_Secure_Status]  DEFAULT ((0)) FOR [Renkei_Anken_Secure_Status]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure] ADD  CONSTRAINT [DF_T_Renkei_Anken_Secure_SyaryoManagement_ID]  DEFAULT ((0)) FOR [SyaryoManagement_ID]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure] ADD  CONSTRAINT [DF_T_Renkei_Anken_Secure_Del_Kubun]  DEFAULT ((0)) FOR [Del_Kubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure_Check] ADD  CONSTRAINT [DF_T_Renkei_Anken_Secure_Check_Check_Status]  DEFAULT ((0)) FOR [Check_Status]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure_Check] ADD  CONSTRAINT [DF_T_Renkei_Anken_Secure_Check_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure_Print] ADD  CONSTRAINT [DF_T_Renkei_Anken_Secure_Print_Print_Kubun]  DEFAULT ((0)) FOR [Print_Kubun]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure_Print] ADD  CONSTRAINT [DF_T_Renkei_Anken_Secure_Print_Print_Datetime]  DEFAULT (getdate()) FOR [Print_Datetime]
GO
ALTER TABLE [dbo].[T_Renkei_Anken_Secure_Print] ADD  CONSTRAINT [DF_T_Renkei_Anken_Secure_Print_Print_User]  DEFAULT ((0)) FOR [Print_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:確定,1:暫定,3:取消,7:変更依頼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken', @level2type=N'COLUMN',@level2name=N'Renkei_Anken_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:依頼案件,1:受注案件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken', @level2type=N'COLUMN',@level2name=N'Renkei_Anken_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:未確認,1:確認済' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Check', @level2type=N'COLUMN',@level2name=N'Check_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:確定配車,1:暫定,3:取消,4:受付済,5:却下,6:取消,7:変更依頼,9:' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Secure', @level2type=N'COLUMN',@level2name=N'Renkei_Anken_Secure_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'HaisyaDBのID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Secure', @level2type=N'COLUMN',@level2name=N'Driver_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:乗務員変更、' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Secure', @level2type=N'COLUMN',@level2name=N'Del_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:未確認,1:確認済' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Secure_Check', @level2type=N'COLUMN',@level2name=N'Check_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:車番連絡' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Renkei_Anken_Secure_Print', @level2type=N'COLUMN',@level2name=N'Print_Kubun'
GO
