USE [Haisya]
GO
ALTER TABLE [dbo].[M_CompanyUser_Group] DROP CONSTRAINT [DF_M_CompanyUser_Group_UP_DATE]
GO
ALTER TABLE [dbo].[M_CompanyUser_Group] DROP CONSTRAINT [DF_M_CompanyUser_Group_Del_Flg]
GO
ALTER TABLE [dbo].[M_CompanyUser_Group] DROP CONSTRAINT [DF_M_CompanyUser_Group_Group_Kubun]
GO
/****** Object:  Table [dbo].[M_CompanyUser_Group]    Script Date: 2024/07/02 18:31:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_CompanyUser_Group]') AND type in (N'U'))
DROP TABLE [dbo].[M_CompanyUser_Group]
GO
/****** Object:  Table [dbo].[M_CompanyUser_Group]    Script Date: 2024/07/02 18:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_CompanyUser_Group](
	[Group_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Group_Kubun] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Group_Name] [nvarchar](50) NOT NULL,
	[Display_Name] [nvarchar](50) NOT NULL,
	[Del_Flg] [bit] NOT NULL,
	[Remarks] [nvarchar](255) NULL,
	[UP_DATE] [datetime] NULL,
	[Phone] [nvarchar](30) NULL,
 CONSTRAINT [PK_M_CompanyUser_Group] PRIMARY KEY CLUSTERED 
(
	[Group_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[M_CompanyUser_Group] ON 

INSERT [dbo].[M_CompanyUser_Group] ([Group_ID], [Company_ID], [Group_Kubun], [SortOrder], [Group_Name], [Display_Name], [Del_Flg], [Remarks], [UP_DATE], [Phone]) VALUES (1, 1, 1, 1, N'テストグループ', N'テストグループ', 0, NULL, CAST(N'2023-11-16T16:56:11.997' AS DateTime), NULL)
INSERT [dbo].[M_CompanyUser_Group] ([Group_ID], [Company_ID], [Group_Kubun], [SortOrder], [Group_Name], [Display_Name], [Del_Flg], [Remarks], [UP_DATE], [Phone]) VALUES (2, 1, 1, 2, N'大型平', N'大型平', 0, NULL, CAST(N'2024-04-24T10:40:51.000' AS DateTime), NULL)
INSERT [dbo].[M_CompanyUser_Group] ([Group_ID], [Company_ID], [Group_Kubun], [SortOrder], [Group_Name], [Display_Name], [Del_Flg], [Remarks], [UP_DATE], [Phone]) VALUES (3, 1, 1, 3, N'大型W', N'大型W', 0, NULL, CAST(N'2024-04-24T10:41:21.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[M_CompanyUser_Group] OFF
GO
ALTER TABLE [dbo].[M_CompanyUser_Group] ADD  CONSTRAINT [DF_M_CompanyUser_Group_Group_Kubun]  DEFAULT ((1)) FOR [Group_Kubun]
GO
ALTER TABLE [dbo].[M_CompanyUser_Group] ADD  CONSTRAINT [DF_M_CompanyUser_Group_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[M_CompanyUser_Group] ADD  CONSTRAINT [DF_M_CompanyUser_Group_UP_DATE]  DEFAULT (getdate()) FOR [UP_DATE]
GO
