USE [Haisya]
GO
ALTER TABLE [dbo].[M_Company] DROP CONSTRAINT [DF_M_Company_HaisyaWeb_License2]
GO
ALTER TABLE [dbo].[M_Company] DROP CONSTRAINT [DF_M_Company_HaisyaWeb_License1]
GO
ALTER TABLE [dbo].[M_Company] DROP CONSTRAINT [DF_M_Company_HaisyaWeb_License]
GO
ALTER TABLE [dbo].[M_Company] DROP CONSTRAINT [DF_M_Company_Del_Flg]
GO
/****** Object:  Table [dbo].[M_Company]    Script Date: 2024/07/02 18:31:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_Company]') AND type in (N'U'))
DROP TABLE [dbo].[M_Company]
GO
/****** Object:  Table [dbo].[M_Company]    Script Date: 2024/07/02 18:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Company](
	[Company_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Code] [nvarchar](50) NULL,
	[Company_Name] [nvarchar](50) NOT NULL,
	[Company_Name_Abbr] [nvarchar](50) NULL,
	[Post1] [nvarchar](3) NULL,
	[Post2] [nvarchar](4) NULL,
	[Address] [nvarchar](100) NULL,
	[Phone] [nvarchar](30) NULL,
	[Fax] [nvarchar](30) NULL,
	[Del_Flg] [bit] NOT NULL,
	[HaisyaWeb_License] [bit] NOT NULL,
	[SeikyuWeb_License] [bit] NOT NULL,
	[RenkeiWeb_License] [bit] NOT NULL,
 CONSTRAINT [PK_M_Company] PRIMARY KEY CLUSTERED 
(
	[Company_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[M_Company] ON 

INSERT [dbo].[M_Company] ([Company_ID], [Company_Code], [Company_Name], [Company_Name_Abbr], [Post1], [Post2], [Address], [Phone], [Fax], [Del_Flg], [HaisyaWeb_License], [SeikyuWeb_License], [RenkeiWeb_License]) VALUES (1, N'100001', N'今井運送株式会社', N'今井運送', N'738', N'0021', N'広島県廿日市市木材港北13-43', N'0829-34-1555', N'0829-34-1561', 0, 0, 0, 0)
INSERT [dbo].[M_Company] ([Company_ID], [Company_Code], [Company_Name], [Company_Name_Abbr], [Post1], [Post2], [Address], [Phone], [Fax], [Del_Flg], [HaisyaWeb_License], [SeikyuWeb_License], [RenkeiWeb_License]) VALUES (2, N'100002', N'あああああ', N'ああああ', NULL, NULL, NULL, NULL, NULL, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[M_Company] OFF
GO
ALTER TABLE [dbo].[M_Company] ADD  CONSTRAINT [DF_M_Company_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[M_Company] ADD  CONSTRAINT [DF_M_Company_HaisyaWeb_License]  DEFAULT ((0)) FOR [HaisyaWeb_License]
GO
ALTER TABLE [dbo].[M_Company] ADD  CONSTRAINT [DF_M_Company_HaisyaWeb_License1]  DEFAULT ((0)) FOR [SeikyuWeb_License]
GO
ALTER TABLE [dbo].[M_Company] ADD  CONSTRAINT [DF_M_Company_HaisyaWeb_License2]  DEFAULT ((0)) FOR [RenkeiWeb_License]
GO
