USE [Haisya]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] DROP CONSTRAINT [DF_T_Haisya_SyabanRenraku_Update_User]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] DROP CONSTRAINT [DF_T_Haisya_SyabanRenraku_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] DROP CONSTRAINT [DF_T_Haisya_SyabanRenraku_Insert_User]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] DROP CONSTRAINT [DF_T_Haisya_SyabanRenraku_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] DROP CONSTRAINT [DF_T_Haisya_SyabanRenraku_Del_Datetime]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] DROP CONSTRAINT [DF_T_Haisya_SyabanRenraku_Company_ID]
GO
/****** Object:  Table [dbo].[T_Haisya_SyabanRenraku]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[T_Haisya_SyabanRenraku]
GO
/****** Object:  Table [dbo].[T_Haisya_SyabanRenraku]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Haisya_SyabanRenraku](
	[SyabanRenraku_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[PrintDate] [date] NOT NULL,
	[Group_ID] [int] NOT NULL,
	[Day] [date] NOT NULL,
	[Tantou_ID] [int] NOT NULL,
	[Customer_Branch_ID] [int] NOT NULL,
	[Mail_Address1] [nvarchar](50) NULL,
	[Mail_Address2] [nvarchar](50) NULL,
	[Del_Datetime] [datetime] NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Haisya_SyabanRenraku] PRIMARY KEY CLUSTERED 
(
	[SyabanRenraku_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] ADD  CONSTRAINT [DF_T_Haisya_SyabanRenraku_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] ADD  CONSTRAINT [DF_T_Haisya_SyabanRenraku_Del_Datetime]  DEFAULT ((0)) FOR [Del_Datetime]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] ADD  CONSTRAINT [DF_T_Haisya_SyabanRenraku_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] ADD  CONSTRAINT [DF_T_Haisya_SyabanRenraku_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] ADD  CONSTRAINT [DF_T_Haisya_SyabanRenraku_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Haisya_SyabanRenraku] ADD  CONSTRAINT [DF_T_Haisya_SyabanRenraku_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
