USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'B_Uriage_Month', @level2type=N'COLUMN',@level2name=N'Zei_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'B_Uriage_Month', @level2type=N'COLUMN',@level2name=N'Print_Pattern'
GO
ALTER TABLE [dbo].[B_Uriage_Month] DROP CONSTRAINT [DF_B_Uriage_Month_UP_DATE]
GO
ALTER TABLE [dbo].[B_Uriage_Month] DROP CONSTRAINT [DF_B_Uriage_Month_Zei_Kubun]
GO
ALTER TABLE [dbo].[B_Uriage_Month] DROP CONSTRAINT [DF_B_Uriage_Month_Print_Pattern]
GO
/****** Object:  Table [dbo].[B_Uriage_Month]    Script Date: 2024/07/02 18:31:31 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[B_Uriage_Month]') AND type in (N'U'))
DROP TABLE [dbo].[B_Uriage_Month]
GO
/****** Object:  Table [dbo].[B_Uriage_Month]    Script Date: 2024/07/02 18:31:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[B_Uriage_Month](
	[Bak_Uriage_Month_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Check_Seikyu_ID] [int] NOT NULL,
	[Seikyu_ID] [int] NOT NULL,
	[Del_Datetime] [datetime] NULL,
	[Print_Pattern] [int] NOT NULL,
	[Seikyu_Month] [date] NOT NULL,
	[Shime_Date] [date] NOT NULL,
	[Zei_Kubun] [int] NOT NULL,
	[Customer_Name] [nvarchar](40) NULL,
	[Customer_Name_Kana] [nvarchar](16) NULL,
	[Seikyu_Date] [nvarchar](10) NULL,
	[Seikyu_Previous] [money] NULL,
	[Received_Amount_This] [money] NULL,
	[Balance_Forward] [money] NULL,
	[Taxable_Amount] [money] NULL,
	[Non_Taxable_Amount] [money] NULL,
	[Tax_Amout] [money] NULL,
	[Tax_Included_Amount] [money] NULL,
	[Seikyu_Amount] [money] NULL,
	[Cash_Received_Amount] [money] NULL,
	[Check_Received_Amount] [money] NULL,
	[Transfer_Received_Amount] [money] NULL,
	[Draft_Received_Amount] [money] NULL,
	[Service_Charge_Amount] [money] NULL,
	[Unchin_Offset] [money] NULL,
	[General_Offset] [money] NULL,
	[Adjustment_Amount] [money] NULL,
	[Qty_Total] [float] NULL,
	[SeikyuUnchin] [money] NULL,
	[Tatekaekin] [money] NULL,
	[Warimashi1] [money] NULL,
	[Warimashi2] [money] NULL,
	[Warimashi3] [money] NULL,
	[Warimashi4] [money] NULL,
	[Warimashi5] [money] NULL,
	[Seikyu_Total_Amount] [money] NULL,
	[FROM_DATE] [date] NULL,
	[TO_DATE] [date] NULL,
	[UP_DATE] [datetime] NULL,
 CONSTRAINT [PK_B_Uriage_Month_1] PRIMARY KEY CLUSTERED 
(
	[Bak_Uriage_Month_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[B_Uriage_Month] ADD  CONSTRAINT [DF_B_Uriage_Month_Print_Pattern]  DEFAULT ((0)) FOR [Print_Pattern]
GO
ALTER TABLE [dbo].[B_Uriage_Month] ADD  CONSTRAINT [DF_B_Uriage_Month_Zei_Kubun]  DEFAULT ((0)) FOR [Zei_Kubun]
GO
ALTER TABLE [dbo].[B_Uriage_Month] ADD  CONSTRAINT [DF_B_Uriage_Month_UP_DATE]  DEFAULT (getdate()) FOR [UP_DATE]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'M_Code:11' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'B_Uriage_Month', @level2type=N'COLUMN',@level2name=N'Print_Pattern'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:課税、1:非課税' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'B_Uriage_Month', @level2type=N'COLUMN',@level2name=N'Zei_Kubun'
GO
