USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense_Payment', @level2type=N'COLUMN',@level2name=N'Update_User'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense_Payment', @level2type=N'COLUMN',@level2name=N'Update_Datetime'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense_Payment', @level2type=N'COLUMN',@level2name=N'Insert_User'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense_Payment', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense_Payment', @level2type=N'COLUMN',@level2name=N'Shime_Kubun'
GO
ALTER TABLE [dbo].[T_Expense_Payment] DROP CONSTRAINT [DF_T_Expense_Payment_Update_User]
GO
ALTER TABLE [dbo].[T_Expense_Payment] DROP CONSTRAINT [DF_T_Expense_Payment_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Expense_Payment] DROP CONSTRAINT [DF_T_Expense_Payment_Insert_User]
GO
ALTER TABLE [dbo].[T_Expense_Payment] DROP CONSTRAINT [DF_T_Expense_Payment_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Expense_Payment] DROP CONSTRAINT [DF_T_Expense_Payment_Shime_Kubun]
GO
ALTER TABLE [dbo].[T_Expense_Payment] DROP CONSTRAINT [DF_T_Expense_Payment_Payment_Money]
GO
ALTER TABLE [dbo].[T_Expense_Payment] DROP CONSTRAINT [DF_T_Expense_Payment_Expense_Money]
GO
ALTER TABLE [dbo].[T_Expense_Payment] DROP CONSTRAINT [DF_T_Expense_Payment_Expense_Item_ID]
GO
ALTER TABLE [dbo].[T_Expense_Payment] DROP CONSTRAINT [DF_T_Expense_Payment_Vender_ID]
GO
ALTER TABLE [dbo].[T_Expense_Payment] DROP CONSTRAINT [DF_T_Expense_Payment_Expense_ID]
GO
/****** Object:  Table [dbo].[T_Expense_Payment]    Script Date: 2024/07/05 11:12:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Expense_Payment]') AND type in (N'U'))
DROP TABLE [dbo].[T_Expense_Payment]
GO
/****** Object:  Table [dbo].[T_Expense_Payment]    Script Date: 2024/07/05 11:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Expense_Payment](
	[Expense_Payment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Expense_ID] [int] NOT NULL,
	[Vender_ID] [int] NOT NULL,
	[Expense_Item_ID] [int] NOT NULL,
	[Expense_Day] [date] NOT NULL,
	[Expense_Money] [money] NOT NULL,
	[Payment_Money] [money] NOT NULL,
	[Payment_Month] [date] NOT NULL,
	[Remarks] [nvarchar](255) NULL,
	[Shime_Kubun] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Expense_Payment] PRIMARY KEY CLUSTERED 
(
	[Expense_Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Expense_Payment] ADD  CONSTRAINT [DF_T_Expense_Payment_Expense_ID]  DEFAULT ((0)) FOR [Expense_ID]
GO
ALTER TABLE [dbo].[T_Expense_Payment] ADD  CONSTRAINT [DF_T_Expense_Payment_Vender_ID]  DEFAULT ((0)) FOR [Vender_ID]
GO
ALTER TABLE [dbo].[T_Expense_Payment] ADD  CONSTRAINT [DF_T_Expense_Payment_Expense_Item_ID]  DEFAULT ((0)) FOR [Expense_Item_ID]
GO
ALTER TABLE [dbo].[T_Expense_Payment] ADD  CONSTRAINT [DF_T_Expense_Payment_Expense_Money]  DEFAULT ((0)) FOR [Expense_Money]
GO
ALTER TABLE [dbo].[T_Expense_Payment] ADD  CONSTRAINT [DF_T_Expense_Payment_Payment_Money]  DEFAULT ((0)) FOR [Payment_Money]
GO
ALTER TABLE [dbo].[T_Expense_Payment] ADD  CONSTRAINT [DF_T_Expense_Payment_Shime_Kubun]  DEFAULT ((0)) FOR [Shime_Kubun]
GO
ALTER TABLE [dbo].[T_Expense_Payment] ADD  CONSTRAINT [DF_T_Expense_Payment_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Expense_Payment] ADD  CONSTRAINT [DF_T_Expense_Payment_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Expense_Payment] ADD  CONSTRAINT [DF_T_Expense_Payment_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Expense_Payment] ADD  CONSTRAINT [DF_T_Expense_Payment_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:未,1:締め	' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense_Payment', @level2type=N'COLUMN',@level2name=N'Shime_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense_Payment', @level2type=N'COLUMN',@level2name=N'Insert_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense_Payment', @level2type=N'COLUMN',@level2name=N'Insert_User'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense_Payment', @level2type=N'COLUMN',@level2name=N'Update_Datetime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Expense_Payment', @level2type=N'COLUMN',@level2name=N'Update_User'
GO
