USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Share_Luggage', @level2type=N'COLUMN',@level2name=N'Share_Luggage_Status'
GO
ALTER TABLE [dbo].[T_Share_Luggage] DROP CONSTRAINT [DF_T_Share_Luggage_Tantou_Group_ID]
GO
ALTER TABLE [dbo].[T_Share_Luggage] DROP CONSTRAINT [DF_T_Share_Luggage_Branch_ID]
GO
ALTER TABLE [dbo].[T_Share_Luggage] DROP CONSTRAINT [DF_T_Share_Luggage_Company_ID]
GO
ALTER TABLE [dbo].[T_Share_Luggage] DROP CONSTRAINT [DF_T_Share_Luggage_Share_Luggage_Status]
GO
/****** Object:  Table [dbo].[T_Share_Luggage]    Script Date: 2024/07/05 11:12:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Share_Luggage]') AND type in (N'U'))
DROP TABLE [dbo].[T_Share_Luggage]
GO
/****** Object:  Table [dbo].[T_Share_Luggage]    Script Date: 2024/07/05 11:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Share_Luggage](
	[Share_Luggage_ID] [int] IDENTITY(1,1) NOT NULL,
	[Share_Luggage_No] [varchar](20) NOT NULL,
	[Share_Luggage_Status] [int] NOT NULL,
	[Share_Luggage_Latest_Order] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Branch_ID] [int] NOT NULL,
	[Tantou_Group_ID] [int] NOT NULL,
	[Cancel_Datetime] [datetime] NULL,
 CONSTRAINT [PK_T_Share_Luggage] PRIMARY KEY CLUSTERED 
(
	[Share_Luggage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Share_Luggage] ADD  CONSTRAINT [DF_T_Share_Luggage_Share_Luggage_Status]  DEFAULT ((0)) FOR [Share_Luggage_Status]
GO
ALTER TABLE [dbo].[T_Share_Luggage] ADD  CONSTRAINT [DF_T_Share_Luggage_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[T_Share_Luggage] ADD  CONSTRAINT [DF_T_Share_Luggage_Branch_ID]  DEFAULT ((0)) FOR [Branch_ID]
GO
ALTER TABLE [dbo].[T_Share_Luggage] ADD  CONSTRAINT [DF_T_Share_Luggage_Tantou_Group_ID]  DEFAULT ((0)) FOR [Tantou_Group_ID]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:公開中,1:確保,2:取消' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Share_Luggage', @level2type=N'COLUMN',@level2name=N'Share_Luggage_Status'
GO
