USE [Haisya]
GO
ALTER TABLE [dbo].[T_Nippou_Toll] DROP CONSTRAINT [DF_T_Nippou_Toll_Update_User]
GO
ALTER TABLE [dbo].[T_Nippou_Toll] DROP CONSTRAINT [DF_T_Nippou_Toll_Insert_User]
GO
ALTER TABLE [dbo].[T_Nippou_Toll] DROP CONSTRAINT [DF_T_Nippou_Toll_Futan_Kubun]
GO
ALTER TABLE [dbo].[T_Nippou_Toll] DROP CONSTRAINT [DF_T_Nippou_Toll_Sort]
GO
/****** Object:  Table [dbo].[T_Nippou_Toll]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[T_Nippou_Toll]
GO
/****** Object:  Table [dbo].[T_Nippou_Toll]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Nippou_Toll](
	[Nippou_Toll_ID] [int] IDENTITY(1,1) NOT NULL,
	[Nippou_ID] [int] NOT NULL,
	[Sort] [int] NOT NULL,
	[DriverSyaryo_ID] [int] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[YosyaDriverSyaryo_ID] [int] NOT NULL,
	[YosyaDriver_ID] [int] NOT NULL,
	[Yosya_Branch_ID] [int] NOT NULL,
	[運行NO] [nvarchar](25) NULL,
	[読取日] [date] NULL,
	[事業所CD] [int] NULL,
	[運行日] [date] NOT NULL,
	[事業所名] [nvarchar](50) NULL,
	[車輌CD] [int] NULL,
	[車輌名] [nvarchar](50) NULL,
	[乗務員CD] [int] NULL,
	[乗務員名] [nvarchar](50) NULL,
	[対象乗務員区分] [int] NULL,
	[開始日時] [datetime] NULL,
	[終了日時] [datetime] NULL,
	[開始道路番号] [nvarchar](20) NULL,
	[開始道路名] [nvarchar](50) NULL,
	[開始ETC番号] [nvarchar](50) NULL,
	[開始IC名] [nvarchar](50) NOT NULL,
	[終了道路番号] [nvarchar](20) NULL,
	[終了道路名] [nvarchar](50) NULL,
	[終了ETC番号] [nvarchar](50) NULL,
	[終了IC名] [nvarchar](50) NOT NULL,
	[精算区分] [int] NULL,
	[精算区分名] [nvarchar](50) NULL,
	[料金] [money] NULL,
	[走行距離] [float] NULL,
	[高速車種区分] [int] NULL,
	[高速車種区分名] [nvarchar](50) NULL,
	[標準料金] [money] NULL,
	[料金区分] [int] NULL,
	[料金区分名] [nvarchar](50) NULL,
	[Futan_Kubun] [int] NOT NULL,
	[Insert_Datetime] [datetime] NULL,
	[Insert_User] [int] NULL,
	[Update_Datetime] [datetime] NULL,
	[Update_User] [int] NULL,
 CONSTRAINT [PK_T_Nippou_Toll] PRIMARY KEY CLUSTERED 
(
	[Nippou_Toll_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_Nippou_Toll] ADD  CONSTRAINT [DF_T_Nippou_Toll_Sort]  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[T_Nippou_Toll] ADD  CONSTRAINT [DF_T_Nippou_Toll_Futan_Kubun]  DEFAULT ((0)) FOR [Futan_Kubun]
GO
ALTER TABLE [dbo].[T_Nippou_Toll] ADD  CONSTRAINT [DF_T_Nippou_Toll_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Nippou_Toll] ADD  CONSTRAINT [DF_T_Nippou_Toll_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
