USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unsyu', @level2type=N'COLUMN',@level2name=N'Unsyu_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unsyu', @level2type=N'COLUMN',@level2name=N'Uriage_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'Zei_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'CalcPrice'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'UnitPrice'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'Unit'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'Qty'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'Default_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'Uriage_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'Seikyu_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'SeikyuDate_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'Reg_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'Reg_Status_Shitabarai'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'Reg_Status'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'Company_ID'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Zei_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Print_Pattern'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Seikyu_Kubun'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Check_Shitabarai', @level2type=N'COLUMN',@level2name=N'Check_Status'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Check_Shitabarai', @level2type=N'COLUMN',@level2name=N'Check_Kubun'
GO
/****** Object:  StoredProcedure [dbo].[Proc_V_UriageDataList]    Script Date: 2024/06/12 18:14:17 ******/
DROP PROCEDURE [dbo].[Proc_V_UriageDataList]
GO
/****** Object:  StoredProcedure [dbo].[Proc_V_HaisyaDataList]    Script Date: 2024/06/12 18:14:17 ******/
DROP PROCEDURE [dbo].[Proc_V_HaisyaDataList]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Update_User]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Insert_User]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Del_Flg]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Route_Midnight]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Route_OverTime]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Route_Teate]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_KojinUnsyu]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Seisan1]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Seisan]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Unsyu_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Driver_ID]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Uriage_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Default_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] DROP CONSTRAINT [DF_T_Uriage_Unsyu_Sort]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Update_User]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Insert_User]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Del_Flg]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Zei_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Warimashi51]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin6]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin5]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin4]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin3]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin2]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin1]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_CalcPrice]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_UnitPrice]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Unit]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Qty]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Customer_Tantou_ID]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Shime_Day]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Default_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Uriage_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] DROP CONSTRAINT [DF_T_Uriage_Unchin_Sort]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Del_Flg1]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Direct_Customer_ID1]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Direct_Uriage_Bumon]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Direct_Uriage_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Direct_Customer_Tantou_ID]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Direct_Customer_ID]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Update_User]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Insert_User]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Shiharai_Over_Approval]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Tatekae_Over_Approval]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Shiharai_Over_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Tatekae_Over_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_SenzokuID]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_Table_1_Seikyu_Kubun1]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_SeikyuDate_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Reg_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Reg_Status1]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Status]
GO
ALTER TABLE [dbo].[T_Uriage] DROP CONSTRAINT [DF_T_Uriage_Company_ID]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Update_User]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Insert_User]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Print_Sort]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Print_ShimeDay]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Zei_Kubun]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Print_Pattern]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Seikyu_Kubun]
GO
ALTER TABLE [dbo].[T_Seikyu] DROP CONSTRAINT [DF_T_Seikyu_Company_ID]
GO
ALTER TABLE [dbo].[T_Print_Seikyu] DROP CONSTRAINT [DF_T_Print_Seikyu_UP_DATE]
GO
ALTER TABLE [dbo].[T_Print_Seikyu] DROP CONSTRAINT [DF_T_Print_Seikyu_Print_Pattern]
GO
ALTER TABLE [dbo].[T_Print_Download] DROP CONSTRAINT [DF_Table_1_Mail_KickOff]
GO
ALTER TABLE [dbo].[T_Print_Download] DROP CONSTRAINT [DF_Table_1_Download_IPAddress1]
GO
ALTER TABLE [dbo].[T_Print_Download] DROP CONSTRAINT [DF_Table_1_Download_User1]
GO
ALTER TABLE [dbo].[T_Print_Download] DROP CONSTRAINT [DF_T_Print_Download_Download_User]
GO
ALTER TABLE [dbo].[T_Print_Download] DROP CONSTRAINT [DF_Table_1_Del_Datetime]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] DROP CONSTRAINT [DF_T_Check_Shitabarai_Update_User]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] DROP CONSTRAINT [DF_T_Check_Shitabarai_Update_Datetime]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] DROP CONSTRAINT [DF_T_Check_Shitabarai_Insert_User]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] DROP CONSTRAINT [DF_T_Check_Shitabarai_Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] DROP CONSTRAINT [DF_T_Check_Shitabarai_Print_Sort]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] DROP CONSTRAINT [DF_T_Check_Shitabarai_Print_ShimeDay]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] DROP CONSTRAINT [DF_T_Check_Shitabarai_Check_Status]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] DROP CONSTRAINT [DF_T_Check_Shitabarai_Check_Kubun]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] DROP CONSTRAINT [DF_T_Check_Shitabarai_Print_Pattern]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] DROP CONSTRAINT [DF_T_Check_Shitabarai_Company_ID]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Update_User]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Update_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Insert_User]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Route_Midnight]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Route_OverTime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Route_Teate]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] DROP CONSTRAINT [DF_M_KojinUnsyu_Route_Company_ID]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Kubun] DROP CONSTRAINT [DF_M_KojinUnsyu_Kubun_Update_User]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Kubun] DROP CONSTRAINT [DF_M_KojinUnsyu_Kubun_Update_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Kubun] DROP CONSTRAINT [DF_M_KojinUnsyu_Kubun_Insert_User]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Kubun] DROP CONSTRAINT [DF_M_KojinUnsyu_Kubun_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Kubun] DROP CONSTRAINT [DF_M_KojinUnsyu_Kubun_Kubun_OverTime]
GO
/****** Object:  Table [dbo].[T_Uriage_Unsyu]    Script Date: 2024/06/12 18:14:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Uriage_Unsyu]') AND type in (N'U'))
DROP TABLE [dbo].[T_Uriage_Unsyu]
GO
/****** Object:  Table [dbo].[T_Uriage_Unchin]    Script Date: 2024/06/12 18:14:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Uriage_Unchin]') AND type in (N'U'))
DROP TABLE [dbo].[T_Uriage_Unchin]
GO
/****** Object:  Table [dbo].[T_Uriage]    Script Date: 2024/06/12 18:14:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Uriage]') AND type in (N'U'))
DROP TABLE [dbo].[T_Uriage]
GO
/****** Object:  Table [dbo].[T_Seikyu_Detail]    Script Date: 2024/06/12 18:14:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Seikyu_Detail]') AND type in (N'U'))
DROP TABLE [dbo].[T_Seikyu_Detail]
GO
/****** Object:  Table [dbo].[T_Seikyu]    Script Date: 2024/06/12 18:14:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Seikyu]') AND type in (N'U'))
DROP TABLE [dbo].[T_Seikyu]
GO
/****** Object:  Table [dbo].[T_Print_Seikyu]    Script Date: 2024/06/12 18:14:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Print_Seikyu]') AND type in (N'U'))
DROP TABLE [dbo].[T_Print_Seikyu]
GO
/****** Object:  Table [dbo].[T_Print_Download]    Script Date: 2024/06/12 18:14:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Print_Download]') AND type in (N'U'))
DROP TABLE [dbo].[T_Print_Download]
GO
/****** Object:  Table [dbo].[T_Check_Shitabarai]    Script Date: 2024/06/12 18:14:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Check_Shitabarai]') AND type in (N'U'))
DROP TABLE [dbo].[T_Check_Shitabarai]
GO
/****** Object:  Table [dbo].[M_KojinUnsyu_Route]    Script Date: 2024/06/12 18:14:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_KojinUnsyu_Route]') AND type in (N'U'))
DROP TABLE [dbo].[M_KojinUnsyu_Route]
GO
/****** Object:  Table [dbo].[M_KojinUnsyu_Kubun]    Script Date: 2024/06/12 18:14:17 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_KojinUnsyu_Kubun]') AND type in (N'U'))
DROP TABLE [dbo].[M_KojinUnsyu_Kubun]
GO
/****** Object:  Table [dbo].[M_KojinUnsyu_Kubun]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_KojinUnsyu_Kubun](
	[KojinUnsyuKubun_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Kubun_Sort] [int] NOT NULL,
	[Kubun_Name] [nvarchar](20) NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_M_KojinUnsyu_Kubun] PRIMARY KEY CLUSTERED 
(
	[KojinUnsyuKubun_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_KojinUnsyu_Route]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_KojinUnsyu_Route](
	[KojinUnsyuRoute_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Route_Teate] [money] NOT NULL,
	[Route_OverTime] [money] NOT NULL,
	[Route_Midnight] [money] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_M_KojinUnsyu_Route] PRIMARY KEY CLUSTERED 
(
	[KojinUnsyuRoute_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Check_Shitabarai]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Check_Shitabarai](
	[Check_Shitabarai_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Print_Pattern] [int] NOT NULL,
	[Check_Kubun] [int] NOT NULL,
	[Check_Status] [int] NOT NULL,
	[Yosya_ID] [int] NOT NULL,
	[Shiharai_Month] [date] NOT NULL,
	[Shime_Day] [int] NOT NULL,
	[Del_Datetime] [datetime] NULL,
	[Print_Datetime] [datetime] NOT NULL,
	[Print_Date] [date] NOT NULL,
	[Print_To_Date] [date] NULL,
	[Mail_Address1] [nvarchar](50) NULL,
	[Mail_Address2] [nvarchar](50) NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Check_Shitabarai] PRIMARY KEY CLUSTERED 
(
	[Check_Shitabarai_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Print_Download]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Print_Download](
	[Print_Rireki_ID] [int] IDENTITY(1,1) NOT NULL,
	[Print_ID] [int] NOT NULL,
	[Download_Datetime] [datetime] NOT NULL,
	[Download_User] [int] NOT NULL,
	[Download_IP_Address] [int] NOT NULL,
	[Download_Web_Browser] [nvarchar](50) NOT NULL,
	[Mail_KickOff_Flg] [bit] NOT NULL,
 CONSTRAINT [PK_T_Print_Download] PRIMARY KEY CLUSTERED 
(
	[Print_Rireki_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Print_Seikyu]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Print_Seikyu](
	[Print_Seikyu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Shime_Date] [date] NOT NULL,
	[Check_Seikyu_ID] [int] NOT NULL,
	[Seikyu_ID] [int] NOT NULL,
	[Del_Datetime] [datetime] NULL,
	[Seikyu_Month] [date] NOT NULL,
	[Print_Pattern] [int] NOT NULL,
	[Mail_Title] [nvarchar](50) NULL,
	[Mail_Detail] [nvarchar](255) NULL,
	[Customer_Name] [nvarchar](40) NULL,
	[Customer_Name_Kana] [nvarchar](16) NULL,
	[PostCode] [nvarchar](7) NULL,
	[Mail_Address1] [nvarchar](50) NULL,
	[Mail_Address2] [nvarchar](50) NULL,
	[Address1] [nvarchar](40) NULL,
	[Address2] [nvarchar](40) NULL,
	[Address3] [nvarchar](40) NULL,
	[Phone1] [nvarchar](13) NULL,
	[Phone2] [nvarchar](13) NULL,
	[Fax1] [nvarchar](13) NULL,
	[Fax2] [nvarchar](13) NULL,
	[Seikyu_Date] [nvarchar](10) NULL,
	[Seikyu_Previous] [money] NULL,
	[Received_Amount_This] [money] NULL,
	[Balance_Forward] [money] NULL,
	[Taxable_Amount] [money] NULL,
	[Non_Taxable_Amount] [money] NULL,
	[Tax_Amout] [money] NULL,
	[Tax_Included_Amount] [money] NULL,
	[Seikyu_Amount] [money] NULL,
	[Cash_Received_Amount] [money] NULL,
	[Check_Received_Amount] [money] NULL,
	[Transfer_Received_Amount] [money] NULL,
	[Draft_Received_Amount] [money] NULL,
	[Service_Charge_Amount] [money] NULL,
	[Unchin_Offset] [money] NULL,
	[General_Offset] [money] NULL,
	[Adjustment_Amount] [money] NULL,
	[Qty_Total] [float] NULL,
	[SeikyuUnchin] [money] NULL,
	[Tatekaekin] [money] NULL,
	[Warimashi1] [money] NULL,
	[Warimashi2] [money] NULL,
	[Warimashi3] [money] NULL,
	[Warimashi4] [money] NULL,
	[Warimashi5] [money] NULL,
	[Seikyu_Total_Amount] [money] NULL,
	[FROM_DATE] [date] NULL,
	[TO_DATE] [date] NULL,
	[UP_DATE] [datetime] NULL,
 CONSTRAINT [PK_T_Print_Seikyu_1] PRIMARY KEY CLUSTERED 
(
	[Print_Seikyu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Seikyu]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Seikyu](
	[Seikyu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Seikyu_Kubun] [int] NOT NULL,
	[Print_Pattern] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Zei_Kubun] [int] NOT NULL,
	[Seikyu_Month] [date] NOT NULL,
	[Shime_Day] [int] NOT NULL,
	[Del_Datetime] [datetime] NULL,
	[Print_Datetime] [datetime] NOT NULL,
	[Print_Date] [date] NOT NULL,
	[Print_To_Date] [date] NULL,
	[Mail_Address1] [nvarchar](50) NULL,
	[Mail_Address2] [nvarchar](50) NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Seikyu] PRIMARY KEY CLUSTERED 
(
	[Seikyu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Seikyu_Detail]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Seikyu_Detail](
	[Seikyu_ID] [int] NOT NULL,
	[Uriage_Unchin_ID] [int] NOT NULL,
	[Anken_ID] [int] NOT NULL,
	[Uriage_ID] [int] NOT NULL,
	[Nippou_ID] [int] NOT NULL,
 CONSTRAINT [PK_T_Seikyu_Detail] PRIMARY KEY CLUSTERED 
(
	[Seikyu_ID] ASC,
	[Uriage_Unchin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Uriage]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Uriage](
	[Uriage_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Reg_Status] [int] NOT NULL,
	[Reg_Status_Shitabarai] [int] NOT NULL,
	[Anken_ID] [int] NOT NULL,
	[Reg_Kubun] [int] NOT NULL,
	[Haisya_Date] [date] NOT NULL,
	[Nippou_ID] [int] NOT NULL,
	[SeikyuDate_Kubun] [int] NOT NULL,
	[Seikyu_Kubun] [int] NOT NULL,
	[SenzokuID] [int] NOT NULL,
	[Tatekae_Over_Kubun] [int] NOT NULL,
	[Tatekae_Over_Reason] [nvarchar](255) NULL,
	[Shiharai_Over_Kubun] [int] NOT NULL,
	[Shiharai_Over_Reason] [nvarchar](255) NULL,
	[Tatekae_Over_Approval] [int] NOT NULL,
	[Shiharai_Over_Approval] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
	[Direct_Uriage_Date] [date] NULL,
	[Direct_Customer_ID] [int] NOT NULL,
	[Direct_Customer_Tantou_ID] [int] NOT NULL,
	[Direct_Uriage_Kubun] [int] NOT NULL,
	[Direct_Uriage_Bumon] [int] NOT NULL,
	[Direct_Seikyu_Group_ID] [int] NOT NULL,
	[Del_Flg] [bit] NOT NULL,
 CONSTRAINT [PK_T_Uriage] PRIMARY KEY CLUSTERED 
(
	[Uriage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Uriage_Unchin]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Uriage_Unchin](
	[Uriage_Unchin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Uriage_ID] [int] NOT NULL,
	[Sort] [int] NOT NULL,
	[Uriage_Kubun] [int] NOT NULL,
	[Default_Kubun] [int] NOT NULL,
	[Seikyu_Date] [date] NOT NULL,
	[Shime_Day] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Tsumi] [nvarchar](20) NULL,
	[Oroshi] [nvarchar](20) NULL,
	[Luggage] [nvarchar](20) NULL,
	[Qty] [float] NOT NULL,
	[Unit] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[CalcPrice] [money] NOT NULL,
	[SeikyuUnchin] [money] NOT NULL,
	[Tatekaekin] [money] NOT NULL,
	[Warimashi1] [money] NOT NULL,
	[Warimashi2] [money] NOT NULL,
	[Warimashi3] [money] NOT NULL,
	[Warimashi4] [money] NOT NULL,
	[Warimashi5] [money] NOT NULL,
	[SeikyuTotal] [money] NOT NULL,
	[Zei_Kubun] [int] NOT NULL,
	[Del_Flg] [bit] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
	[AkaKuro_Remarks] [nvarchar](255) NULL,
 CONSTRAINT [PK_T_Uriage_Unchin] PRIMARY KEY CLUSTERED 
(
	[Uriage_Unchin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Uriage_Unsyu]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Uriage_Unsyu](
	[Uriage_Unsyu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Uriage_ID] [int] NOT NULL,
	[Sort] [int] NOT NULL,
	[Default_Kubun] [int] NOT NULL,
	[Uriage_Kubun] [int] NOT NULL,
	[Unsyu_Date] [date] NOT NULL,
	[SyaryoManagement_ID] [int] NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[Unsyu_Kubun] [int] NOT NULL,
	[Seisan] [money] NOT NULL,
	[KojinFutan] [money] NOT NULL,
	[KojinUnsyu] [money] NOT NULL,
	[Route_Teate] [money] NOT NULL,
	[Route_OverTime] [money] NOT NULL,
	[Route_Midnight] [money] NOT NULL,
	[Del_Flg] [bit] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_T_Uriage_Unsyu] PRIMARY KEY CLUSTERED 
(
	[Uriage_Unsyu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Kubun] ADD  CONSTRAINT [DF_M_KojinUnsyu_Kubun_Kubun_OverTime]  DEFAULT ((0)) FOR [Kubun_Sort]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Kubun] ADD  CONSTRAINT [DF_M_KojinUnsyu_Kubun_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Kubun] ADD  CONSTRAINT [DF_M_KojinUnsyu_Kubun_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Kubun] ADD  CONSTRAINT [DF_M_KojinUnsyu_Kubun_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Kubun] ADD  CONSTRAINT [DF_M_KojinUnsyu_Kubun_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Route_Teate]  DEFAULT ((0)) FOR [Route_Teate]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Route_OverTime]  DEFAULT ((0)) FOR [Route_OverTime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Route_Midnight]  DEFAULT ((0)) FOR [Route_Midnight]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_KojinUnsyu_Route] ADD  CONSTRAINT [DF_M_KojinUnsyu_Route_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] ADD  CONSTRAINT [DF_T_Check_Shitabarai_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] ADD  CONSTRAINT [DF_T_Check_Shitabarai_Print_Pattern]  DEFAULT ((0)) FOR [Print_Pattern]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] ADD  CONSTRAINT [DF_T_Check_Shitabarai_Check_Kubun]  DEFAULT ((0)) FOR [Check_Kubun]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] ADD  CONSTRAINT [DF_T_Check_Shitabarai_Check_Status]  DEFAULT ((0)) FOR [Check_Status]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] ADD  CONSTRAINT [DF_T_Check_Shitabarai_Print_ShimeDay]  DEFAULT ((0)) FOR [Shime_Day]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] ADD  CONSTRAINT [DF_T_Check_Shitabarai_Print_Sort]  DEFAULT (getdate()) FOR [Print_Datetime]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] ADD  CONSTRAINT [DF_T_Check_Shitabarai_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] ADD  CONSTRAINT [DF_T_Check_Shitabarai_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] ADD  CONSTRAINT [DF_T_Check_Shitabarai_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Check_Shitabarai] ADD  CONSTRAINT [DF_T_Check_Shitabarai_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Print_Download] ADD  CONSTRAINT [DF_Table_1_Del_Datetime]  DEFAULT ((0)) FOR [Download_Datetime]
GO
ALTER TABLE [dbo].[T_Print_Download] ADD  CONSTRAINT [DF_T_Print_Download_Download_User]  DEFAULT ((0)) FOR [Download_User]
GO
ALTER TABLE [dbo].[T_Print_Download] ADD  CONSTRAINT [DF_Table_1_Download_User1]  DEFAULT ((0)) FOR [Download_IP_Address]
GO
ALTER TABLE [dbo].[T_Print_Download] ADD  CONSTRAINT [DF_Table_1_Download_IPAddress1]  DEFAULT ((0)) FOR [Download_Web_Browser]
GO
ALTER TABLE [dbo].[T_Print_Download] ADD  CONSTRAINT [DF_Table_1_Mail_KickOff]  DEFAULT ((0)) FOR [Mail_KickOff_Flg]
GO
ALTER TABLE [dbo].[T_Print_Seikyu] ADD  CONSTRAINT [DF_T_Print_Seikyu_Print_Pattern]  DEFAULT ((0)) FOR [Print_Pattern]
GO
ALTER TABLE [dbo].[T_Print_Seikyu] ADD  CONSTRAINT [DF_T_Print_Seikyu_UP_DATE]  DEFAULT (getdate()) FOR [UP_DATE]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Seikyu_Kubun]  DEFAULT ((0)) FOR [Seikyu_Kubun]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Print_Pattern]  DEFAULT ((0)) FOR [Print_Pattern]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Zei_Kubun]  DEFAULT ((0)) FOR [Zei_Kubun]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Print_ShimeDay]  DEFAULT ((0)) FOR [Shime_Day]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Print_Sort]  DEFAULT (getdate()) FOR [Print_Datetime]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Seikyu] ADD  CONSTRAINT [DF_T_Seikyu_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Status]  DEFAULT ((0)) FOR [Reg_Status]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Reg_Status1]  DEFAULT ((0)) FOR [Reg_Status_Shitabarai]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Reg_Kubun]  DEFAULT ((0)) FOR [Reg_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_SeikyuDate_Kubun]  DEFAULT ((0)) FOR [SeikyuDate_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_Table_1_Seikyu_Kubun1]  DEFAULT ((0)) FOR [Seikyu_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_SenzokuID]  DEFAULT ((0)) FOR [SenzokuID]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Tatekae_Over_Kubun]  DEFAULT ((0)) FOR [Tatekae_Over_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Shiharai_Over_Kubun]  DEFAULT ((0)) FOR [Shiharai_Over_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Tatekae_Over_Approval]  DEFAULT ((0)) FOR [Tatekae_Over_Approval]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Shiharai_Over_Approval]  DEFAULT ((0)) FOR [Shiharai_Over_Approval]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Direct_Customer_ID]  DEFAULT ((0)) FOR [Direct_Customer_ID]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Direct_Customer_Tantou_ID]  DEFAULT ((0)) FOR [Direct_Customer_Tantou_ID]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Direct_Uriage_Kubun]  DEFAULT ((0)) FOR [Direct_Uriage_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Direct_Uriage_Bumon]  DEFAULT ((0)) FOR [Direct_Uriage_Bumon]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Direct_Customer_ID1]  DEFAULT ((0)) FOR [Direct_Seikyu_Group_ID]
GO
ALTER TABLE [dbo].[T_Uriage] ADD  CONSTRAINT [DF_T_Uriage_Del_Flg1]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Sort]  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Uriage_Kubun]  DEFAULT ((0)) FOR [Uriage_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Default_Kubun]  DEFAULT ((0)) FOR [Default_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Shime_Day]  DEFAULT ((0)) FOR [Shime_Day]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Customer_Tantou_ID]  DEFAULT ((0)) FOR [Customer_ID]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Qty]  DEFAULT ((0)) FOR [Qty]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Unit]  DEFAULT ((0)) FOR [Unit]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_CalcPrice]  DEFAULT ((0)) FOR [CalcPrice]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin]  DEFAULT ((0)) FOR [SeikyuUnchin]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin1]  DEFAULT ((0)) FOR [Tatekaekin]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin2]  DEFAULT ((0)) FOR [Warimashi1]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin3]  DEFAULT ((0)) FOR [Warimashi2]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin4]  DEFAULT ((0)) FOR [Warimashi3]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin5]  DEFAULT ((0)) FOR [Warimashi4]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_SeikyuUnchin6]  DEFAULT ((0)) FOR [Warimashi5]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Warimashi51]  DEFAULT ((0)) FOR [SeikyuTotal]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Zei_Kubun]  DEFAULT ((0)) FOR [Zei_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage_Unchin] ADD  CONSTRAINT [DF_T_Uriage_Unchin_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Sort]  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Default_Kubun]  DEFAULT ((0)) FOR [Default_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Uriage_Kubun]  DEFAULT ((0)) FOR [Uriage_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Driver_ID]  DEFAULT ((0)) FOR [Driver_ID]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Unsyu_Kubun]  DEFAULT ((0)) FOR [Unsyu_Kubun]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Seisan]  DEFAULT ((0)) FOR [Seisan]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Seisan1]  DEFAULT ((0)) FOR [KojinFutan]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_KojinUnsyu]  DEFAULT ((0)) FOR [KojinUnsyu]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Route_Teate]  DEFAULT ((0)) FOR [Route_Teate]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Route_OverTime]  DEFAULT ((0)) FOR [Route_OverTime]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Route_Midnight]  DEFAULT ((0)) FOR [Route_Midnight]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[T_Uriage_Unsyu] ADD  CONSTRAINT [DF_T_Uriage_Unsyu_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
/****** Object:  StoredProcedure [dbo].[Proc_V_HaisyaDataList]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** SSMS の SelectTopNRows コマンドのスクリプト  ******/



CREATE PROC [dbo].[Proc_V_HaisyaDataList]
(
@COMPANY_ID INT
,@CUSTOMER_ID INT = 0
,@CUSTOMER_TANTOU_ID INT = 0
,@BRANCH_ID INT = 0
,@TARGET_DATE AS DATETIME = '1900/01/01'
,@TARGET_DATE_FROM AS DATETIME = '1900/01/01'
,@TARGET_DATE_TO AS DATETIME = '1900/01/01'
,@SENZOKU_ID INT = 0
,@ANKEN_ID INT = 0
,@HAISYA_GROUP_ID INT = 0
,@SEIKYU_GROUP_ID INT = 0
)
AS

--DECLARE @TARGET_DATE AS DATETIME = '2024/04/13'
--DECLARE @TARGET_DATE_FROM AS DATETIME = '1900/01/01'
--DECLARE @TARGET_DATE_TO AS DATETIME = '1900/01/01'
--DECLARE @COMPANY_ID INT = 1
--DECLARE @BRANCH_ID INT = 0
--DECLARE @SENZOKU_ID INT = 0
--DECLARE @CUSTOMER_ID INT = 0
--DECLARE @CUSTOMER_TANTOU_ID INT = 0
--DECLARE @ANKEN_ID INT = 0

SELECT 
TOP 100 PERCENT
0 AS [SelectRow]
,A.[Anken_No]
,A.[Anken_Status]
,A.[Anken_Latest_Order]
,A.[Anken_Kubun]
,A.[SenzokuID]
,A.[Senzoku_Driver_ID]
,AP.[PublishGroup_ID]
,AP.[Publish_Flg]
,AP.[Publish_FromDatetime]
,AP.[Publish_ToDatetime]
,D.*
,D.[Syasyu] + D.[Kata] AS SyasyuDisplay2
,D.SyasyuDisplay + CHAR(13) + CHAR(10) + CAST(D.Daisuu AS nvarchar(2)) + '台' AS SyasyuDaisuDisplay
,Tantou.[Display_Name] AS Tantou_Name
,Eigyo.[Display_Name] AS Eigyo_Name
,AR.[Remarks]
,D.[LuggageDisplay] AS [Luggage]
,D.[EquipmentDisplay] AS [Equipment]

,C.Customer_Name_Abbr

,CASE A.[Anken_Status] WHEN 0 THEN '確定' WHEN 1 THEN '暫定(配車必要)' WHEN 2 THEN '暫定(配車不要)' ELSE NULL END AnkenStatusDisplay

,CASE WHEN A.[Anken_Latest_Order] = 1 THEN '新規' ELSE (CASE WHEN A.[Anken_Latest_Order] > 1 THEN '変更' ELSE '' END) END AnkenStep

,CASE WHEN D.[SeikyuKubun] = 1 THEN D.[GrossAmount] ELSE NULL END ZanteiAmount
,CASE WHEN D.[SeikyuKubun] = 0 THEN D.[GrossAmount] ELSE NULL END KakuteiAmount

,AD.[AnkenDisplay_ID]
,AD.[Daisuu_Sort]
,AD.[Anken_Key]
,AD.[Day]
,AD.[Display_Kubun]



,ISNULL(SM.[Syaban_Chiiki],'')+ISNULL(SM.[Syaban_Bunrui],'')+ISNULL(SM.[Syaban_Kana],'')+ISNULL(SM.[Syaban_Number],'') AS [FILL_SYABAN]
,ISNULL(SM.[Syaban_Chiiki],'')+ISNULL(SM.[Syaban_Bunrui],'')+ISNULL(SM.[Syaban_Kana],'')+ISNULL(SM.[Syaban_Number],'') AS [SYABAN]
,H.[Driver_ID] 
,CD.[Display_Name] AS [Driver_Name]
,H.[DriverSyaryo_ID]
,H.[SyaryoManagement_ID]
,H.[SyaryoManagement_ID1]
,NULL AS Yosya_Display1			
,NULL AS Yosya_Display2
,NULL AS Yosya_Display3	

,H.[Haisya_ID]
,H.[Haisya_Status]
,H.[Haisya_Kubun]
,CASE H.Haisya_Kubun WHEN 1 THEN '自社' WHEN 2 THEN '傭車' WHEN 3 THEN '専属庸車' END AS [HaisyaKubunDisplay]

,AD.[StartDatetime]
,AD.[EndDatetime]
,AD.[Start_Point_Kubun]
,AD.[Start_BuildingName]
,AD.[Start_BuildingZid]
,AD.[Start_BuildingZid_Attr]
,AD.[Start_BuildingNameRead]
,AD.[Start_Point_KoumokuTitle]
,AD.[Start_Point_Type]
,AD.[Start_PointName]
,AD.[Start_Lng]
,AD.[Start_Lat]
,AD.[Start_Post_code]
,AD.[Start_Address]
,AD.[Start_Address2]
,AD.[Start_Address3]
,AD.[Start_Address4]
,AD.[End_Point_Kubun]
,AD.[End_BuildingName]
,AD.[End_BuildingZid]
,AD.[End_BuildingZid_Attr]
,AD.[End_BuildingNameRead]
,AD.[End_Point_KoumokuTitle]
,AD.[End_Point_Type]
,AD.[End_PointName]
,AD.[End_Lng]
,AD.[End_Lat]
,AD.[End_Post_code]
,AD.[End_Address]
,AD.[End_Address2]
,AD.[End_Address3]
,AD.[End_Address4]
,AD.[Display1]
,AD.[Display2]

,CASE WHEN AD.[Start_BuildingName] IS NULL THEN AD.[Start_Address] ELSE AD.[Start_BuildingName] + CHAR(13) + CHAR(10) + AD.[Start_Address] END StartAddressDisplay
,ISNULL(AD.[Start_Address2],'') + ISNULL(AD.[Start_Address3],'') + ISNULL(AD.[Start_Address4],'') AS StartAddressDisplay2
,CASE WHEN AD.[Start_BuildingName] IS NULL THEN AD.[Start_Address2] + AD.[Start_Address3] ELSE AD.[Start_BuildingName] END StartAddressDisplay3

,AREA.[Area]
,AREA.[Sort_Order] AS [Area_Sort_Order]

,CASE WHEN AD.[End_BuildingName] IS NULL THEN AD.[End_Address] ELSE AD.[End_BuildingName] + CHAR(13) + CHAR(10) + AD.[End_Address]  END EndAddressDisplay
,ISNULL(AD.[End_Address2],'') + ISNULL(AD.[Start_Address3],'') + ISNULL(AD.[End_Address4],'') AS EndAddressDisplay2
,CASE WHEN AD.[End_BuildingName] IS NULL THEN AD.[End_Address2] + AD.[Start_Address3] ELSE AD.[End_BuildingName] END EndAddressDisplay3

,ISNULL(N.[ApprovalStatus],0) AS [NippouStatus]

,ISNULL(ASR.[Renraku_Kubun],0) AS [Renraku_Kubun]


,ISNULL(N.[RenkeiStatus],0) AS [RenkeiStatus]

	  --INT [dbo].[V_AnkenDataList]

FROM 
  
[T_Anken] A
INNER JOIN [T_Anken_Detail] D ON
A.[Anken_ID] = D.[Anken_ID] AND
A.[Anken_Latest_Order] = D.[Anken_Order]

INNER JOIN [dbo].[T_Anken_Display] AD ON
A.Anken_ID = AD.Anken_ID

LEFT JOIN [dbo].[T_Haisya] H ON
AD.[AnkenDisplay_ID] = H.[AnkenDisplay_ID]

LEFT JOIN [dbo].[M_CompanyDriver] CD ON
H.[Driver_ID] = CD.[Driver_ID]

LEFT JOIN [dbo].[M_CompanyDriver_Syaryo] CDS ON
H.[DriverSyaryo_ID] = CDS.[DriverSyaryo_ID]

----配車時点で割り当てられた車輌情報
LEFT JOIN [dbo].[M_SyaryoManagement] SM ON
H.[SyaryoManagement_ID] = SM.[SyaryoManagement_ID]

  LEFT JOIN [dbo].[T_Anken_Remark] AR ON
  A.Anken_ID = AR.Anken_ID AND
  A.Anken_Latest_Order = AR.Anken_Order

  LEFT JOIN [dbo].[T_Anken_Publish] AP ON
  A.Anken_ID = AP.Anken_ID

  LEFT JOIN [M_CompanyUser] Eigyo ON
  D.EigyoID = Eigyo.User_ID

  LEFT JOIN [dbo].[M_CompanyUser_Group] Tantou ON
  D.TantouID = Tantou.Group_ID

  INNER JOIN [dbo].[M_Customer] C ON
  D.KokyakuId = C.Customer_ID 
  AND A.Company_ID = C.Company_ID

  LEFT JOIN [dbo].[M_Area_Ken] AK ON
  AD.[Start_Address2] = AK.[Ken]

  LEFT JOIN [dbo].[M_Area] AREA ON
  AK.[Area_ID] = AREA.[Area_ID]

  LEFT JOIN [dbo].[T_Nippou] N ON
  AD.[AnkenDisplay_ID] = N.[AnkenDisplay_ID]

  LEFT JOIN [dbo].[T_Anken_SyabanRenraku] ASR ON
  A.[Anken_ID] = ASR.[Anken_ID]


  WHERE
  @COMPANY_ID = A.[Company_ID]
  AND
  CASE WHEN @CUSTOMER_ID = 0 THEN 0 ELSE C.[Customer_ID] END = @CUSTOMER_ID
  AND
  CASE WHEN @CUSTOMER_TANTOU_ID = 0 THEN 0 ELSE D.[KokyakuTantouId] END = @CUSTOMER_TANTOU_ID
  AND
  CASE WHEN @BRANCH_ID = 0 THEN 0 ELSE A.[Branch_ID] END = @BRANCH_ID
  AND
  CASE WHEN @TARGET_DATE = '1900/01/01' THEN '1900/01/01' ELSE CAST(AD.[StartDatetime] AS DATE) END = @TARGET_DATE
  AND
  CASE WHEN @TARGET_DATE_FROM = '1900/01/01' THEN '1900/01/01' ELSE CAST(AD.[StartDatetime] AS DATE) END >= @TARGET_DATE_FROM
  AND
  CASE WHEN @TARGET_DATE_TO = '1900/01/01' THEN '1900/01/01' ELSE CAST(AD.[StartDatetime] AS DATE) END <= @TARGET_DATE_TO
  AND
  CASE WHEN @SENZOKU_ID = 0 THEN 0 ELSE A.[SenzokuID] END = @SENZOKU_ID
  AND
  CASE WHEN @ANKEN_ID = 0 THEN 0 ELSE A.[Anken_ID] END = @ANKEN_ID
  AND
  CASE WHEN @HAISYA_GROUP_ID = 0 THEN 0 ELSE D.[TantouID] END = @HAISYA_GROUP_ID
  AND
  CASE WHEN @SEIKYU_GROUP_ID = 0 THEN 0 ELSE C.[SeikyuTantouID] END = @SEIKYU_GROUP_ID
  


  ORDER BY
  A.[Anken_No]

 ,AD.[Anken_Key]
 ,AD.[Daisuu_Sort]



 --DECLARE @ParmDefinition NVARCHAR(500);  
 --SET @ParmDefinition = N'
 --@COMPANY_ID INT,@CUSTOMER_ID INT,@BRANCH_ID INT,
 --@TARGET_DATE AS DATETIME,@TARGET_DATE_FROM AS DATETIME,@TARGET_DATE_TO AS DATETIME,@SENZOKU_ID INT,
 --@ANKEN_ONLY INT';  

 --EXEC SP_EXECUTESQL @SQL, @ParmDefinition, 
 --@COMPANY_ID,@CUSTOMER_ID,@BRANCH_ID,
 --@TARGET_DATE,@TARGET_DATE_FROM,@TARGET_DATE_TO,@SENZOKU_ID,
 --@ANKEN_ONLY
GO
/****** Object:  StoredProcedure [dbo].[Proc_V_UriageDataList]    Script Date: 2024/06/12 18:14:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[Proc_V_UriageDataList]
(
@COMPANY_ID AS INT
,@URIAGE_KUBUN AS INT = 0
,@TOUROKU_KUBUN AS INT = 0
,@FROM_DATE AS DATE = '1900/01/01'
,@TO_DATE AS DATE = '1900/01/01'
,@FROM_TOKUISAKI AS NVARCHAR(8) = ''
,@TO_TOKUISAKI AS NVARCHAR(8) = ''
,@FROM_YOSYA AS NVARCHAR(8)
,@TO_YOSYA AS NVARCHAR(8)
,@SHIME_DAY AS INT = 0
,@SEIKYUDATE_TO AS DATE = '1900/01/01'
,@SEIKYU_TANTOU AS INT = 0
,@HAISYA_TANTOU AS INT = 0
,@DRIVER_ID AS INT = 0
)
AS

BEGIN


--DECLARE @COMPANY_ID AS INT
--SET @COMPANY_ID = 1
--DECLARE @URIAGE_KUBUN AS INT = 1
--SET @URIAGE_KUBUN = 3
--DECLARE @TOUROKU_KUBUN AS INT = 0
--DECLARE @FROM_DATE AS DATE = '1900/01/01'
----SET @FROM_DATE = ''
--DECLARE @TO_DATE AS DATE = '1900/01/01'
--DECLARE @FROM_TOKUISAKI AS NVARCHAR(8) = ''
----SET @FROM_TOKUISAKI = '10792000'

--DECLARE @TO_TOKUISAKI AS NVARCHAR(8) = ''
--DECLARE @FROM_YOSYA AS NVARCHAR(8)
--DECLARE @TO_YOSYA AS NVARCHAR(8)
--DECLARE @SHIME_DAY AS INT = 0
--DECLARE @SEIKYUDATE_TO AS DATE = '1900/01/01'
--DECLARE @SEIKYU_TANTOU AS INT = 0
--DECLARE @HAISYA_TANTOU AS INT = 0
--DECLARE @DRIVER_ID AS INT = 0



--------売上日ＴＯ指定は得意先一つ---------
IF (YEAR(@SEIKYUDATE_TO) <> 1900)
BEGIN
	IF @FROM_TOKUISAKI <> @TO_TOKUISAKI
		BEGIN
			
			RETURN
		END
END


IF YEAR(@TO_DATE) = 1900
BEGIN
	SET @TO_DATE = @FROM_DATE
END


IF @TO_TOKUISAKI IS NULL
BEGIN
	SET @TO_TOKUISAKI = @FROM_TOKUISAKI
END



BEGIN


IF OBJECT_ID(N'tempdb..[#URIAGE_LIST]') IS NOT NULL
BEGIN
	DROP TABLE [#URIAGE_LIST]
END


CREATE TABLE [#URIAGE_LIST]
(
	[SelectRow] [int] NULL,
	[Anken_ID] [int] NULL,
	[Anken_No] [varchar](20) NULL,
	[Anken_Status] [int] NULL,
	[Anken_Latest_Order] [int] NULL,
	[Anken_Kubun] [int] NULL,
	[SenzokuID] [int] NULL,
	[Senzoku_Name] [nvarchar](50) NULL,
	[Seikyu_Kubun] [int] NULL,
	[Calc_Kubun] [int] NULL,
	[Monthly_Fee] [money] NULL,
	[Daily_Fee] [money] NULL,
	[PublishGroup_ID] [int] NULL,
	[Publish_Flg] [bit] NULL,
	[Publish_FromDatetime] [datetime] NULL,
	[Publish_ToDatetime] [datetime] NULL,
	[SyasyuDisplay2] [nvarchar](40) NULL,
	[SyasyuDaisuDisplay] [nvarchar](56) NULL,
	[Haisya_Tantou_ID] [int] NULL,
	[Haisya_Tantou_Name] [nvarchar](50) NULL,
	[Eigyo_Name] [nvarchar](50) NULL,
	[Remarks] [nvarchar](255) NULL,
	[Luggage] [nvarchar](100) NULL,
	[Equipment] [nvarchar](100) NULL,
	[Customer_ID] [int] NULL,
	[Customer_Name] [nvarchar](40) NULL,
	[SeikyuTantouID] [int] NULL,
	[SeikyuTantouName] [nvarchar](40) NULL,
	[AnkenStatusDisplay] [varchar](14) NULL,
	[AnkenStep] [varchar](4) NULL,
	[ZanteiAmount] [money] NULL,
	[KakuteiAmount] [money] NULL,
	[StartAddressDisplay3] [nvarchar](510) NULL,
	[EndAddressDisplay3] [nvarchar](510) NULL,
	[Haisya_Kubun] [int] NULL,
	[Syaban] [nvarchar](10) NULL,
	[Driver_Code] [int] NULL,
	[Driver_Name] [nvarchar](50) NULL,

	[Yosya1_Syaban] [nvarchar](10) NULL,
	[Yosya1_Name] [nvarchar](50) NULL,
	[Yosya1_Driver_Name] [nvarchar](50) NULL,

	[Yosya2_Syaban] [nvarchar](10) NULL,
	[Yosya2_Name] [nvarchar](50) NULL,
	[Yosya2_Driver_Name] [nvarchar](50) NULL,

	[Yosya3_Syaban] [nvarchar](10) NULL,
	[Yosya3_Name] [nvarchar](50) NULL,
	[Yosya3_Driver_Name] [nvarchar](50) NULL,

	[Uriage_ID] [int] NULL,
	[Nippou_ID] [int] NULL,

	[SeikyuUnchin] [money] NULL,
	[Tatekaekin] [money] NULL,
	[Zei_Kubun] [int] NULL,

	[Direct_Uriage_Date] [date] NULL,
	[Direct_Customer_ID] [int] NULL,
	[Direct_Customer_Name] [nvarchar](50) NULL,
	[Direct_Customer_Tantou_ID] [int] NULL,
	[Direct_Customer_TantouName] [nvarchar](50) NULL,
	[Direct_Uriage_Kubun] [int] NULL,
	[Direct_Uriage_KubunName] [nvarchar](50) NULL,
	[Direct_Uriage_Bumon] [int] NULL,
	[Direct_Uriage_BumonName] [nvarchar](50) NULL,
	[Direct_Uriage_SeikyuTotal] [money] NULL,
	[Direct_Uriage_ShiharaiTotal] [money] NULL,
)



END


------案件一覧
IF @URIAGE_KUBUN = 1
BEGIN

BEGIN


INSERT INTO [#URIAGE_LIST]
(
[SelectRow]
,[Anken_ID]
,[Anken_No]
,[Anken_Status]
,[Anken_Latest_Order]
,[Anken_Kubun]
,[SenzokuID]
,[Senzoku_Name]
,[Seikyu_Kubun]
,[Calc_Kubun]
,[Monthly_Fee]
,[Daily_Fee]
,[PublishGroup_ID]
,[Publish_Flg]
,[Publish_FromDatetime]
,[Publish_ToDatetime]
,[SyasyuDisplay2]
,[SyasyuDaisuDisplay]
,[Haisya_Tantou_ID]
,[Haisya_Tantou_Name]
,[Eigyo_Name]
,[Remarks]
,[Luggage]
,[Equipment]
,[Customer_ID]
,[Customer_Name]
,[AnkenStatusDisplay]
,[AnkenStep]
,[ZanteiAmount]
,[KakuteiAmount]
,[StartAddressDisplay3]
,[EndAddressDisplay3]
,[Haisya_Kubun]
,[Uriage_ID]
,[Nippou_ID]
)


SELECT 
		0 AS [SelectRow]
	  ,A.[Anken_ID]
      ,A.[Anken_No]
      ,A.[Anken_Status]
      ,A.[Anken_Latest_Order]
	  ,A.[Anken_Kubun]
	  ,A.[SenzokuID]
	  ,SEN.[Senzoku_Name_Abbr]
	  ,SEN.[Seikyu_Kubun]
	  ,SEN.[Calc_Kubun]
	  ,SEN.[Monthly_Fee]
	  ,SEN.[Daily_Fee]
	  ,AP.[PublishGroup_ID]
	  ,AP.[Publish_Flg]
	  ,AP.[Publish_FromDatetime]
	  ,AP.[Publish_ToDatetime]
	  ,D.[Syasyu] + D.[Kata] AS SyasyuDisplay2
	  ,D.SyasyuDisplay + CHAR(13) + CHAR(10) + CAST(D.Daisuu AS nvarchar(2)) + '台' AS SyasyuDaisuDisplay
	  ,Tantou.Group_ID AS [Haisya_Tantou_ID]
	  ,Tantou.[Display_Name] AS [Haisya_Tantou_Name]
	  ,Eigyo.[Display_Name] AS Eigyo_Name
	  ,AR.[Remarks]
	  ,D.[LuggageDisplay] AS [Luggage]
	  ,D.[EquipmentDisplay] AS [Equipment]

	  ,C.[Customer_ID]
	  ,C.[Customer_Name_Abbr]

	  ,CASE A.[Anken_Status] WHEN 0 THEN '確定' WHEN 1 THEN '暫定(配車必要)' WHEN 2 THEN '暫定(配車不要)' ELSE NULL END AnkenStatusDisplay

	  ,CASE WHEN A.[Anken_Latest_Order] = 1 THEN '新規' ELSE (CASE WHEN A.[Anken_Latest_Order] > 1 THEN '変更' ELSE '' END) END AnkenStep

      ,CASE WHEN D.[SeikyuKubun] = 1 THEN D.[GrossAmount] ELSE NULL END ZanteiAmount
	  ,CASE WHEN D.[SeikyuKubun] = 0 THEN D.[GrossAmount] ELSE NULL END KakuteiAmount


	  ,CASE WHEN S.[BuildingName] IS NULL THEN S.[Address2] + S.[Address3] ELSE S.[BuildingName] END StartAddressDisplay3

	  ,CASE WHEN E.[BuildingName] IS NULL THEN E.[Address2] + E.[Address3] ELSE E.[BuildingName] END EndAddressDisplay3

	  ,0

	  ,U.[Uriage_ID]
	  ,U.[Nippou_ID]

	  --INTO [dbo].[V_UriageDataList]

  FROM 
  
  [T_Anken] A
  INNER JOIN [T_Anken_Detail] D ON
  A.[Anken_ID] = D.[Anken_ID] AND
  A.Anken_Latest_Order = D.Anken_Order

  LEFT JOIN (SELECT * FROM [T_Anken_Point] WHERE [Kubun] = 1 AND [Point_Order] = 1)S ON 
  A.[Anken_ID] = S.[Anken_ID] AND
  A.Anken_Latest_Order = S.Anken_Order

  LEFT JOIN (SELECT X.* FROM [T_Anken_Point] X WHERE X.[Kubun] = 9 AND 
		EXISTS(SELECT 1 FROM [T_Anken_Point] Z WHERE Z.[Kubun] = 9 GROUP BY Z.[Anken_ID] HAVING Z.[Anken_ID] = X.[Anken_ID] AND MAX(Z.[Point_Order]) = X.[Point_Order]))E ON 
  A.[Anken_ID] = E.[Anken_ID] AND
  A.Anken_Latest_Order = E.Anken_Order

  LEFT JOIN [dbo].[T_Anken_Remark] AR ON
  A.[Anken_ID] = AR.[Anken_ID] AND
  A.Anken_Latest_Order = AR.Anken_Order

  LEFT JOIN [dbo].[T_Anken_Publish] AP ON
  A.[Anken_ID] = AP.[Anken_ID]

  LEFT JOIN [M_CompanyUser] Eigyo ON
  D.[EigyoID] = Eigyo.[User_ID]

  LEFT JOIN [dbo].[M_CompanyUser_Group] Tantou ON
  D.[TantouID] = Tantou.[Group_ID]

  INNER JOIN [dbo].[M_Customer] C ON
  D.[KokyakuId] = C.[Customer_ID] 
  AND A.[Company_ID] = C.[Company_ID]

  LEFT JOIN [dbo].[M_Senzoku] SEN ON
  A.[SenzokuID] = SEN.[SenzokuID]

  LEFT JOIN [dbo].[T_Uriage] U ON
  A.[Anken_ID] = U.[Anken_ID]


  WHERE
  A.[Company_ID] = @COMPANY_ID
  AND
  CASE WHEN @FROM_TOKUISAKI = '' THEN '' ELSE C.[Customer_Code] END >= @FROM_TOKUISAKI
  AND
  CASE WHEN @TO_TOKUISAKI = '' THEN '' ELSE C.[Customer_Code] END <= @TO_TOKUISAKI
  AND
  CASE WHEN @SHIME_DAY = 0 THEN 0 ELSE C.[Shime_Day]  END = @SHIME_DAY
  AND
  CASE WHEN @SEIKYU_TANTOU = 0 THEN 0 ELSE C.[SeikyuTantouID] END = @SEIKYU_TANTOU
  AND
  CASE WHEN @HAISYA_TANTOU = 0 THEN 0 ELSE D.[TantouID] END = @HAISYA_TANTOU
  AND
  CASE WHEN @FROM_DATE = '1900/01/01' THEN '1900/01/01' ELSE S.PointDate END >= @FROM_DATE
  AND
  CASE WHEN @TO_DATE = '1900/01/01' THEN '1900/01/01' ELSE S.PointDate END <= @TO_DATE

  ORDER BY
  A.[Anken_No]



END

BEGIN


-----自車ドライバーの設定
UPDATE [#URIAGE_LIST]
SET
[Haisya_Kubun] = X.[Haisya_Kubun]
,[Syaban] = X.[Syaban]
,[Driver_Code] = X.[Driver_Code]
,[Driver_Name] = X.[Driver_Name]

FROM
(
SELECT
TEMP.[Anken_ID]
,ROW_NUMBER() OVER(PARTITION BY TEMP.[Anken_ID] ORDER BY AD.[Anken_Key]) AS AA
,CD.[Employee_Number] AS [Driver_Code]
,CD.[Display_Name] AS [Driver_Name]
,SM.[Syaban_Number] AS [Syaban]
,H.[Haisya_Kubun]
FROM 
[#URIAGE_LIST] TEMP

INNER JOIN [dbo].[T_Anken_Display] AD ON
TEMP.[Anken_ID] = AD.[Anken_ID]

INNER JOIN [dbo].[T_Haisya] H ON
AD.[AnkenDisplay_ID] = H.[AnkenDisplay_ID]

LEFT JOIN [dbo].[M_CompanyDriver] CD ON
H.[Driver_ID] = CD.[Driver_ID]

LEFT JOIN [dbo].[M_SyaryoManagement] SM ON
H.[SyaryoManagement_ID] = SM.[SyaryoManagement_ID]

WHERE
H.[Haisya_Kubun] IN (1)

)X
WHERE
X.AA = 1
AND
[#URIAGE_LIST].[Anken_ID] = X.[Anken_ID]


----傭車ドライバーの設定
UPDATE [#URIAGE_LIST]
SET

[Yosya1_Syaban] =		X.[Yosya1_Syaban]
,[Yosya1_Name] =		X.[Yosya1_Name]
,[Yosya1_Driver_Name] = X.[Yosya1_Driver_Name]

,[Yosya2_Syaban] =		X.[Yosya2_Syaban]
,[Yosya2_Name] =		X.[Yosya2_Name]
,[Yosya2_Driver_Name] = X.[Yosya2_Driver_Name]

,[Yosya3_Syaban] =		X.[Yosya3_Syaban]
,[Yosya3_Name] =		X.[Yosya3_Name]
,[Yosya3_Driver_Name] = X.[Yosya3_Driver_Name]

,[Haisya_Kubun] = [#URIAGE_LIST].[Haisya_Kubun] + X.[Haisya_Kubun]

FROM
(
SELECT
V.[Anken_ID]
,MIN(V.[Haisya_Kubun]) AS [Haisya_Kubun]
,[Yosya1_Syaban] =		MAX(CASE WHEN AA = 1 THEN V.[Syaban] ELSE NULL END)
,[Yosya1_Name] =		MAX(CASE WHEN AA = 1 THEN V.[Yosya_Name] ELSE NULL END)
,[Yosya1_Driver_Name] = MAX(CASE WHEN AA = 1 THEN V.[Driver_Name] ELSE NULL END)

,[Yosya2_Syaban] =		MAX(CASE WHEN AA = 2 THEN V.[Syaban] ELSE NULL END)
,[Yosya2_Name] =		MAX(CASE WHEN AA = 2 THEN V.[Yosya_Name] ELSE NULL END)
,[Yosya2_Driver_Name] = MAX(CASE WHEN AA = 2 THEN V.[Driver_Name] ELSE NULL END)

,[Yosya3_Syaban] =		MAX(CASE WHEN AA = 3 THEN V.[Syaban] ELSE NULL END)
,[Yosya3_Name] =		MAX(CASE WHEN AA = 3 THEN V.[Yosya_Name] ELSE NULL END)
,[Yosya3_Driver_Name] = MAX(CASE WHEN AA = 3 THEN V.[Driver_Name] ELSE NULL END)

FROM
(
SELECT
TEMP.[Anken_ID]
,ROW_NUMBER() OVER(PARTITION BY TEMP.[Anken_ID] ORDER BY AD.[Anken_Key],[Yosya_Sort]) AS AA
,Y.[Yosya_Name_Abbr] AS [Yosya_Name]
,YD.[Display_Name] AS [Driver_Name]
,YDM.[Syaban_Number] AS [Syaban]
,H.[Haisya_Kubun]
FROM 
[#URIAGE_LIST] TEMP

INNER JOIN [dbo].[T_Anken_Display] AD ON
TEMP.[Anken_ID] = AD.[Anken_ID]

INNER JOIN [dbo].[T_Haisya] H ON
AD.[AnkenDisplay_ID] = H.[AnkenDisplay_ID]

LEFT JOIN [dbo].[T_Haisya_Yosya] HY ON
H.[Haisya_ID] = H.[Haisya_ID]


LEFT JOIN [dbo].[M_Yosya] Y ON
HY.[Yosya_ID] = Y.[Yosya_ID]

LEFT JOIN [dbo].[M_Yosya_Driver] YD ON
HY.[YosyaDriver_ID] = YD.[YosyaDriver_ID]

LEFT JOIN [dbo].[M_Yosya_Driver_Syaryo] YDM ON
HY.[YosyaDriverSyaryo_ID] = YDM.[YosyaDriverSyaryo_ID]

WHERE
H.[Haisya_Kubun] IN (2,3)

)V
GROUP BY
V.[Anken_ID]
)X
WHERE
[#URIAGE_LIST].[Anken_ID] = X.[Anken_ID]

END

----売上の集計
BEGIN

UPDATE [#URIAGE_LIST]
SET
[SeikyuUnchin] = X.[SeikyuUnchin]
,[Tatekaekin] = X.[Tatekaekin]
,[Zei_Kubun] = X.[Zei_Kubun]
FROM
(
SELECT
TEMP.[Anken_ID]
,TEMP.[Uriage_ID]
,SUM(UU.[SeikyuUnchin]) AS [SeikyuUnchin]
,SUM(UU.[Tatekaekin]) AS [Tatekaekin]
,MIN(UU.[Zei_Kubun]) AS [Zei_Kubun]
FROM
[#URIAGE_LIST] TEMP
INNER JOIN [dbo].[T_Uriage_Unchin] UU ON
TEMP.[Uriage_ID] = UU.[Uriage_ID]

GROUP BY
TEMP.[Anken_ID]
,TEMP.[Uriage_ID]
)X
WHERE
[#URIAGE_LIST].[Uriage_ID] = X.[Uriage_ID]


END

BEGIN

UPDATE [#URIAGE_LIST]
SET
[Haisya_Kubun] = 4
WHERE
[Haisya_Kubun] = 3
AND
[Driver_Name] IS NOT NULL



END

END

-----専属月額一覧
IF @URIAGE_KUBUN = 2
BEGIN

BEGIN
INSERT INTO [#URIAGE_LIST]
(
[SelectRow]
,[Anken_ID]
,[Anken_Status]
,[Anken_Latest_Order]
,[Anken_Kubun]
,[SenzokuID]
,[Senzoku_Name]
,[PublishGroup_ID]
,[Publish_Flg]
,[SyasyuDisplay2]
,[Customer_ID]
,[Customer_Name]
,[Haisya_Tantou_ID]
,[Haisya_Tantou_Name]
--,[Uriage_ID]
--,[Nippou_ID]
,[Seikyu_Kubun]
,[Calc_Kubun]
,[Monthly_Fee]
,[Daily_Fee]
)

SELECT

0 AS [SelectRow]
,0 AS [Anken_ID]
,0 AS [Anken_Status]
,0 AS [Anken_Latest_Order]
,0 AS [Anken_Kubun]
,Senzoku.[SenzokuID]
,Senzoku.[Senzoku_Name_Abbr]
,0 AS [PublishGroup_ID]
,0 AS [Publish_Flg]
,Senzoku.[Syasyu] + Senzoku.[Kata] AS SyasyuDisplay2
,C.[Customer_ID]
,C.[Customer_Name_Abbr]
,Tantou.Group_ID AS [Haisya_Tantou_ID]
,Tantou.[Display_Name] AS [Haisya_Tantou_Name]
,Senzoku.[Seikyu_Kubun]
,Senzoku.[Calc_Kubun]
,Senzoku.[Monthly_Fee]
,Senzoku.[Daily_Fee]

FROM
[dbo].[M_Senzoku] Senzoku
INNER JOIN 
(SELECT TOP 1 * FROM [dbo].[M_Senzoku_Driver] W
WHERE 
CASE WHEN @FROM_DATE = '1900/01/01' THEN '1900/01/01' ELSE W.[From_Date] END >= @FROM_DATE
AND
CASE WHEN @TO_DATE = '1900/01/01' THEN '1900/01/01' ELSE W.[To_Date] END <= @TO_DATE
)SD ON
Senzoku.[SenzokuID] = SD.[SenzokuID]

INNER JOIN [dbo].[M_Customer] C ON
Senzoku.[Customer_ID] = C.[Customer_ID]

LEFT JOIN [dbo].[M_Customer_Tantou] CT ON
Senzoku.Customer_Tantou_ID = CT.Tantou_ID

LEFT JOIN [dbo].[M_CompanyUser_Group] Tantou ON
Senzoku.[Haisya_Group_ID] = Tantou.[Group_ID]



WHERE
EXISTS
(
SELECT
1
FROM
[T_Anken] A
  INNER JOIN [T_Anken_Detail] D ON
  A.[Anken_ID] = D.[Anken_ID] AND
  A.Anken_Latest_Order = D.Anken_Order

  INNER JOIN [dbo].[M_Customer] C ON
  D.[KokyakuId] = C.[Customer_ID] 
  AND A.[Company_ID] = C.[Company_ID]

  LEFT JOIN (SELECT * FROM [T_Anken_Point] WHERE [Kubun] = 1 AND [Point_Order] = 1)S ON 
  A.[Anken_ID] = S.[Anken_ID] AND
  A.Anken_Latest_Order = S.Anken_Order

  WHERE
  A.[Company_ID] = @COMPANY_ID
  AND
  CASE WHEN @FROM_TOKUISAKI = '' THEN '' ELSE C.[Customer_Code] END >= @FROM_TOKUISAKI
  AND
  CASE WHEN @TO_TOKUISAKI = '' THEN '' ELSE C.[Customer_Code] END <= @TO_TOKUISAKI
  AND
  CASE WHEN @SHIME_DAY = 0 THEN 0 ELSE C.[Shime_Day]  END = @SHIME_DAY
  AND
  CASE WHEN @SEIKYU_TANTOU = 0 THEN 0 ELSE C.[SeikyuTantouID] END = @SEIKYU_TANTOU
  AND
  CASE WHEN @HAISYA_TANTOU = 0 THEN 0 ELSE D.[TantouID] END = @HAISYA_TANTOU
  AND
  CASE WHEN @FROM_DATE = '1900/01/01' THEN '1900/01/01' ELSE S.PointDate END >= @FROM_DATE
  AND
  CASE WHEN @TO_DATE = '1900/01/01' THEN '1900/01/01' ELSE S.PointDate END <= @TO_DATE
  AND
  A.[SenzokuID] = Senzoku.[SenzokuID]
)
END

----運賃立替金の設定
BEGIN

UPDATE [#URIAGE_LIST]
SET
[SeikyuUnchin] = X.[SeikyuUnchin]
,[Tatekaekin] = X.[Tatekaekin]
FROM
(
SELECT

TEMP.[SenzokuID]
,SUM(UU.[SeikyuUnchin]) AS [SeikyuUnchin] 
,SUM(UU.[Tatekaekin]) AS [Tatekaekin] 

FROM
[#URIAGE_LIST] TEMP
INNER JOIN [dbo].[T_Uriage] U ON
TEMP.[SenzokuID] = U.[SenzokuID]
INNER JOIN [dbo].[T_Uriage_Unchin] UU ON
U.[Uriage_ID] = UU.[Uriage_ID]
WHERE

CASE WHEN @FROM_DATE = '1900/01/01' THEN '1900/01/01' ELSE U.[Haisya_Date] END >= @FROM_DATE
AND
CASE WHEN @TO_DATE = '1900/01/01' THEN '1900/01/01' ELSE U.[Haisya_Date] END <= @TO_DATE

GROUP BY
TEMP.[SenzokuID]
)X
WHERE
[#URIAGE_LIST].[SenzokuID] = X.[SenzokuID]

END

END


IF @URIAGE_KUBUN = 3
BEGIN

BEGIN

INSERT INTO [#URIAGE_LIST]
(

[Uriage_ID]
,[Direct_Uriage_Date]
,[Direct_Customer_ID]
,[Direct_Customer_Name]
,[Direct_Customer_Tantou_ID]
,[Direct_Customer_TantouName]
,[Direct_Uriage_Kubun]
,[Direct_Uriage_KubunName]
,[Direct_Uriage_Bumon]
,[Direct_Uriage_BumonName]
--,[Direct_Uriage_SeikyuTotal]
--,[Direct_Uriage_ShiharaiTotal]

,[SeikyuTantouID]
,[SeikyuTantouName]

)
SELECT

U.[Uriage_ID]
,U.[Direct_Uriage_Date]
,U.[Direct_Customer_ID]
,C.[Customer_Name_Abbr] AS [Direct_Customer_Name]
,U.[Direct_Customer_Tantou_ID]
,CT.[Tantou_Name_Abbr] AS [Direct_Customer_TantouName]
,U.[Direct_Uriage_Kubun]
,[UriageKubun].Code_Name AS [Direct_Uriage_KubunName]
,U.[Direct_Uriage_Bumon]
,[UriageBumon].Code_Name AS [Direct_Uriage_BumonName]
,U.[Direct_Seikyu_Group_ID] AS [SeikyuTantouID]
,CUG.[Group_Name] AS [Direct_Seikyu_Group_Name]


FROM
[dbo].[T_Uriage] U
INNER JOIN [dbo].[M_Customer] C ON
U.[Direct_Customer_ID] = C.[Customer_ID]

LEFT JOIN [dbo].[M_Customer_Tantou] CT ON
U.[Direct_Customer_Tantou_ID] = CT.[Tantou_ID]

LEFT JOIN (SELECT * FROM [dbo].[M_Code_Data] WHERE Code_ID = 8) AS [UriageKubun] ON
U.[Direct_Uriage_Kubun] = [UriageKubun].[Code_Data]

LEFT JOIN (SELECT * FROM [dbo].[M_Code_Data] WHERE Code_ID = 12) AS [UriageBumon] ON
U.[Direct_Uriage_Bumon] = [UriageBumon].[Code_Data]

LEFT JOIN [dbo].[M_CompanyUser_Group] CUG ON
U.[Direct_Seikyu_Group_ID] = CUG.[Group_ID]

WHERE
U.[Reg_Kubun] = 1
AND
U.[Company_ID] = @COMPANY_ID
AND
CASE WHEN @FROM_TOKUISAKI = '' THEN '' ELSE C.[Customer_Code] END >= @FROM_TOKUISAKI
AND
CASE WHEN @TO_TOKUISAKI = '' THEN '' ELSE C.[Customer_Code] END <= @TO_TOKUISAKI
AND
CASE WHEN @SHIME_DAY = 0 THEN 0 ELSE C.[Shime_Day]  END = @SHIME_DAY
AND
CASE WHEN @SEIKYU_TANTOU = 0 THEN 0 ELSE U.[Direct_Seikyu_Group_ID] END = @SEIKYU_TANTOU
AND
CASE WHEN @FROM_DATE = '1900/01/01' THEN '1900/01/01' ELSE U.[Direct_Uriage_Date] END >= @FROM_DATE
AND
CASE WHEN @TO_DATE = '1900/01/01' THEN '1900/01/01' ELSE U.[Direct_Uriage_Date] END <= @TO_DATE

END

----運賃立替金の設定
BEGIN

UPDATE [#URIAGE_LIST]
SET
[Direct_Uriage_SeikyuTotal] = X.[SeikyuTotal]
FROM
(
SELECT

TEMP.[Uriage_ID]
,SUM(UU.[SeikyuTotal]) AS [SeikyuTotal] 
,SUM(UU.[SeikyuUnchin]) AS [SeikyuUnchin] 
,SUM(UU.[Tatekaekin]) AS [Tatekaekin] 

FROM
[#URIAGE_LIST] TEMP
INNER JOIN [dbo].[T_Uriage] U ON
TEMP.[Uriage_ID] = U.[Uriage_ID]
INNER JOIN [dbo].[T_Uriage_Unchin] UU ON
U.[Uriage_ID] = UU.[Uriage_ID]
WHERE

CASE WHEN @FROM_DATE = '1900/01/01' THEN '1900/01/01' ELSE U.[Haisya_Date] END >= @FROM_DATE
AND
CASE WHEN @TO_DATE = '1900/01/01' THEN '1900/01/01' ELSE U.[Haisya_Date] END <= @TO_DATE

GROUP BY
TEMP.[Uriage_ID]
)X
WHERE
[#URIAGE_LIST].[Uriage_ID] = X.[Uriage_ID]


UPDATE [#URIAGE_LIST]
SET
[Direct_Uriage_ShiharaiTotal] = X.[ShiharaiTotal]
FROM
(
SELECT

TEMP.[Uriage_ID]
,SUM(US.[ShiharaiPrice] + US.[WarimashiPrice] + US.[Tatekaekin]) AS [ShiharaiTotal] 
,SUM(US.[ShiharaiPrice]) AS [ShiharaiPrice] 
,SUM(US.[WarimashiPrice]) AS [WarimashiPrice] 
,SUM(US.[Tatekaekin]) AS [Tatekaekin] 
FROM
[#URIAGE_LIST] TEMP
INNER JOIN [dbo].[T_Uriage] U ON
TEMP.[Uriage_ID] = U.[Uriage_ID]
INNER JOIN [dbo].[T_Uriage_Shitabarai] US ON
U.[Uriage_ID] = US.[Uriage_ID]
WHERE

CASE WHEN @FROM_DATE = '1900/01/01' THEN '1900/01/01' ELSE U.[Haisya_Date] END >= @FROM_DATE
AND
CASE WHEN @TO_DATE = '1900/01/01' THEN '1900/01/01' ELSE U.[Haisya_Date] END <= @TO_DATE

GROUP BY
TEMP.[Uriage_ID]
)X
WHERE
[#URIAGE_LIST].[Uriage_ID] = X.[Uriage_ID]




END


END



BEGIN

DELETE FROM [#URIAGE_LIST] WHERE [Haisya_Kubun] = 0


END


SELECT * FROM [#URIAGE_LIST]


END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1：WEB、2：帳票' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Check_Shitabarai', @level2type=N'COLUMN',@level2name=N'Check_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：発行済み、1：確認中、2：確認済、3：未定、4：承認済' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Check_Shitabarai', @level2type=N'COLUMN',@level2name=N'Check_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1：WEB、2：帳票' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Seikyu_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'帳票印刷の場合、印刷パターン' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Print_Pattern'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:課税、1:非課税' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Seikyu', @level2type=N'COLUMN',@level2name=N'Zei_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'Company_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：仮登録、1：暫定登録、2：確定登録' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'Reg_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：仮登録、1：暫定登録、2：確定登録' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'Reg_Status_Shitabarai'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：案件、1：直接' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'Reg_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：配車日（積日）、1：卸日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'SeikyuDate_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：案件単位、1：卸し単位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage', @level2type=N'COLUMN',@level2name=N'Seikyu_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：伝票、1：赤黒伝票' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'Uriage_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：追加、1：初期値' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'Default_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'Qty'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'単位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'Unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'単価' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'UnitPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'計算運賃' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'CalcPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:課税、1:非課税' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unchin', @level2type=N'COLUMN',@level2name=N'Zei_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0：伝票、1：赤黒伝票' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unsyu', @level2type=N'COLUMN',@level2name=N'Uriage_Kubun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'案件、空車回送、泊まり等' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'T_Uriage_Unsyu', @level2type=N'COLUMN',@level2name=N'Unsyu_Kubun'
GO
