USE [Haisya]
GO
/****** Object:  StoredProcedure [dbo].[Proc_V_SeikyuDataList]    Script Date: 2024/08/23 8:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_V_ExpenseDataList]
(
@COMPANY_ID AS INT
,@KEIHI_KUBUN AS INT = 0
,@SYABAN AS NVARCHAR(4)
,@DRIVER_CODE AS NVARCHAR(8)
,@DRIVER_NAME AS NVARCHAR(20)
,@NENDO AS INT = 0
)
AS

BEGIN


--DECLARE @COMPANY_ID AS INT = 1

--DECLARE @SYABAN NVARCHAR(4) = '999'
--DECLARE @DRIVER_CODE NVARCHAR(8) = NULL
--DECLARE @DRIVER_NAME NVARCHAR(20) = NULL
--DECLARE @NENDO INT = 2024
--DECLARE @KEIHI_KUBUN INT =2





--BEGIN

--IF OBJECT_ID(N'tempdb..[#EXPENSE_LIST]') IS NOT NULL
--BEGIN
--	DROP TABLE [#EXPENSE_LIST]
--END



--CREATE TABLE [#EXPENSE_LIST]
--(


--)


--END



BEGIN


--INSERT INTO [#EXPENSE_LIST]
--(
--[Expense_ID]
--,[Expense_Kubun]
--,[SyaryoManagement_ID]
--,[Syaban_Number]
--,[SyasyuDisplay]
--,[Driver_ID]
--,[DRIVER_CODE]
--,[DRIVER_NAME]
--,[Jiko_ID]
--,[Jiko_Date]
--,[Jiko_Display]
--,[Jiko_Futan_Money]


--)

SELECT

X.[Expense_ID]
,X.[Expense_Kubun]
,X.[SyaryoManagement_ID]
,X.[Syaban_Number]
,X.[SyasyuDisplay]
,X.[Driver_ID]
,X.[DRIVER_CODE]
,X.[DRIVER_NAME]
,X.[Jiko_ID]
,X.[Jiko_Date]
,X.[Jiko_Display]
,X.[Jiko_Futan_Money]

FROM
(
SELECT
E.[Expense_ID]
,E.[Expense_Kubun]
,E.[SyaryoManagement_ID]
,SM.[Syaban_Number]
,S.[SyasyuDisplay]
,0 AS [Driver_ID]
,NULL AS [DRIVER_CODE]
,NULL AS [DRIVER_NAME]
,0 AS [Jiko_ID]
,NULL AS [Jiko_Date]
,NULL AS [Jiko_Display]
,NULL AS [Jiko_Futan_Money]


FROM
[dbo].[T_Expense] E

INNER JOIN [dbo].[T_Expense_Payment] EP ON
E.[Expense_ID] = EP.[Expense_ID]

INNER JOIN [dbo].[M_SyaryoManagement] SM ON
E.[SyaryoManagement_ID] = SM.[SyaryoManagement_ID]

INNER JOIN [dbo].[M_Syaryo] S ON
SM.[Syaryo_ID] = S.[Syaryo_ID]

WHERE
E.[Company_ID] = @COMPANY_ID
AND
YEAR(DATEADD(MONTH, -3, EP.[Expense_Day])) = @NENDO


UNION ALL


SELECT
E.[Expense_ID]
,E.[Expense_Kubun]
,E.[SyaryoManagement_ID]
,NULL AS [Syaban_Number]
,NULL AS [SyasyuDisplay]
,CD.[Driver_ID]
,CD.[Employee_Number] AS [DRIVER_CODE]
,CD.[Display_Name] AS [DRIVER_NAME]
,0 AS [Jiko_ID]
,NULL AS [Jiko_Date]
,NULL AS [Jiko_Display]
,NULL AS [Jiko_Futan_Money]

FROM
[dbo].[T_Expense] E

INNER JOIN [dbo].[T_Expense_Payment] EP ON
E.[Expense_ID] = EP.[Expense_ID]

INNER JOIN [dbo].[M_CompanyDriver] CD ON
E.[Driver_ID]= CD.[Driver_ID]


WHERE
E.[Company_ID] = @COMPANY_ID
AND
E.[SyaryoManagement_ID] = 0
AND
YEAR(DATEADD(MONTH, -3, EP.[Expense_Day])) = @NENDO




UNION ALL


SELECT
E.[Expense_ID]
,E.[Expense_Kubun]
,E.[SyaryoManagement_ID]
,NULL AS [Syaban_Number]
,NULL AS [SyasyuDisplay]
,CD.[Driver_ID]
,CD.[Employee_Number] AS [DRIVER_CODE]
,CD.[Display_Name] AS [DRIVER_NAME]
,J.[Jiko_ID]
,J.[Jiko_Date]
,J.[Jiko_Display]
,J.[Jiko_Futan_Money]

FROM
[dbo].[T_Expense] E

INNER JOIN [dbo].[T_Expense_Payment] EP ON
E.[Expense_ID] = EP.[Expense_ID]

INNER JOIN [dbo].[T_Jiko] J ON
E.[Jiko_ID] = J.[Jiko_ID]

INNER JOIN [dbo].[M_CompanyDriver] CD ON
J.[Driver_ID]= CD.[Driver_ID]

WHERE
E.[Company_ID] = @COMPANY_ID
AND
E.[SyaryoManagement_ID] = 0
AND
YEAR(DATEADD(MONTH, -3, EP.[Expense_Day])) = @NENDO

) X

WHERE
[Expense_Kubun] = @KEIHI_KUBUN
AND
CASE WHEN @SYABAN IS NULL THEN '' ELSE X.[Syaban_Number] END = ISNULL(@SYABAN,'')
AND
CASE WHEN @DRIVER_CODE IS NULL THEN '' ELSE X.[DRIVER_CODE] END = ISNULL(@DRIVER_CODE,'')
AND
CASE WHEN @DRIVER_NAME IS NULL THEN '@@' ELSE X.[DRIVER_NAME] END LIKE '%' + ISNULL(@DRIVER_NAME,'@@') + '%'



END





--SELECT * FROM [#EXPENSE_LIST]


END
