USE [Haisya]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] DROP CONSTRAINT [DF_M_Customer_Driver_Syaryo_Update_User]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] DROP CONSTRAINT [DF_M_Customer_Driver_Syaryo_Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] DROP CONSTRAINT [DF_M_Customer_Driver_Syaryo_Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] DROP CONSTRAINT [DF_M_Customer_Driver_Syaryo_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] DROP CONSTRAINT [DF_Customer_Driver_Syaryo_Del_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] DROP CONSTRAINT [DF_M_Customer_Driver_Syaryo_START_DATE]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] DROP CONSTRAINT [DF_M_Customer_Driver_Syaryo_Customer_Branch_ID]
GO
/****** Object:  Table [dbo].[M_Customer_Driver_Syaryo]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[M_Customer_Driver_Syaryo]
GO
/****** Object:  Table [dbo].[M_Customer_Driver_Syaryo]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Customer_Driver_Syaryo](
	[Customer_DriverSyaryo_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Driver_ID] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Customer_Branch_ID] [int] NOT NULL,
	[Start_Date] [datetime] NOT NULL,
	[End_Date] [datetime] NULL,
	[SIZE] [nvarchar](20) NOT NULL,
	[Syasyu] [nvarchar](20) NOT NULL,
	[Kata] [nvarchar](10) NOT NULL,
	[Syaban_Chiiki] [nvarchar](10) NULL,
	[Syaban_Bunrui] [nvarchar](10) NULL,
	[Syaban_Kana] [nvarchar](10) NULL,
	[Syaban_Number] [nvarchar](10) NOT NULL,
	[REMARKS] [nvarchar](255) NULL,
	[Del_Flg] [bit] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_[M_Customer_Driver_Syaryo] PRIMARY KEY CLUSTERED 
(
	[Customer_DriverSyaryo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[M_Customer_Driver_Syaryo] ON 

INSERT [dbo].[M_Customer_Driver_Syaryo] ([Customer_DriverSyaryo_ID], [Customer_Driver_ID], [Customer_ID], [Customer_Branch_ID], [Start_Date], [End_Date], [SIZE], [Syasyu], [Kata], [Syaban_Chiiki], [Syaban_Bunrui], [Syaban_Kana], [Syaban_Number], [REMARKS], [Del_Flg], [Insert_Datetime], [Insert_User], [Update_Datetime], [Update_User]) VALUES (2, 1, 1, 2, CAST(N'2024-07-01 00:00:00.000' AS DateTime), NULL, N'15t', N'15t', N'平', N'ああ', N'101', N'を', N'9999', NULL, 0, CAST(N'2024-07-23 16:37:56.960' AS DateTime), 0, CAST(N'2024-07-23 16:37:56.960' AS DateTime), 0)
INSERT [dbo].[M_Customer_Driver_Syaryo] ([Customer_DriverSyaryo_ID], [Customer_Driver_ID], [Customer_ID], [Customer_Branch_ID], [Start_Date], [End_Date], [SIZE], [Syasyu], [Kata], [Syaban_Chiiki], [Syaban_Bunrui], [Syaban_Kana], [Syaban_Number], [REMARKS], [Del_Flg], [Insert_Datetime], [Insert_User], [Update_Datetime], [Update_User]) VALUES (3, 3, 1, 2, CAST(N'2024-07-01 00:00:00.000' AS DateTime), NULL, N'15t', N'10t', N'平', N'ああ', N'777', N'を', N'8888', NULL, 0, CAST(N'2024-07-23 17:19:08.963' AS DateTime), 0, CAST(N'2024-07-23 17:19:08.963' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[M_Customer_Driver_Syaryo] OFF
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] ADD  CONSTRAINT [DF_M_Customer_Driver_Syaryo_Customer_Branch_ID]  DEFAULT ((0)) FOR [Customer_Branch_ID]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] ADD  CONSTRAINT [DF_M_Customer_Driver_Syaryo_START_DATE]  DEFAULT ('1900/01/01') FOR [Start_Date]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] ADD  CONSTRAINT [DF_Customer_Driver_Syaryo_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] ADD  CONSTRAINT [DF_M_Customer_Driver_Syaryo_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] ADD  CONSTRAINT [DF_M_Customer_Driver_Syaryo_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] ADD  CONSTRAINT [DF_M_Customer_Driver_Syaryo_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_Driver_Syaryo] ADD  CONSTRAINT [DF_M_Customer_Driver_Syaryo_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
