USE [Haisya]
GO
/****** Object:  View [dbo].[M_Yosya_Shiharai_Calc]    Script Date: 2024/07/24 10:21:41 ******/
DROP VIEW [dbo].[M_Yosya_Shiharai_Calc]
GO
/****** Object:  View [dbo].[M_Yosya_Shiharai_Calc]    Script Date: 2024/07/24 10:21:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[M_Yosya_Shiharai_Calc]
AS 

SELECT TOP 100 PERCENT [Customer_Branch_ID] AS [Yosya_Branch_ID]
      ,[ShiharaiUnchin_Name]
      ,[Tatekaekin_Name]
      ,[Warimashi1_Name]
      ,[Warimashi2_Name]
      ,[Warimashi3_Name]
      ,[Warimashi4_Name]
      ,[Warimashi5_Name]
      ,[ShiharaiTotal_Name]
      ,[Warimashi1_Visible]
      ,[Warimashi2_Visible]
      ,[Warimashi3_Visible]
      ,[Warimashi4_Visible]
      ,[Warimashi5_Visible]
      ,[Warimashi1_Calc]
      ,[Warimashi2_Calc]
      ,[Warimashi3_Calc]
      ,[Warimashi4_Calc]
      ,[Warimashi5_Calc]
      ,[ShiharaiTotal_Calc]
  FROM [M_Customer_Shiharai_Calc]

GO
