USE [Haisya]
GO
ALTER TABLE [dbo].[M_Report_Serch] DROP CONSTRAINT [DF_Table_1_PDF_Flg]
GO
ALTER TABLE [dbo].[M_Report_Serch] DROP CONSTRAINT [DF_Table_1_CSV_Flg]
GO
ALTER TABLE [dbo].[M_Report_Serch] DROP CONSTRAINT [DF_M_Report_Serch_Report_Number]
GO
/****** Object:  Table [dbo].[M_Report_Serch]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[M_Report_Serch]
GO
/****** Object:  Table [dbo].[M_Report_Serch]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Report_Serch](
	[Report_Serch_ID] [int] IDENTITY(1,1) NOT NULL,
	[Report_Number] [int] NOT NULL,
	[Report_Name] [nvarchar](50) NOT NULL,
	[Display_Title] [nvarchar](50) NOT NULL,
	[Csv_Flg] [int] NOT NULL,
	[Pdf_Flg] [int] NOT NULL,
	[Csv_FileName] [nvarchar](50) NULL,
 CONSTRAINT [PK_M_Report_Serch] PRIMARY KEY CLUSTERED 
(
	[Report_Serch_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_Report_Serch] ADD  CONSTRAINT [DF_M_Report_Serch_Report_Number]  DEFAULT ((0)) FOR [Report_Number]
GO
ALTER TABLE [dbo].[M_Report_Serch] ADD  CONSTRAINT [DF_Table_1_CSV_Flg]  DEFAULT ((0)) FOR [Csv_Flg]
GO
ALTER TABLE [dbo].[M_Report_Serch] ADD  CONSTRAINT [DF_Table_1_PDF_Flg]  DEFAULT ((0)) FOR [Pdf_Flg]
GO
