USE [Haisya]
GO
ALTER TABLE [dbo].[M_Unit] DROP CONSTRAINT [DF_M_Unit_Del_Flg]
GO
ALTER TABLE [dbo].[M_Unit] DROP CONSTRAINT [DF_M_Unit_Sort_Order]
GO
ALTER TABLE [dbo].[M_Unit] DROP CONSTRAINT [DF_M_Unit_Company_ID]
GO
/****** Object:  Table [dbo].[M_Unit]    Script Date: 2024/06/05 10:23:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_Unit]') AND type in (N'U'))
DROP TABLE [dbo].[M_Unit]
GO
/****** Object:  Table [dbo].[M_Unit]    Script Date: 2024/06/05 10:23:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Unit](
	[Unit_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Sort_Order] [int] NULL,
	[Unit_Display] [nvarchar](10) NULL,
	[Unit_Format] [nvarchar](10) NULL,
	[Del_Flg] [int] NULL,
 CONSTRAINT [PK_M_Unit] PRIMARY KEY CLUSTERED 
(
	[Unit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_Unit] ADD  CONSTRAINT [DF_M_Unit_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[M_Unit] ADD  CONSTRAINT [DF_M_Unit_Sort_Order]  DEFAULT ((0)) FOR [Sort_Order]
GO
ALTER TABLE [dbo].[M_Unit] ADD  CONSTRAINT [DF_M_Unit_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
