USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer', @level2type=N'COLUMN',@level2name=N'Yosya_Flg'

GO
ALTER TABLE [dbo].[M_Customer] DROP CONSTRAINT [DF_M_Customer_Update_User]
GO
ALTER TABLE [dbo].[M_Customer] DROP CONSTRAINT [DF_M_Customer_Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer] DROP CONSTRAINT [DF_M_Customer_Insert_User]
GO
ALTER TABLE [dbo].[M_Customer] DROP CONSTRAINT [DF_M_Customer_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer] DROP CONSTRAINT [DF_M_Customer_De_lFlg]
GO
ALTER TABLE [dbo].[M_Customer] DROP CONSTRAINT [DF_M_Customer_Customer_ID_Oya]
GO
ALTER TABLE [dbo].[M_Customer] DROP CONSTRAINT [DF_M_Customer_Company_ID]
GO
ALTER TABLE [dbo].[M_Customer] DROP CONSTRAINT [DF_M_Customer_Yosya_Flg]
GO
/****** Object:  Table [dbo].[M_Customer]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[M_Customer]
GO
/****** Object:  Table [dbo].[M_Customer]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Customer](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Yosya_Flg] [int] NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Customer_ID_Oya] [int] NOT NULL,
	[Customer_Code] [nvarchar](20) NULL,
	[Customer_Code_Oya] [nvarchar](20) NULL,
	[Customer_Name] [nvarchar](60) NOT NULL,
	[Customer_Name_Kana] [nvarchar](40) NULL,
	[Customer_Name_Abbr] [nvarchar](40) NULL,
	[PostCode] [nvarchar](8) NULL,
	[Address1] [nvarchar](80) NULL,
	[Address2] [nvarchar](40) NULL,
	[Address3] [nvarchar](40) NULL,
	[Phone1] [nvarchar](13) NULL,
	[Phone2] [nvarchar](13) NULL,
	[Fax1] [nvarchar](13) NULL,
	[Fax2] [nvarchar](13) NULL,
	[Del_Flg] [bit] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_M_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[M_Customer] ON 

INSERT [dbo].[M_Customer] ([Customer_ID], [Yosya_Flg], [Company_ID], [Customer_ID_Oya], [Customer_Code], [Customer_Code_Oya], [Customer_Name], [Customer_Name_Kana], [Customer_Name_Abbr], [PostCode], [Address1], [Address2], [Address3], [Phone1], [Phone2], [Fax1], [Fax2], [Del_Flg], [Insert_Datetime], [Insert_User], [Update_Datetime], [Update_User]) VALUES (1, 1, 1, 0, N'10001', NULL, N'株式会社　エムオーテック', N'ｴﾑｵｰﾃｯｸ ｵﾔ', N'エムオーテック', N' 999999', N' a', NULL, NULL, N' 0', NULL, N' 0', NULL, 0, CAST(N'2022-09-08 15:36:46.997' AS DateTime), 0, CAST(N'2023-11-30 15:51:44.997' AS DateTime), 0)
INSERT [dbo].[M_Customer] ([Customer_ID], [Yosya_Flg], [Company_ID], [Customer_ID_Oya], [Customer_Code], [Customer_Code_Oya], [Customer_Name], [Customer_Name_Kana], [Customer_Name_Abbr], [PostCode], [Address1], [Address2], [Address3], [Phone1], [Phone2], [Fax1], [Fax2], [Del_Flg], [Insert_Datetime], [Insert_User], [Update_Datetime], [Update_User]) VALUES (6, 1, 1, 0, N'10003', NULL, N'エムエム建材㈱', N'ｴﾑｴﾑｹﾝｻﾞｲ ｵﾔ', N'ｴﾑｴﾑ建材', N' ', N' ', N' ', NULL, N' ', NULL, N' ', NULL, 0, CAST(N'2022-09-08 15:36:47.127' AS DateTime), 0, CAST(N'2022-09-08 15:36:47.127' AS DateTime), 0)
INSERT [dbo].[M_Customer] ([Customer_ID], [Yosya_Flg], [Company_ID], [Customer_ID_Oya], [Customer_Code], [Customer_Code_Oya], [Customer_Name], [Customer_Name_Kana], [Customer_Name_Abbr], [PostCode], [Address1], [Address2], [Address3], [Phone1], [Phone2], [Fax1], [Fax2], [Del_Flg], [Insert_Datetime], [Insert_User], [Update_Datetime], [Update_User]) VALUES (10, 1, 1, 0, N'10005', NULL, N'楠原壜缶詰工業株式会社', N'ｸｽﾊﾗﾋﾞﾝｶﾝ ｵﾔ', N'楠原壜缶詰工業', N' ', N' ', N' ', NULL, N' ', NULL, N' ', NULL, 0, CAST(N'2022-09-08 15:36:47.127' AS DateTime), 0, CAST(N'2022-09-08 15:36:47.127' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[M_Customer] OFF
ALTER TABLE [dbo].[M_Customer] ADD  CONSTRAINT [DF_M_Customer_Yosya_Flg]  DEFAULT ((0)) FOR [Yosya_Flg]
GO
ALTER TABLE [dbo].[M_Customer] ADD  CONSTRAINT [DF_M_Customer_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[M_Customer] ADD  CONSTRAINT [DF_M_Customer_Customer_ID_Oya]  DEFAULT ((0)) FOR [Customer_ID_Oya]
GO
ALTER TABLE [dbo].[M_Customer] ADD  CONSTRAINT [DF_M_Customer_De_lFlg]  DEFAULT ((0)) FOR [Del_Flg]
GO
ALTER TABLE [dbo].[M_Customer] ADD  CONSTRAINT [DF_M_Customer_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer] ADD  CONSTRAINT [DF_M_Customer_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_Customer] ADD  CONSTRAINT [DF_M_Customer_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer] ADD  CONSTRAINT [DF_M_Customer_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:荷主のみ、1:傭車先でもある' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer', @level2type=N'COLUMN',@level2name=N'Yosya_Flg'
GO
