USE [Haisya]
GO
ALTER TABLE [dbo].[M_Jiko_WorkFlow] DROP CONSTRAINT [DF_M_Jiko_WorkFlow_Del_Flg]
GO
/****** Object:  Table [dbo].[M_Jiko_WorkFlow]    Script Date: 2024/07/16 19:23:56 ******/
DROP TABLE [dbo].[M_Jiko_WorkFlow]
GO
/****** Object:  Table [dbo].[M_Jiko_WorkFlow]    Script Date: 2024/07/16 19:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Jiko_WorkFlow](
	[Jiko_WorkFlow_Base_ID] [int] IDENTITY(1,1) NOT NULL,
	[Jiko_WorkFlow_Name] [nvarchar](50) NULL,
	[Del_Flg] [int] NOT NULL,
 CONSTRAINT [PK_M_Jiko_WorkFlow] PRIMARY KEY CLUSTERED 
(
	[Jiko_WorkFlow_Base_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_Jiko_WorkFlow] ADD  CONSTRAINT [DF_M_Jiko_WorkFlow_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
