USE [Haisya]
GO
ALTER TABLE [dbo].[M_Jiko_WorkFlow_Route] DROP CONSTRAINT [DF_M_Jiko_WorkFlow_Route_Jiko_WorkFlow_Group_ID]
GO
/****** Object:  Table [dbo].[M_Jiko_WorkFlow_Route]    Script Date: 2024/07/16 19:23:56 ******/
DROP TABLE [dbo].[M_Jiko_WorkFlow_Route]
GO
/****** Object:  Table [dbo].[M_Jiko_WorkFlow_Route]    Script Date: 2024/07/16 19:23:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Jiko_WorkFlow_Route](
	[Jiko_WorkFlow_Base_ID] [int] NOT NULL,
	[Jiko_WorkFlow_Sort] [int] NOT NULL,
	[Jiko_WorkFlow_Display] [nvarchar](50) NULL,
	[Jiko_WorkFlow_Group_ID] [int] NOT NULL,
 CONSTRAINT [PK_M_Jiko_WorkFlow_Route] PRIMARY KEY CLUSTERED 
(
	[Jiko_WorkFlow_Base_ID] ASC,
	[Jiko_WorkFlow_Sort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_Jiko_WorkFlow_Route] ADD  CONSTRAINT [DF_M_Jiko_WorkFlow_Route_Jiko_WorkFlow_Group_ID]  DEFAULT ((0)) FOR [Jiko_WorkFlow_Group_ID]
GO
