USE [Renkei]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] DROP CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Meil_Flg3]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] DROP CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Meil_Flg2]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] DROP CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Meil_Flg1]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] DROP CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Meil_Flg]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] DROP CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Notify_Flg
Notify_Flg]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] DROP CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Tantou_Group_ID]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] DROP CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Branch_ID]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] DROP CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Company_ID]
GO
/****** Object:  Table [dbo].[T_Share_Syaryo_Notify_Setting]    Script Date: 2024/07/31 19:04:55 ******/
DROP TABLE [dbo].[T_Share_Syaryo_Notify_Setting]
GO
/****** Object:  Table [dbo].[T_Share_Syaryo_Notify_Setting]    Script Date: 2024/07/31 19:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Share_Syaryo_Notify_Setting](
	[Share_Syaryo_Notify_Setting_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_ID] [int] NOT NULL,
	[Branch_ID] [int] NOT NULL,
	[Tantou_Group_ID] [int] NOT NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
	[Notify_Flg] [int] NOT NULL,
	[Meil_Flg] [int] NOT NULL,
	[Mail_Address] [nvarchar](50) NULL,
	[From_Date] [date] NULL,
	[To_Date] [date] NULL,
	[Empty_From_Date] [date] NULL,
	[Empty_To_Date] [date] NULL,
	[Empty_Flg] [int] NOT NULL,
	[Empty1] [nvarchar](20) NULL,
	[Empty2] [nvarchar](20) NULL,
	[Empty3] [nvarchar](20) NULL,
	[Dest_Flg] [int] NOT NULL,
	[Dest1] [nvarchar](20) NULL,
	[Dest2] [nvarchar](20) NULL,
	[Dest3] [nvarchar](20) NULL,
	[Syasuy_Flg] [int] NOT NULL,
	[Syasuy] [nvarchar](20) NULL,
	[SyasuyDisplay] [nvarchar](30) NULL,
 CONSTRAINT [PK_T_Share_Syaryo_Notify_Setting_1] PRIMARY KEY CLUSTERED 
(
	[Share_Syaryo_Notify_Setting_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] ADD  CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Company_ID]  DEFAULT ((0)) FOR [Company_ID]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] ADD  CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Branch_ID]  DEFAULT ((0)) FOR [Branch_ID]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] ADD  CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Tantou_Group_ID]  DEFAULT ((0)) FOR [Tantou_Group_ID]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] ADD  CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Notify_Flg
Notify_Flg]  DEFAULT ((0)) FOR [Notify_Flg]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] ADD  CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Meil_Flg]  DEFAULT ((0)) FOR [Meil_Flg]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] ADD  CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Meil_Flg1]  DEFAULT ((0)) FOR [Empty_Flg]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] ADD  CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Meil_Flg2]  DEFAULT ((0)) FOR [Dest_Flg]
GO
ALTER TABLE [dbo].[T_Share_Syaryo_Notify_Setting] ADD  CONSTRAINT [DF_T_Share_Syaryo_Notify_Setting_Meil_Flg3]  DEFAULT ((0)) FOR [Syasuy_Flg]
GO
