USE [Haisya]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Update_User]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_ICSeikyuKubun_SeikyuKubun]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Select_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] DROP CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Sort]
GO
/****** Object:  Table [dbo].[M_Customer_ICSeikyuKubun]    Script Date: 2024/07/24 10:18:51 ******/
DROP TABLE [dbo].[M_Customer_ICSeikyuKubun]
GO
/****** Object:  Table [dbo].[M_Customer_ICSeikyuKubun]    Script Date: 2024/07/24 10:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Customer_ICSeikyuKubun](
	[Customer_Branch_ID] [int] NOT NULL,
	[Sort] [int] NOT NULL,
	[Select_Kubun] [int] NOT NULL,
	[IC1] [nvarchar](50) NOT NULL,
	[IC2] [nvarchar](50) NOT NULL,
	[Address1] [nvarchar](50) NULL,
	[Address2] [nvarchar](50) NULL,
	[SeikyuKubun] [int] NULL,
	[Insert_Datetime] [datetime] NOT NULL,
	[Insert_User] [int] NOT NULL,
	[Update_Datetime] [datetime] NOT NULL,
	[Update_User] [int] NOT NULL,
 CONSTRAINT [PK_M_Customer_ICSeikyuKubun] PRIMARY KEY CLUSTERED 
(
	[Customer_Branch_ID] ASC,
	[Sort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Sort]  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Select_Kubun]  DEFAULT ((0)) FOR [Select_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_ICSeikyuKubun_SeikyuKubun]  DEFAULT ((0)) FOR [SeikyuKubun]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Insert_Datetime]  DEFAULT (getdate()) FOR [Insert_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Insert_User]  DEFAULT ((0)) FOR [Insert_User]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Update_Datetime]  DEFAULT (getdate()) FOR [Update_Datetime]
GO
ALTER TABLE [dbo].[M_Customer_ICSeikyuKubun] ADD  CONSTRAINT [DF_M_Customer_ICSeikyuKubun_Update_User]  DEFAULT ((0)) FOR [Update_User]
GO
