USE [Haisya]
GO
ALTER TABLE [dbo].[T_Expense_Item] DROP CONSTRAINT [DF_T_Expense_Item_Del_Flg]
GO
ALTER TABLE [dbo].[T_Expense_Item] DROP CONSTRAINT [DF_T_Expense_Item_Sort_Order]
GO
ALTER TABLE [dbo].[T_Expense_Item] DROP CONSTRAINT [DF_T_Expense_Item_Expense_Kubun]
GO
/****** Object:  Table [dbo].[T_Expense_Item]    Script Date: 2024/07/05 11:12:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[T_Expense_Item]') AND type in (N'U'))
DROP TABLE [dbo].[T_Expense_Item]
GO
/****** Object:  Table [dbo].[T_Expense_Item]    Script Date: 2024/07/05 11:12:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Expense_Item](
	[Expense_Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Expense_Kubun] [int] NOT NULL,
	[Sort_Order] [int] NOT NULL,
	[Item_Name] [nvarchar](30) NULL,
	[Item_Display] [nvarchar](30) NULL,
	[Del_Flg] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Expense_Item] ADD  CONSTRAINT [DF_T_Expense_Item_Expense_Kubun]  DEFAULT ((0)) FOR [Expense_Kubun]
GO
ALTER TABLE [dbo].[T_Expense_Item] ADD  CONSTRAINT [DF_T_Expense_Item_Sort_Order]  DEFAULT ((0)) FOR [Sort_Order]
GO
ALTER TABLE [dbo].[T_Expense_Item] ADD  CONSTRAINT [DF_T_Expense_Item_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
