USE [Haisya]
GO
/****** Object:  Table [dbo].[M_LoginUser_Customer]    Script Date: 2024/07/11 19:11:29 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_LoginUser_Customer]') AND type in (N'U'))
DROP TABLE [dbo].[M_LoginUser_Customer]
GO
