USE [Haisya]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Customer_Kubun'
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Del_Flg]
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_UP_DATE]
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Group_ID]
GO
ALTER TABLE [dbo].[M_Customer_Driver] DROP CONSTRAINT [DF_M_Customer_Driver_Customer_Kubun]
GO
/****** Object:  Table [dbo].[M_Customer_Driver]    Script Date: 2024/07/11 19:20:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[M_Customer_Driver]') AND type in (N'U'))
DROP TABLE [dbo].[M_Customer_Driver]
GO
/****** Object:  Table [dbo].[M_Customer_Driver]    Script Date: 2024/07/11 19:20:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Customer_Driver](
	[Customer_Driver_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Customer_Kubun] [int] NOT NULL,
	[Group_ID] [int] NOT NULL,
	[Employee_Number] [int] NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[First_Name] [nvarchar](50) NULL,
	[Display_Name] [nvarchar](50) NOT NULL,
	[From_Date] [datetime] NOT NULL,
	[To_Date] [datetime] NULL,
	[UP_DATE] [datetime] NOT NULL,
	[Del_Flg] [bit] NOT NULL,
 CONSTRAINT [PK_M_Customer_Driver_1] PRIMARY KEY CLUSTERED 
(
	[Customer_Driver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Customer_Kubun]  DEFAULT ((0)) FOR [Customer_Kubun]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Group_ID]  DEFAULT ((0)) FOR [Group_ID]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_UP_DATE]  DEFAULT (getdate()) FOR [UP_DATE]
GO
ALTER TABLE [dbo].[M_Customer_Driver] ADD  CONSTRAINT [DF_M_Customer_Driver_Del_Flg]  DEFAULT ((0)) FOR [Del_Flg]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:傭車、１:専属庸車' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'M_Customer_Driver', @level2type=N'COLUMN',@level2name=N'Customer_Kubun'
GO
