USE [Haisya]
GO
/****** Object:  StoredProcedure [dbo].[Proc_V_UriageCheckDataList]    Script Date: 2024/05/31 8:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[Proc_V_ShitabaraiCheckDataList]
(
@PRINT_DATE AS DATE
,@FROM_YOSYASAKI AS NVARCHAR(8)
,@TO_YOSYASAKI AS NVARCHAR(8)
,@SHIHARAI_NENGETSU AS DATE
,@SHIME_DAY AS INT = 0
,@ZEI_KUBUN AS INT = 0
,@SHIHARAI_DATE_TO AS DATE = '1900/01/01'
,@SHIHARAI_TANTOU AS INT = 0
)
AS

BEGIN


--DECLARE @PRINT_DATE AS DATE
--SET @PRINT_DATE = '2024/04/26'

--DECLARE @FROM_YOSYASAKI AS NVARCHAR(8)
--DECLARE @TO_YOSYASAKI AS NVARCHAR(8)

----SET @FROM_YOSYASAKI = '10577000'
----SET @TO_YOSYASAKI = '99999000'

--SET @FROM_YOSYASAKI = '70001001'
--SET @TO_YOSYASAKI = @FROM_YOSYASAKI


--DECLARE @SHIHARAI_NENGETSU AS DATE
--SET @SHIHARAI_NENGETSU = '2024/03/01'
--DECLARE @SHIME_DAY AS INT
--SET @SHIME_DAY = 0

--DECLARE @ZEI_KUBUN AS INT = 0


--DECLARE @SHIHARAI_DATE_TO AS DATE = '1900/01/01'
--SET @SHIHARAI_DATE_TO  = '2024/03/31'

--DECLARE @SHIHARAI_TANTOU AS INT = 0



--------売上日ＴＯ指定は得意先一つ---------
IF (YEAR(@SHIHARAI_DATE_TO) != 1900)
BEGIN
	IF @FROM_YOSYASAKI <> @TO_YOSYASAKI
		BEGIN
			
			RETURN
		END
END


---------売上日条件の作成-------------
DECLARE @SHIME_DATE AS NVARCHAR(8)
SET @SHIME_DATE = CAST(YEAR(@SHIHARAI_NENGETSU) AS NVARCHAR(4)) + CAST(FORMAT(@SHIHARAI_NENGETSU,'MM') AS NVARCHAR(2)) + CAST(@SHIME_DAY AS NVARCHAR(2))


DECLARE @FROM_DATE AS DATE
IF @SHIME_DAY = 31
BEGIN
	SET @FROM_DATE = DATEFROMPARTS(YEAR(@SHIHARAI_NENGETSU),MONTH(@SHIHARAI_NENGETSU),1)
END
ELSE IF @SHIME_DAY = 0
BEGIN
	SET @FROM_DATE = DATEFROMPARTS(YEAR(@SHIHARAI_NENGETSU),MONTH(@SHIHARAI_NENGETSU),1)
END
ELSE
BEGIN
	IF (DAY(DATEADD(DAY,-1,@SHIHARAI_NENGETSU)) >= @SHIME_DAY) AND (DAY(DATEADD(DAY,-1,DATEADD(MONTH,1,@SHIHARAI_NENGETSU))) >= @SHIME_DAY)
		BEGIN
			SET @FROM_DATE = DATEADD(DAY, 1, DATEADD(MONTH, -1, DATEFROMPARTS(YEAR(@SHIHARAI_NENGETSU), MONTH(@SHIHARAI_NENGETSU), @SHIME_DAY)))
		END
	ELSE
		BEGIN
			SET @FROM_DATE = @SHIHARAI_NENGETSU
		END
END


DECLARE @TO_DATE AS DATE
IF @SHIME_DAY = 31
BEGIN
	SET @TO_DATE = DATEADD(DAY,-1,DATEADD(MONTH,1,@SHIHARAI_NENGETSU))
END
ELSE IF @SHIME_DAY = 0
BEGIN
	SET @TO_DATE = DATEADD(DAY,-1,DATEADD(MONTH,1,@SHIHARAI_NENGETSU))
END
ELSE
BEGIN
	IF DAY(DATEADD(DAY,-1,DATEADD(MONTH,1,@SHIHARAI_NENGETSU))) >= @SHIME_DAY
	BEGIN
		SET @TO_DATE = DATEFROMPARTS(YEAR(@SHIHARAI_NENGETSU),MONTH(@SHIHARAI_NENGETSU),@SHIME_DAY)
	END
	ELSE
	BEGIN
		SET @TO_DATE = DATEADD(DAY,-1,DATEADD(MONTH,1,@SHIHARAI_NENGETSU))
	END
END


IF (YEAR(@SHIHARAI_DATE_TO) != 1900)
BEGIN
	IF NOT @SHIHARAI_DATE_TO BETWEEN @FROM_DATE AND @TO_DATE
	BEGIN

		RETURN 
	END
	SET @TO_DATE = @SHIHARAI_DATE_TO 
END



PRINT @FROM_DATE
PRINT @TO_DATE




BEGIN

IF OBJECT_ID(N'tempdb..[#SHIHARAI_LIST]') IS NOT NULL
BEGIN
	DROP TABLE [#SHIHARAI_LIST]
END



CREATE TABLE [#SHIHARAI_LIST]
(
[Shiharai_Month] DATE
,[Shiharai_Date] DATE
,[Shime_Day] INT
,[Yosya_ID] INT
,[Yosya_Name] [nvarchar](40) NULL
,[SHIHARAI_TANTOUID] INT
,[SHIHARAI_TANTOU] NVARCHAR(50)
,[Mail_Title] [nvarchar](50) NULL
,[Mail_Address1] [nvarchar](50) NULL
,[Mail_Address2] [nvarchar](50) NULL
,[Phone1] [nvarchar](13) NULL
,[Phone2] [nvarchar](13) NULL
,[Fax1] [nvarchar](13) NULL
,[Fax2] [nvarchar](13) NULL

, [Zei_Kubun] INT
, [FROM_DATE] DATE
, [TO_DATE] DATE
, [Inquiry_Status] INT
, [Check_Status] INT
, [Shiharai_Changed] INT

, [Meisai_Count] MONEY
, [ShiharaiUnchin] MONEY
, [Tatekaekin] MONEY
, [Anken_Count] INT
, [Kakutei_Count] INT
, [Zantei_Count] INT
, [Kari_Count] INT



)



END

BEGIN


INSERT INTO [#SHIHARAI_LIST]
(
[Shiharai_Month]
,[Shiharai_Date]
,[Shime_Day]
,[Yosya_ID]
,[Yosya_Name]
,[SHIHARAI_TANTOUID]
,[SHIHARAI_TANTOU]
,[Mail_Title]
,[Mail_Address1]
,[Mail_Address2]
,[Phone1]
,[Phone2]
,[Fax1]
,[Fax2]
,[Zei_Kubun]
,[FROM_DATE]
,[TO_DATE]
,[Inquiry_Status]
, [Check_Status] 
, [Shiharai_Changed] 

,[ShiharaiUnchin]
,[Tatekaekin]

,[Meisai_Count]
,[Anken_Count]
,[Kakutei_Count]
,[Zantei_Count]
,[Kari_Count]


)


SELECT 
	@SHIHARAI_NENGETSU
    ,UU.[Shiharai_Date]
    ,UU.[Shime_Day]
    ,UU.[Yosya_ID]
	,C.[Yosya_Name_Abbr]
	,C.[ShiharaiTantouID]
	,CUG.[Display_Name] AS [SHIHARAI_TANTOU_Name]
	,C.[Mail_Title]
    ,C.[Mail_Address1]
    ,C.[Mail_Address2]
	,C.[Phone1]
    ,C.[Phone2]
    ,C.[Fax1]
    ,C.[Fax2]
	,UU.[Zei_Kubun]
	,@FROM_DATE
	,@TO_DATE
	,0 AS [Inquiry_Status]
	,0 AS [Check_Status] 
	,0 AS [Shiharai_Changed] 


	,0 AS [Meisai_Count]
	,0 AS [ShiharaiUnchin]
	,0 AS [Tatekaekin]
	,0 AS [Anken_Count]
	,0 AS [Kakutei_Count]
	,0 AS [Zantei_Count]
	,0 AS [Kari_Count]

  FROM 
  [dbo].[T_Uriage_Shiharai] UU
  INNER JOIN [dbo].[M_Yosya] C ON UU.Yosya_ID = C.Yosya_ID
  LEFT JOIN [dbo].[M_CompanyUser_Group] CUG ON C.[ShiharaiTantouID] = CUG.[Group_ID]

  WHERE
  UU.[Del_Flg] = 0
  AND
  C.Yosya_Code BETWEEN @FROM_YOSYASAKI AND @TO_YOSYASAKI
  AND
  CASE WHEN @SHIME_DAY = 0 THEN 0 ELSE UU.[Shime_Day]  END = @SHIME_DAY
  AND
  CASE WHEN @ZEI_KUBUN = 0 THEN 0 ELSE UU.[Zei_Kubun]  END = @ZEI_KUBUN
  AND
  CASE WHEN @SHIHARAI_TANTOU = 0 THEN 0 ELSE C.[ShiharaiTantouID] END = @SHIHARAI_TANTOU

  
  -----Check_Kubun				1	WEB		2	帳票	
  ----Check_Status					0	発行済み			1	確認中			2	確認済			4	承認済
  UPDATE
  [#SHIHARAI_LIST]
  SET
  [Inquiry_Status] = CS.[Check_Kubun]
  ,[Check_Status] = CS.[Check_Status]
  FROM
　[dbo].[T_Check_Shitabarai] CS
  WHERE
  [#SHIHARAI_LIST].[Yosya_ID] = CS.[Yosya_ID]
  AND
  [#SHIHARAI_LIST].[Shiharai_Month] = CS.[Shiharai_Month]
  AND
  [#SHIHARAI_LIST].[Shime_Day] = CS.[Shime_Day]

  ----[Shiharai_Changed]
  UPDATE
  [#SHIHARAI_LIST]
  SET
  [Shiharai_Changed] = CSD.[Change_Flg]
  FROM
　[dbo].[T_Check_Shitabarai] CS
  INNER JOIN [dbo].[T_Check_Shitabarai_Done] CSD ON
  CS.[Check_Shitabarai_ID] = CSD.[Check_Shitabarai_ID]
  WHERE
  [#SHIHARAI_LIST].[Yosya_ID] = CS.[Yosya_ID]
  AND
  [#SHIHARAI_LIST].[Shiharai_Month] = CS.[Shiharai_Month]
  AND
  [#SHIHARAI_LIST].[Shime_Day] = CS.[Shime_Day]


  -----明細件数
  UPDATE
  [#SHIHARAI_LIST]
  SET
  [Meisai_Count] = X.AA
  ,[ShiharaiUnchin] = X.[ShiharaiUnchin]
  ,[Tatekaekin] = X.[Tatekaekin]
  FROM
  (
  SELECT
  UU.[Yosya_ID]
  ,UU.[Shime_Day]
  ,COUNT(*) AS AA
  ,SUM(UU.[ShiharaiPrice]) AS [ShiharaiUnchin]
  ,SUM(UU.[Tatekaekin]) AS [Tatekaekin]
  FROM
  [#SHIHARAI_LIST] TEMP

  INNER JOIN [dbo].[T_Uriage_Shiharai] UU ON
  TEMP.[Yosya_ID] = UU.[Yosya_ID]
  AND TEMP.[Shime_Day] = UU.[Shime_Day]

  WHERE
  UU.[Shiharai_Date] BETWEEN [FROM_DATE] AND [TO_DATE]
  GROUP BY
  UU.[Yosya_ID]
  ,UU.[Shime_Day]
  )X
  WHERE
  [#SHIHARAI_LIST].[Yosya_ID] = X.[Yosya_ID]
  AND
  [#SHIHARAI_LIST].[Shime_Day] = X.[Shime_Day]


  -----案件件数、請求確定件数、暫定件数、仮件数
  UPDATE
  [#SHIHARAI_LIST]
  SET
  [Anken_Count] = AA
  ,[Kakutei_Count] = [KAKUTEI]
  ,[Zantei_Count] = [ZANTEI]
  ,[Kari_Count] = [KARI]
  FROM
  (
  SELECT
  W.[Yosya_ID]
  ,W.[Shime_Day]
  ,COUNT(*) AS AA
  ,SUM([KARI]) AS [KARI]
  ,SUM([ZANTEI]) AS [ZANTEI]
  ,SUM([KAKUTEI]) AS [KAKUTEI]
  FROM
  (
  SELECT
  UU.[Yosya_ID]
  ,UU.[Shime_Day]
  ,U.[Anken_ID]
  ,CASE WHEN U.[Reg_Status] = 0 THEN 1 ELSE 0 END AS [KARI]
  ,CASE WHEN U.[Reg_Status] = 1 THEN 1 ELSE 0 END AS [ZANTEI]
  ,CASE WHEN U.[Reg_Status] = 2 THEN 1 ELSE 0 END AS [KAKUTEI]
  FROM
  [#SHIHARAI_LIST] TEMP

  INNER JOIN [dbo].[T_Uriage_Shiharai] UU ON
  TEMP.[Yosya_ID] = UU.[Yosya_ID]
  AND TEMP.[Shime_Day] = UU.[Shime_Day]

  INNER JOIN [dbo].[T_Uriage] U ON
  UU.[Uriage_ID] = U.[Uriage_ID]

  WHERE
  UU.[Shiharai_Date] BETWEEN [FROM_DATE] AND [TO_DATE]
  GROUP BY
  UU.[Yosya_ID]
  ,UU.[Shime_Day]
  ,U.[Anken_ID]
  ,U.[Reg_Status]
  )W
  GROUP BY
  W.[Yosya_ID]
  ,W.[Shime_Day]
  )X
  WHERE
  [#SHIHARAI_LIST].[Yosya_ID] = X.[Yosya_ID]
  AND
  [#SHIHARAI_LIST].[Shime_Day] = X.[Shime_Day]









END



SELECT * FROM [#SHIHARAI_LIST]


END