USE [Haisya]
GO
/****** Object:  StoredProcedure [dbo].[Proc_V_HaisyaDataList]    Script Date: 2024/05/22 9:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** SSMS の SelectTopNRows コマンドのスクリプト  ******/



ALTER PROC [dbo].[Proc_V_HaisyaDataList]
(
@COMPANY_ID INT
,@CUSTOMER_ID INT = 0
,@CUSTOMER_TANTOU_ID INT = 0
,@BRANCH_ID INT = 0
,@TARGET_DATE AS DATETIME = '1900/01/01'
,@TARGET_DATE_FROM AS DATETIME = '1900/01/01'
,@TARGET_DATE_TO AS DATETIME = '1900/01/01'
,@SENZOKU_ID INT = 0
,@ANKEN_ID INT = 0
,@HAISYA_GROUP_ID INT = 0
,@SEIKYU_GROUP_ID INT = 0
)
AS

--DECLARE @TARGET_DATE AS DATETIME = '2024/04/13'
--DECLARE @TARGET_DATE_FROM AS DATETIME = '1900/01/01'
--DECLARE @TARGET_DATE_TO AS DATETIME = '1900/01/01'
--DECLARE @COMPANY_ID INT = 1
--DECLARE @BRANCH_ID INT = 0
--DECLARE @SENZOKU_ID INT = 0
--DECLARE @CUSTOMER_ID INT = 0
--DECLARE @CUSTOMER_TANTOU_ID INT = 0
--DECLARE @ANKEN_ID INT = 0

SELECT 
TOP 100 PERCENT
0 AS [SelectRow]
,A.[Anken_No]
,A.[Anken_Status]
,A.[Anken_Latest_Order]
,A.[Anken_Kubun]
,A.[SenzokuID]
,A.[Senzoku_Driver_ID]
,AP.[PublishGroup_ID]
,AP.[Publish_Flg]
,AP.[Publish_FromDatetime]
,AP.[Publish_ToDatetime]
,D.*
,D.[Syasyu] + D.[Kata] AS SyasyuDisplay2
,D.SyasyuDisplay + CHAR(13) + CHAR(10) + CAST(D.Daisuu AS nvarchar(2)) + '台' AS SyasyuDaisuDisplay
,Tantou.[Display_Name] AS Tantou_Name
,Eigyo.[Display_Name] AS Eigyo_Name
,AR.[Remarks]
,D.[LuggageDisplay] AS [Luggage]
,D.[EquipmentDisplay] AS [Equipment]

,C.Customer_Name_Abbr

,CASE A.[Anken_Status] WHEN 0 THEN '確定' WHEN 1 THEN '暫定(配車必要)' WHEN 2 THEN '暫定(配車不要)' ELSE NULL END AnkenStatusDisplay

,CASE WHEN A.[Anken_Latest_Order] = 1 THEN '新規' ELSE (CASE WHEN A.[Anken_Latest_Order] > 1 THEN '変更' ELSE '' END) END AnkenStep

,CASE WHEN D.[SeikyuKubun] = 1 THEN D.[GrossAmount] ELSE NULL END ZanteiAmount
,CASE WHEN D.[SeikyuKubun] = 0 THEN D.[GrossAmount] ELSE NULL END KakuteiAmount

,AD.[AnkenDisplay_ID]
,AD.[Daisuu_Sort]
,AD.[Anken_Key]
,AD.[Day]
,AD.[Display_Kubun]



,ISNULL(SM.[Syaban_Chiiki],'')+ISNULL(SM.[Syaban_Bunrui],'')+ISNULL(SM.[Syaban_Kana],'')+ISNULL(SM.[Syaban_Number],'') AS [FILL_SYABAN]
,ISNULL(SM.[Syaban_Chiiki],'')+ISNULL(SM.[Syaban_Bunrui],'')+ISNULL(SM.[Syaban_Kana],'')+ISNULL(SM.[Syaban_Number],'') AS [SYABAN]
,H.[Driver_ID] 
,CD.[Display_Name] AS [Driver_Name]
,H.[DriverSyaryo_ID]
,H.[SyaryoManagement_ID]
,H.[SyaryoManagement_ID1]
,NULL AS Yosya_Display1			
,NULL AS Yosya_Display2
,NULL AS Yosya_Display3	

,H.[Haisya_ID]
,H.[Haisya_Status]
,H.[Haisya_Kubun]
,CASE H.Haisya_Kubun WHEN 1 THEN '自社' WHEN 2 THEN '傭車' WHEN 3 THEN '専属庸車' END AS [HaisyaKubunDisplay]

,AD.[StartDatetime]
,AD.[EndDatetime]
,AD.[Start_Point_Kubun]
,AD.[Start_BuildingName]
,AD.[Start_BuildingZid]
,AD.[Start_BuildingZid_Attr]
,AD.[Start_BuildingNameRead]
,AD.[Start_Point_KoumokuTitle]
,AD.[Start_Point_Type]
,AD.[Start_PointName]
,AD.[Start_Lng]
,AD.[Start_Lat]
,AD.[Start_Post_code]
,AD.[Start_Address]
,AD.[Start_Address2]
,AD.[Start_Address3]
,AD.[Start_Address4]
,AD.[End_Point_Kubun]
,AD.[End_BuildingName]
,AD.[End_BuildingZid]
,AD.[End_BuildingZid_Attr]
,AD.[End_BuildingNameRead]
,AD.[End_Point_KoumokuTitle]
,AD.[End_Point_Type]
,AD.[End_PointName]
,AD.[End_Lng]
,AD.[End_Lat]
,AD.[End_Post_code]
,AD.[End_Address]
,AD.[End_Address2]
,AD.[End_Address3]
,AD.[End_Address4]
,AD.[Display1]
,AD.[Display2]

,CASE WHEN AD.[Start_BuildingName] IS NULL THEN AD.[Start_Address] ELSE AD.[Start_BuildingName] + CHAR(13) + CHAR(10) + AD.[Start_Address] END StartAddressDisplay
,ISNULL(AD.[Start_Address2],'') + ISNULL(AD.[Start_Address3],'') + ISNULL(AD.[Start_Address4],'') AS StartAddressDisplay2
,CASE WHEN AD.[Start_BuildingName] IS NULL THEN AD.[Start_Address2] + AD.[Start_Address3] ELSE AD.[Start_BuildingName] END StartAddressDisplay3

,AREA.[Area]
,AREA.[Sort_Order] AS [Area_Sort_Order]

,CASE WHEN AD.[End_BuildingName] IS NULL THEN AD.[End_Address] ELSE AD.[End_BuildingName] + CHAR(13) + CHAR(10) + AD.[End_Address]  END EndAddressDisplay
,ISNULL(AD.[End_Address2],'') + ISNULL(AD.[Start_Address3],'') + ISNULL(AD.[End_Address4],'') AS EndAddressDisplay2
,CASE WHEN AD.[End_BuildingName] IS NULL THEN AD.[End_Address2] + AD.[Start_Address3] ELSE AD.[End_BuildingName] END EndAddressDisplay3

,ISNULL(N.[ApprovalStatus],0) AS [NippouStatus]

,ISNULL(ASR.[Renraku_Kubun],0) AS [Renraku_Kubun]

	  --INT [dbo].[V_AnkenDataList]

FROM 
  
[T_Anken] A
INNER JOIN [T_Anken_Detail] D ON
A.[Anken_ID] = D.[Anken_ID] AND
A.[Anken_Latest_Order] = D.[Anken_Order]

INNER JOIN [dbo].[T_Anken_Display] AD ON
A.Anken_ID = AD.Anken_ID

LEFT JOIN [dbo].[T_Haisya] H ON
AD.[AnkenDisplay_ID] = H.[AnkenDisplay_ID]

LEFT JOIN [dbo].[M_CompanyDriver] CD ON
H.[Driver_ID] = CD.[Driver_ID]

LEFT JOIN [dbo].[M_CompanyDriver_Syaryo] CDS ON
H.[DriverSyaryo_ID] = CDS.[DriverSyaryo_ID]

----配車時点で割り当てられた車輌情報
LEFT JOIN [dbo].[M_SyaryoManagement] SM ON
H.[SyaryoManagement_ID] = SM.[SyaryoManagement_ID]

  LEFT JOIN [dbo].[T_Anken_Remark] AR ON
  A.Anken_ID = AR.Anken_ID AND
  A.Anken_Latest_Order = AR.Anken_Order

  LEFT JOIN [dbo].[T_Anken_Publish] AP ON
  A.Anken_ID = AP.Anken_ID

  LEFT JOIN [M_CompanyUser] Eigyo ON
  D.EigyoID = Eigyo.User_ID

  LEFT JOIN [dbo].[M_CompanyUser_Group] Tantou ON
  D.TantouID = Tantou.Group_ID

  INNER JOIN [dbo].[M_Customer] C ON
  D.KokyakuId = C.Customer_ID 
  AND A.Company_ID = C.Company_ID

  LEFT JOIN [dbo].[M_Area_Ken] AK ON
  AD.[Start_Address2] = AK.[Ken]

  LEFT JOIN [dbo].[M_Area] AREA ON
  AK.[Area_ID] = AREA.[Area_ID]

  LEFT JOIN [dbo].[T_Nippou] N ON
  AD.[AnkenDisplay_ID] = N.[AnkenDisplay_ID]

  LEFT JOIN [dbo].[T_Anken_SyabanRenraku] ASR ON
  A.[Anken_ID] = ASR.[Anken_ID]


  WHERE
  @COMPANY_ID = A.[Company_ID]
  AND
  CASE WHEN @CUSTOMER_ID = 0 THEN 0 ELSE C.[Customer_ID] END = @CUSTOMER_ID
  AND
  CASE WHEN @CUSTOMER_TANTOU_ID = 0 THEN 0 ELSE D.[KokyakuTantouId] END = @CUSTOMER_TANTOU_ID
  AND
  CASE WHEN @BRANCH_ID = 0 THEN 0 ELSE A.[Branch_ID] END = @BRANCH_ID
  AND
  CASE WHEN @TARGET_DATE = '1900/01/01' THEN '1900/01/01' ELSE CAST(AD.[StartDatetime] AS DATE) END = @TARGET_DATE
  AND
  CASE WHEN @TARGET_DATE_FROM = '1900/01/01' THEN '1900/01/01' ELSE CAST(AD.[StartDatetime] AS DATE) END >= @TARGET_DATE_FROM
  AND
  CASE WHEN @TARGET_DATE_TO = '1900/01/01' THEN '1900/01/01' ELSE CAST(AD.[StartDatetime] AS DATE) END <= @TARGET_DATE_TO
  AND
  CASE WHEN @SENZOKU_ID = 0 THEN 0 ELSE A.[SenzokuID] END = @SENZOKU_ID
  AND
  CASE WHEN @ANKEN_ID = 0 THEN 0 ELSE A.[Anken_ID] END = @ANKEN_ID
  AND
  CASE WHEN @HAISYA_GROUP_ID = 0 THEN 0 ELSE D.[TantouID] END = @HAISYA_GROUP_ID
  AND
  CASE WHEN @SEIKYU_GROUP_ID = 0 THEN 0 ELSE C.[SeikyuTantouID] END = @SEIKYU_GROUP_ID
  


  ORDER BY
  A.[Anken_No]

 ,AD.[Anken_Key]
 ,AD.[Daisuu_Sort]



 --DECLARE @ParmDefinition NVARCHAR(500);  
 --SET @ParmDefinition = N'
 --@COMPANY_ID INT,@CUSTOMER_ID INT,@BRANCH_ID INT,
 --@TARGET_DATE AS DATETIME,@TARGET_DATE_FROM AS DATETIME,@TARGET_DATE_TO AS DATETIME,@SENZOKU_ID INT,
 --@ANKEN_ONLY INT';  

 --EXEC SP_EXECUTESQL @SQL, @ParmDefinition, 
 --@COMPANY_ID,@CUSTOMER_ID,@BRANCH_ID,
 --@TARGET_DATE,@TARGET_DATE_FROM,@TARGET_DATE_TO,@SENZOKU_ID,
 --@ANKEN_ONLY
