USE [Haisya]
GO
/****** Object:  StoredProcedure [dbo].[Proc_V_SyabanRenrakuDataList]    Script Date: 2024/05/21 9:35:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** SSMS の SelectTopNRows コマンドのスクリプト  ******/



ALTER PROC [dbo].[Proc_V_SyabanRenrakuDataList]
(
@COMPANY_ID INT
,@CUSTOMER_ID INT = 0
,@CUSTOMER_TANTOU_ID INT = 0
,@GROUP_ID INT = 0
,@BRANCH_ID INT = 0
,@TARGET_DATE AS DATETIME = '1900/01/01'
,@TARGET_DATE_FROM AS DATETIME = '1900/01/01'
,@TARGET_DATE_TO AS DATETIME = '1900/01/01'
)
AS


--DECLARE @TARGET_DATE AS DATETIME = '1900/01/01'
--DECLARE @TARGET_DATE_FROM AS DATETIME = '1900/01/01'
--DECLARE @TARGET_DATE_TO AS DATETIME = '1900/01/01'
--DECLARE @COMPANY_ID INT = 1
--DECLARE @BRANCH_ID INT = 0
--DECLARE @CUSTOMER_ID INT = 0
--DECLARE @GROUP_ID INT = 0
--DECLARE @CUSTOMER_TANTOU_ID INT = 0


SELECT
0 AS [SelectRow]
 , [Customer_ID]
  ,[Tantou_ID]
,[Haisya_ID]
,[Haisya_Name]
,Customer_Code
,Customer_Code_Oya
,Customer_Name
,Customer_Name_Abbr
,[Tantou_Code]
,Tantou_Name
,Tantou_Name_Abbr
,PostCode
,Mail_Title
,Mail_Address1
,Mail_Address2
,Address1
,Address2
,Address3
,Phone1
,Phone2
,Fax1
,Fax2
,SUM([Haisya_Non]) AS [Haisya_Non]
,SUM([Haisya_Temp]) AS [Haisya_Temp]
,SUM([Haisya_Commit]) AS [Haisya_Commit]
,[PrintDate]
FROM
(



SELECT 
		C.[Customer_ID]
		,ISNULL(CT.[Tantou_ID],0) AS [Tantou_ID]
		,D.[TantouID] AS [Haisya_ID]
		,Tantou.[Display_Name] AS [Haisya_Name]
	  ,C.[Customer_Code]
      ,C.[Customer_Code_Oya]
      ,C.[Customer_Name]
      ,C.[Customer_Name_Abbr]
	  ,CT.[Tantou_Code]
	  ,CT.[Tantou_Name]
      ,CT.[Tantou_Name_Abbr]
      ,CT.[PostCode]
      ,CT.[Mail_Title]
      ,CT.[Mail_Address1]
      ,CT.[Mail_Address2]
      ,CT.[Address1]
      ,CT.[Address2]
      ,CT.[Address3]
      ,CT.[Phone1]
      ,CT.[Phone2]
      ,CT.[Fax1]
      ,CT.[Fax2]

	  ,CASE WHEN H.Anken_ID IS NULL THEN 1 ELSE 0 END AS [Haisya_Non]
	  ,CASE WHEN H.Anken_ID IS NOT NULL AND H.Haisya_Status = 0 THEN 1 ELSE 0 END AS [Haisya_Temp]
	  ,CASE WHEN H.Anken_ID IS NOT NULL AND H.Haisya_Status = 1 THEN 1 ELSE 0 END AS [Haisya_Commit]
	  ,H.Anken_ID

	  ,CASE WHEN HSR.[SyabanRenraku_ID] IS NULL THEN NULL ELSE HSR.[PrintDate] END AS [PrintDate]

  FROM 
  
  [T_Anken] A
  INNER JOIN [T_Anken_Detail] D ON
  A.Anken_ID = D.Anken_ID AND
  A.Anken_Latest_Order = D.Anken_Order

  LEFT JOIN (SELECT * FROM [T_Anken_Point] WHERE [Kubun] = 1 AND [Point_Order] = 1)S ON 
  A.Anken_ID = S.Anken_ID AND
  A.Anken_Latest_Order = S.Anken_Order

  LEFT JOIN [dbo].[M_CompanyUser_Group] Tantou ON
  D.TantouID = Tantou.Group_ID

  INNER JOIN [dbo].[M_Customer] C ON
  D.KokyakuId = C.Customer_ID 
  AND A.Company_ID = C.Company_ID

  LEFT JOIN [dbo].[M_Customer_Tantou] CT ON
  D.KokyakuId = CT.Customer_ID 
  AND D.KokyakuTantouId = CT.Tantou_ID
  AND A.Company_ID = CT.Company_ID

  LEFT JOIN [dbo].[T_Haisya] H ON
  A.Anken_ID = H.Anken_ID

  LEFT JOIN [dbo].[T_Haisya_SyabanRenraku] HSR ON
  CT.Customer_ID  = HSR.Customer_ID 
  AND CT.Tantou_ID = HSR.Tantou_ID
  AND CT.Company_ID = HSR.Company_ID
  AND D.TantouID = HSR.Group_ID
  AND H.[Day] = HSR.[Day]
  AND HSR.Del_Datetime IS NULL

  WHERE
  @COMPANY_ID = A.[Company_ID]
  AND
  CASE WHEN @CUSTOMER_ID = 0 THEN 0 ELSE C.[Customer_ID] END = @CUSTOMER_ID
  AND
  CASE WHEN @CUSTOMER_TANTOU_ID = 0 THEN 0 ELSE CT.[Tantou_Code] END = @CUSTOMER_TANTOU_ID
  AND
  CASE WHEN @GROUP_ID = 0 THEN 0 ELSE D.TantouID END = @GROUP_ID
  AND
  CASE WHEN @BRANCH_ID = 0 THEN 0 ELSE A.[Branch_ID] END = @BRANCH_ID
  AND
  CASE WHEN @TARGET_DATE = '1900/01/01' THEN '1900/01/01' ELSE S.PointDate END = @TARGET_DATE
  AND
  CASE WHEN @TARGET_DATE_FROM = '1900/01/01' THEN '1900/01/01' ELSE S.PointDate END >= @TARGET_DATE_FROM
  AND
  CASE WHEN @TARGET_DATE_TO = '1900/01/01' THEN '1900/01/01' ELSE S.PointDate END <= @TARGET_DATE_TO
  AND
  A.[Anken_Status] IN (0, 1)    ----確定配車と暫定(配車必要)がターゲット
  AND
  D.NumberCommLimitKubun IN (0)   ----要車番連絡となっている案件


  )X
  GROUP BY
  [Customer_ID]
  ,[Tantou_ID]
  ,[Haisya_ID]
,[Haisya_Name]
  ,Customer_Code
,Customer_Code_Oya
,Customer_Name
,Customer_Name_Abbr
,[Tantou_Code]
,Tantou_Name
,Tantou_Name_Abbr
,PostCode
,Mail_Title
,Mail_Address1
,Mail_Address2
,Address1
,Address2
,Address3
,Phone1
,Phone2
,Fax1
,Fax2
,[PrintDate]

  

  ORDER BY
 [Customer_Code]
 , [Tantou_Code]